{% load dash_tags %}{% if score.score %}<tr class="brokenrule">{% else %}
<tr class="brokenrule greyed">{% endif %}
<td class="rclabel">
{% broken_rule_link score usr is_mozilla %}
{% if broken_rule_displays_release and score.release_id and score.rule.release_based %}
in <a href="{% url 'release' score.release_id usr.id %}">
	{% if score.display_type %}
		{{ score.release_type }}
	{% else %}
		{{ score.release_id }}
	{% endif %}
   </a>
{% endif %}</td>
<td class="rcnum scorenum">{{ score.score }}
<div class="tooltip" id="tt_{{ score.id_hash }}_tip"
title="{{ score.count }} {{ score.rule.name }}{% if broken_rule_displays_release and score.release_id and score.rule.release_based %} in {{ score.release_id }}{% endif %}
{% ifnotequal score.count score.record_numbers|length %}({{ score.record_numbers|length }} scopes){% endifnotequal %}" stay_on="true">
<table>
<tr><th>Number</th><th>Synopsis</th><th>Modified</th></tr>
{% iter_score_summaries score summary_count %}
<tr><td>{{ sum_rec_num }}</td><td>{{ sum_synopsis }}</td><td>{{ sum_last_modified }}</td></tr>
{% end_iter_score_summaries %}
{% if score.record_numbers|longer_than:summary_count %}
<tfoot><tr><td colspan="3">({{ score.record_numbers|length|subtract:summary_count }} more)</td></tr></tfoot>
{% endif %}
</table>

{% if score.release_id and score.rule.release_based and not score.rule.milestone.big_window %}
<h4>{% if score.days_left_positive %}
{{ score.release_id }} {{ score.rule.milestone.name }}: {{ score.days_left }} Days
{% else %}
{{ score.release_id }} {{ score.rule.milestone.name }}: {{ score.days_left|cut:"-" }} Days Ago
{% endif %}</h4>{% endif %}

<h4>Rule Details</h4>
<ul class="ruledetails">
<li><strong>Effective</strong>: {% sunset_or_effective score.rule 0 score.release_id %}</li>
{% if not score.rule.milestone.big_window %}
<li><strong>Sunset</strong>: {% sunset_or_effective score.rule 1 score.release_id %}</li>
{% endif %}
<li><strong>Weight</strong>: {{ score.rule.weight }}</li>
<li><strong>Time-Based Multiplier</strong>: {{ score.multiplier }}</li>
<li><strong>Objective</strong>: {{ score.rule.objective.name }}</li>
</ul>
<p class="note">
{{ score.rule.lede }}
&nbsp;<a href="{% url 'rule' score.rule.id %}">more</a>
{% if user.is_superuser %}&nbsp;
[<a href="{% url 'dashjava-admin' %}/show-rule-edit.do?ruleid={{ score.rule.id }}">edit</a>]
{% endif %}</p></div>
</td></tr>
