<tr><td class="rclabel">Release Lead</td>
    <td class="rcvalue"><a href="mailto:{{ release.responsible }}@juniper.net">{{ release.responsible }}</a></td></tr>

<tr><td class="rclabel">Systest Lead</td>
    <td class="rcvalue"><a href="mailto:{{ release.st_responsible }}@juniper.net">{{ release.st_responsible }}</a></td></tr>

<tr><td class="rclabel">Blocker Threshold</td>
    <td class="rcvalue">{{ release.blocker_threshold|floatformat:"0" }}</td></tr>

{% ifnotequal release.ibfrs_checkpoint_1_string "" %}
	<tr class="{{ release.ibfrs_checkpoint_1_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		IBFRS Check Point 1 <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#ibfrs_checkpoint_1">(?)</a>
		</td>
		<td class="rcvalue">{{ release.ibfrs_checkpoint_1_string }} </td>
	</tr>
{% endifnotequal %}
{% ifnotequal release.ibfrs_checkpoint_2_string "" %}
	<tr class="{{ release.ibfrs_checkpoint_2_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		IBFRS Check Point 2 <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#ibfrs_checkpoint_2">(?)</a>
		</td>
		<td class="rcvalue">{{ release.ibfrs_checkpoint_2_string }} </td>
	</tr>
{% endifnotequal %}
{% ifnotequal release.ibfrs_checkpoint_3_string "" %}
	<tr class="{{ release.ibfrs_checkpoint_3_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		IBFRS Check Point 3 <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#ibfrs_checkpoint_3">(?)</a>
		</td>
		<td class="rcvalue">{{ release.ibfrs_checkpoint_3_string }} </td>
	</tr>
{% endifnotequal %}
{% ifnotequal release.ibfrs_checkpoint_4_string "" %}
	<tr class="{{ release.ibfrs_checkpoint_4_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		IBFRS Check Point 4 <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#ibfrs_checkpoint_4">(?)</a>
		</td>
		<td class="rcvalue">{{ release.ibfrs_checkpoint_4_string }} </td>
	</tr>
{% endifnotequal %}
{% ifnotequal release.ibfrs_string "" %}
	<tr class="{{ release.ibfrs_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		IBFRS <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#ibfrs_{{release.ibfrs_type}}">(?)</a>
		</td>
		<td class="rcvalue">{{ release.ibfrs_string }} ({{release.ibfrs_type}})</td>
	</tr>
{% endifnotequal %}
<!--  BRANCH INFORMATION START LOOP -->
{% for ib in branch_info %}
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
	<td class="rclabel">
	   <a href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=branch&record_number={{ ib.record_num }}">{{ib.relname}}</a></td>
	<td class="rcvalue"></td>
</tr>
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
</tr>
{% ifnotequal ib.branch_steward "" %}
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Steward</td>
    <td class="rcvalue"><a href="mailto:{{ ib.branch_steward }}@juniper.net">{{ ib.branch_steward }}</a></td></tr>
	<tr class="{{ ib.collapse_start_past|yesno:"greyed,"}}">
		<td class="rclabel indented">
		Collapse Start<a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=branch&#collapse_start_{{ib.collapse_start_type}}">(?)</a>
		</td>
		<td class="rcvalue">{{ ib.collapse_start_string }} ({{ib.collapse_start_type}})</td>
	</tr>
	<tr class="{{ ib.collapse_end_past|yesno:"greyed,"}}">
		<td class="rclabel indented">
		Collapse End<a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=branch&#collapse_end_{{ib.collapse_end_type}}">(?)</a>
		</td>
		<td class="rcvalue">{{ ib.collapse_end_string }} ({{ib.collapse_end_type}})</td>
	</tr>
	<tr class="{{ ib.build_ib_beta_1_past|yesno:"greyed,"}}">
		<td class="rclabel indented">
		Build IB BETA 1<a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=branch&#build_ib_beta_1_{{ib.build_ib_beta_1_type}}">(?)</a>
		</td>
		<td class="rcvalue">{{ ib.build_ib_beta_1_string }} ({{ib.build_ib_beta_1_type}})</td>
	</tr>
	<tr class="{{ ib.deploy_ib_beta_1_past|yesno:"greyed,"}}">
		<td class="rclabel indented">
		Deploy IB BETA 1<a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=branch&#deploy_ib_beta_1_{{ib.deploy_ib_beta_1_type}}">(?)</a>
		</td>
		<td class="rcvalue">{{ ib.deploy_ib_beta_1_string }} ({{ib.deploy_ib_beta_1_type}})</td>
	</tr>
{% endifnotequal %}
{% endfor %}
<!--  END OF BRANCH INFORMATION LOOP -->

<tr{% if release.throttle_branch_past %} class="greyed"{% endif %}>
<td class="rclabel">Throttle Branch</td>
    <td class="rcvalue">{{ release.throttle_branch_string }}
   ({{ release.throttle_branch_type }})</td></tr>

{% if release.b2_record_num %}
<tr class="{{ release.b2_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b2_record_num }}&taskCode=bn">B2</a>
{% if release.b2_color %}
    <a class="hasatooltip" id="rs_{{ release.b2_record_num }}_tip" href=""><img src="{% url 'base' %}/inc/images/{{ release.b2_color }}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_rs_{{ release.b2_record_num }}_tip" title="Release status">
{{ release.b2_major_issues|default:"No additional information is available." }}
</div>
{% endif %}
</td></tr>
<tr class="{{ release.b2_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b2_build_string }}
   ({{ release.b2_build_type }})</td></tr>
{% if release.b2_respin %}
<tr class="{{ release.b2_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b2_respin_string }}
   ({{ release.b2_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b2_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b2_deploy_string }}
   ({{ release.b2_deploy_type }})</td>
</tr>
{% endif %}

<tr class="{{ release.pre_rrg_past|yesno:"greyed," }}">
    <td class="rclabel">
    Pre-RRG Check Point <a class="help_link" target="_blank" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#pre_rrg">(?)</a>
    </td>
    <td class="rcvalue">{{ release.pre_rrg_string }}
   </td></tr>

<tr class="{{ release.rrg_past|yesno:"greyed," }}">
    <td class="rclabel">
    RRG <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#rrg_{{release.rrg_type}}">(?)</a>
    </td>
    <td class="rcvalue">{{ release.rrg_string }} ({{release.rrg_type}})
   </td></tr>

<tr class="{{ release.r1_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r1_record_num }}&taskCode=rn">R1</a>
{% if release.r1_color %}
    <a class="hasatooltip" id="rs_{{ release.r1_record_num }}_tip" href=""><img src="{% url 'base' %}/inc/images/{{ release.r1_color }}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_rs_{{ release.r1_record_num }}_tip" title="Release status">
{{ release.r1_major_issues|default:"No additional information is available." }}
</div>
{% endif %}
{% ifequal release.r1_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r1_record_num }}_tip" href=""><img align="center" src="{% url 'base' %}/inc/images/lock_{{release.r1_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r1_record_num }}_tip" title="Blocker Lockdown: {{ release.r1_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r1_record_num }}&taskCode=rn">R1</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
 </div>
{% endifequal %}

</td></tr>
<tr class="{{ release.r1_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r1_build_string }}
   ({{ release.r1_build_type }})</td></tr>
{% if release.r1_respin %}
<tr class="{{ release.r1_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r1_respin_string }}
   ({{ release.r1_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r1_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r1_deploy_string }}
   ({{ release.r1_deploy_type }})</td>
</tr>

<tr{% if release.first_factory_ship_past %} class="greyed"{% endif %}>
<td class="rclabel">First Factory Ship <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#first_factory_ship_{{release.first_factory_ship_type}}">(?)</a></td>
    <td class="rcvalue">{{ release.first_factory_ship_string }}
   ({{ release.first_factory_ship_type }})</td></tr>

{% if release.r2_record_num %}
<tr class="{{ release.r2_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r2_record_num }}&taskCode=rn">R2</a>
{% if release.r2_color %}
    <a class="hasatooltip" id="rs_{{ release.r2_record_num }}_tip" href=""><img src="{% url 'base' %}/inc/images/{{ release.r2_color }}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_rs_{{ release.r2_record_num }}_tip" title="Release status">
{{ release.r2_major_issues|default:"No additional information is available." }}
</div>
{% endif %}

{% ifequal release.r2_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r2_record_num }}_tip" href=""><img align="center" src="{% url 'base' %}/inc/images/lock_{{release.r2_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r2_record_num }}_tip" title="Blocker Lockdown: {{ release.r2_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r2_record_num }}&taskCode=rn">R2</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
 </div>
{% endifequal %}



</td></tr>
<tr class="{{ release.r2_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r2_build_string }}
   ({{ release.r2_build_type }})</td></tr>
{% if release.r2_respin %}
<tr class="{{ release.r2_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r2_respin_string }}
   ({{ release.r2_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r2_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r2_deploy_string }}
   ({{ release.r2_deploy_type }})</td>
</tr>
{% endif %}
{% if release.r3_record_num %}
<tr class="{{ release.r3_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r3_record_num }}&taskCode=rn">R3</a>
{% if release.r3_color %}
    <a class="hasatooltip" id="rs_{{ release.r3_record_num }}_tip" href=""><img src="{% url 'base' %}/inc/images/{{ release.r3_color }}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_rs_{{ release.r3_record_num }}_tip" title="Release status">
{{ release.r3_major_issues|default:"No additional information is available." }}
</div>
{% endif %}
{% ifequal release.r3_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r3_record_num }}_tip" href=""><img align="center" src="{% url 'base' %}/inc/images/lock_{{release.r3_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r3_record_num }}_tip" title="Blocker Lockdown: {{ release.r3_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r3_record_num }}&taskCode=rn">R3</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
 </div>
{% endifequal %}

</td></tr>
<tr class="{{ release.r3_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r3_build_string }}
   ({{ release.r3_build_type }})</td></tr>
{% if release.r3_respin %}
<tr class="{{ release.r3_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r3_respin_string }}
   ({{ release.r3_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r3_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r3_deploy_string }}
   ({{ release.r3_deploy_type }})</td>
</tr>
{% endif %}
{% if release.r4_record_num %}
<tr class="{{ release.r4_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r4_record_num }}&taskCode=rn">R4</a>
{% if release.r4_color %}
    <a class="hasatooltip" id="rs_{{ release.r4_record_num }}_tip" href=""><img src="{% url 'base' %}/inc/images/{{ release.r4_color }}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_rs_{{ release.r4_record_num }}_tip" title="Release status">
{{ release.r4_major_issues|default:"No additional information is available." }}
</div>
{% endif %}
{% ifequal release.r4_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r4_record_num }}_tip" href=""><img align="center" src="{% url 'base' %}/inc/images/lock_{{release.r4_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r4_record_num }}_tip" title="Blocker Lockdown: {{ release.r4_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r4_record_num }}&taskCode=rn">R4</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
 </div>
{% endifequal %}


</td></tr>
<tr class="{{ release.r4_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r4_build_string }}
   ({{ release.r4_build_type }})</td></tr>
{% if release.r4_respin %}
<tr class="{{ release.r4_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r4_respin_string }}
   ({{ release.r4_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r4_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r4_deploy_string }}
   ({{ release.r4_deploy_type }})</td>
</tr>
{% endif %}

<tr{% if release.eol_past %} class="greyed"{% endif %}>
<td class="rclabel">EOL</td>
    <td class="rcvalue">{{ release.eol_string }}
   ({{ release.eol_type }})</td></tr>

<tr{% if release.external_eol_past %} class="greyed"{% endif %}>
<td class="rclabel">External EOL</td>
    <td class="rcvalue">{{ release.external_eol_string }}
   ({{ release.external_eol_type }})</td></tr>

<tr{% if release.eeol_past %} class="greyed"{% endif %}>
<td class="rclabel">EEOL</td>
    <td class="rcvalue">{{ release.eeol_string }}
   ({{ release.eeol_type }})</td></tr>
