<tr><td class="rclabel">Release Lead</td>
    <td class="rcvalue"><a href="mailto:{{ release.responsible }}@juniper.net">{{ release.responsible }}</a></td></tr>

<tr><td class="rclabel">Systest Lead</td>
    <td class="rcvalue"><a href="mailto:{{ release.st_responsible }}@juniper.net">{{ release.st_responsible }}</a></td></tr>

<tr><td class="rclabel">Blocker Threshold</td>
    <td class="rcvalue">{{ release.blocker_threshold|floatformat:"0" }}</td></tr>


{% ifnotequal release.pre_ibrg_one_string "" %}
	<tr class="{{ release.pre_ibrg_one_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		Pre-IBRG Check Point 1 <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#pre_ibrg_one">(?)</a>
		</td>
		<td class="rcvalue">{{ release.pre_ibrg_one_string }} </td>
	</tr>
{% endifnotequal %}
{% ifnotequal release.pre_ibrg_two_string "" %}
	<tr class="{{ release.pre_ibrg_two_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		Pre-IBRG Check Point 2 <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#pre_ibrg_two">(?)</a>
		</td>
		<td class="rcvalue">{{ release.pre_ibrg_two_string }} </td>
	</tr>
{% endifnotequal %}
{% ifnotequal release.ibrg_string "" %}
	<tr class="{{ release.ibrg_past|yesno:"greyed,"}}">
		<td class="rclabel ">
		IBRG <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#ibrg_{{release.ib1_ibrg_type}}">(?)</a>
		</td>
		<td class="rcvalue">{{ release.ibrg_string }} ({{release.ibrg_type}})</td>
	</tr>
{% endifnotequal %}
<!--  BRANCH INFORMATION START LOOP -->
{% for ib in branch_info %}
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
	<td class="rclabel">
	   <a href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=branch&record_number={{ ib.record_num }}">{{ib.relname}}</a></td>
	<td class="rcvalue"></td>
</tr>
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Manager</td>
    <td class="rcvalue"><a href="mailto:{{ ib.branch_manager }}@juniper.net">{{ ib.branch_manager }}</a></td></tr>
{% ifnotequal ib.branch_steward "" %}
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Steward</td>
    <td class="rcvalue"><a href="mailto:{{ ib.branch_steward }}@juniper.net">{{ ib.branch_steward }}</a></td></tr>
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Steward Business Group</td>
    <td class="rcvalue">{{ ib.steward_bg }}</td></tr>
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Steward Business Unit</td>
    <td class="rcvalue">{{ ib.steward_bu }}</td></tr>
{% endifnotequal %}
{% if ib.stakeholder_bg %}
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Stakeholder Business Group</td>
    <td class="rcvalue">{{ ib.stakeholder_bg_string }}</td></tr>
{% endif %}
{% if ib.stakeholder_bu %}
<tr class="{{ ib.is_branch_collapsed|yesno:"greyed," }}">
    <td class="rclabel indented">Branch Stakeholder Business Unit</td>
    <td class="rcvalue">{{ ib.stakeholder_bu_string }}</td></tr>
{% endif %}
{% ifnotequal ib.teg_string "" %}
	<tr class="{{ ib.teg_planned_past|yesno:"greyed,"}}{{ ib.is_branch_collapsed|yesno:"greyed," }} ">
		<td class="rclabel indented">
		TEG <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#teg">(?)</a>
		</td>
		<td class="rcvalue">{{ ib.teg_string }}</td>
	</tr>
{% endifnotequal %}
{% endfor %}
<!--  END OF BRANCH INFORMATION LOOP -->

<tr class="{{ release.tprg_past|yesno:"greyed," }}">
    <td class="rclabel">
    TPRG <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#tprg">(?)</a>
    </td>
    <td class="rcvalue">{{ release.tprg_string }}
   </td></tr>
<tr{% if release.throttle_branch_past %} class="greyed"{% endif %}>
<td class="rclabel">Throttle Branch</td>
    <td class="rcvalue">{{ release.throttle_branch_string }}
   ({{ release.throttle_branch_type }})</td></tr>

<tr{% if release.beta_start_past %} class="greyed"{% endif %}>
<td class="rclabel">Beta Start</td>
    <td class="rcvalue">{{ release.beta_start_string }}
   ({{ release.beta_start_type }})</td></tr>

{% if release.b1_record_num %}
<tr class="{{ release.b1_deploy_past|yesno:"greyed," }}">
<td class="rclabel">
   <a href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b1_record_num }}&taskCode=bn">B1</a></td></tr>
<tr class="{{ release.b1_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b1_build_string }}
   ({{ release.b1_build_type }})</td></tr>
{% if release.b1_respin %}
<tr class="{{ release.b1_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b1_respin_string }}
   ({{ release.b1_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b1_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b1_deploy_string }}
   ({{ release.b1_deploy_type }})</td>
</tr>
{% endif %}
{% if release.b2_record_num %}
<tr class="{{ release.b2_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b2_record_num }}&taskCode=bn">B2</a></td></tr>
<tr class="{{ release.b2_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b2_build_string }}
   ({{ release.b2_build_type }})</td></tr>
{% if release.b2_respin %}
<tr class="{{ release.b2_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b2_respin_string }}
   ({{ release.b2_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b2_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b2_deploy_string }}
   ({{ release.b2_deploy_type }})</td>
</tr>
{% endif %}
{% if release.b3_record_num %}
<tr class="{{ release.b3_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b3_record_num }}&taskCode=bn">B3</a></td></tr>
<tr class="{{ release.b3_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b3_build_string }}
   ({{ release.b3_build_type }})</td></tr>
{% if release.b3_respin %}
<tr class="{{ release.b3_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b3_respin_string }}
   ({{ release.b3_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b3_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b3_deploy_string }}
   ({{ release.b3_deploy_type }})</td>
</tr>
{% endif %}

<tr class="{{ release.pre_rrg_past|yesno:"greyed," }}">
    <td class="rclabel">
    Pre-RRG Check Point <a class="help_link" target="_blank" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#pre_rrg">(?)</a>
    </td>
    <td class="rcvalue">{{ release.pre_rrg_string }}
   </td></tr>

<tr class="{{ release.rrg_past|yesno:"greyed," }}">
    <td class="rclabel">
    RRG <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#rrg_{{release.rrg_type}}">(?)</a>
    </td>
    <td class="rcvalue">{{ release.rrg_string }} ({{release.rrg_type}})
   </td></tr>

<tr class="{{ release.r1_deploy_past|yesno:"greyed," }}">
<td class="rclabel">
<a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r1_record_num }}&taskCode=rn">R1</a>
{% ifequal release.r1_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r1_record_num }}_tip" href=""><img align="center" src="{% url base %}/inc/images/lock_{{release.r1_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r1_record_num }}_tip" title="Blocker Lockdown: {{ release.r1_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r1_record_num }}&taskCode=rn">R1</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
</div>
{% endifequal %}
</td></tr>
<tr class="{{ release.r1_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r1_build_string }}
   ({{ release.r1_build_type }})</td></tr>
{% if release.r1_respin %}
<tr class="{{ release.r1_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r1_respin_string }}
   ({{ release.r1_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r1_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r1_deploy_string }}
   ({{ release.r1_deploy_type }})</td>
</tr>

<tr{% if release.first_factory_ship_past %} class="greyed"{% endif %}>
<td class="rclabel">First Factory Ship <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#first_factory_ship_{{release.first_factory_ship_type}}">(?)</a></td>
    <td class="rcvalue">{{ release.first_factory_ship_string }}
   ({{ release.first_factory_ship_type }})</td></tr>

<tr{% if release.external_ship_past %} class="greyed"{% endif %}>
<td class="rclabel">External Ship</td>
    <td class="rcvalue">{{ release.external_ship_string }}
   ({{ release.external_ship_type }})</td></tr>

{% if release.r2_record_num %}
<tr class="{{ release.r2_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r2_record_num }}&taskCode=rn">R2</a>
{% ifequal release.r2_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r2_record_num }}_tip" href=""><img align="center" src="{% url base %}/inc/images/lock_{{release.r2_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r2_record_num }}_tip" title="Blocker Lockdown: {{ release.r2_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r2_record_num }}&taskCode=rn">R2</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
</div>
{% endifequal %}
</td></tr>
<tr class="{{ release.r2_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r2_build_string }}
   ({{ release.r2_build_type }})</td></tr>
{% if release.r2_respin %}
<tr class="{{ release.r2_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r2_respin_string }}
   ({{ release.r2_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r2_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r2_deploy_string }}
   ({{ release.r2_deploy_type }})</td>
</tr>
{% endif %}
{% if release.r3_record_num %}
<tr class="{{ release.r3_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r3_record_num }}&taskCode=rn">R3</a>
{% ifequal release.r3_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r3_record_num }}_tip" href=""><img align="center" src="{% url base %}/inc/images/lock_{{release.r3_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r3_record_num }}_tip" title="Blocker Lockdown: {{ release.r3_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r3_record_num }}&taskCode=rn">R3</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
</div>
{% endifequal %}

</td></tr>
<tr class="{{ release.r3_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r3_build_string }}
   ({{ release.r3_build_type }})</td></tr>
{% if release.r3_respin %}
<tr class="{{ release.r3_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r3_respin_string }}
   ({{ release.r3_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r3_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r3_deploy_string }}
   ({{ release.r3_deploy_type }})</td>
</tr>
{% endif %}
{% if release.r4_record_num %}
<tr class="{{ release.r4_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r4_record_num }}&taskCode=rn">R4</a>
{% ifequal release.r4_blocker_lockdown 'yes' %}
<a class="hasatooltip" id="ld_{{ release.r4_record_num }}_tip" href=""><img align="center" src="{% url base %}/inc/images/lock_{{release.r4_blocker_lockdown|default:"no"}}.png" /></a>
<div style="display:none;" class="tooltip" id="tt_ld_{{ release.r4_record_num }}_tip" title="Blocker Lockdown: {{ release.r4_blocker_lockdown|capfirst }}" stay_on="true">
Only an authorized list of Junos Release Management (JRM), JTAC, and BU release reps are allowed to set "MR" Blocker type on PR scopes for this <a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r4_record_num }}&taskCode=rn">R4</a> release
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://matrix.juniper.net/docs/DOC-123008">Read More...</a>
</div>
{% endifequal %}
</td></tr>
<tr class="{{ release.r4_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r4_build_string }}
   ({{ release.r4_build_type }})</td></tr>
{% if release.r4_respin %}
<tr class="{{ release.r4_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r4_respin_string }}
   ({{ release.r4_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r4_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r4_deploy_string }}
   ({{ release.r4_deploy_type }})</td>
</tr>
{% endif %}

<tr{% if release.eol_past %} class="greyed"{% endif %}>
<td class="rclabel">EOL</td>
    <td class="rcvalue">{{ release.eol_string }}
   ({{ release.eol_type }})</td></tr>

<tr{% if release.external_eol_past %} class="greyed"{% endif %}>
<td class="rclabel">External EOL</td>
    <td class="rcvalue">{{ release.external_eol_string }}
   ({{ release.external_eol_type }})</td></tr>

<tr{% if release.eeol_past %} class="greyed"{% endif %}>
<td class="rclabel">EEOL</td>
    <td class="rcvalue">{{ release.eeol_string }}
   ({{ release.eeol_type }})</td></tr>
