<!-- Collection of Javascript Template -->
<script id="agenda-rule-row-template" type="template">
<% if (count == 1) {%>
    <% for (var idx in data) { 
        var datum = data[idx];
        var tt_val_rows = datum.tooltip.split('@!');
        %>
        <tr class="edw_data brokenrule">
            <td class="rclabel">
                <% if (release == "UNK" && datum.ibRelease == "UNK" && datum.dashboardRelease == "UNK") { %>
                    <a href="{% url 'metdetail' usr.id %}?metric_name=<%= datum.metricsNiceName %>"
                        id="<%= datum.hash %>_tip" class="ruletooltip">
                        <!-- EDW cannot determine the releases for this -->
                        <%= datum.countDistinct %> <%=datum.metricsName %>
                    </a>
                    <% } else {%>
                    <a href="{% url 'metdetail' usr.id %}?metric_name=<%= datum.metricsNiceName %>&release=<%=release%>"
                        id="<%= datum.hash %>_tip" class="ruletooltip">
                        <%= datum.countDistinct %> <%=datum.metricsName %> in <%=release%>
                    </a>
                <% } %>
                <div class="tooltip" id="tt_<%= datum.hash %>_tip"
                    title="<%= datum.countDistinct %> <%=datum.metricsName %>" stay_on="true">
                    <p>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Number</th>
                                    <th>Synopsis</th>
                                    <th>Modified</th>
                                </tr>
                                <% for (var r in tt_val_rows) { 
                                    var tt_val_cols = tt_val_rows[r].split('#!');
                                %>
                                    <tr>
                                        <% for (var tt_col in tt_val_cols) { %>
                                            <td><%= tt_val_cols[tt_col] %></td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </p>
                </div>
            </td>
            <td class="rcnum scorenum"><%=datum.metricsScore%></td>
        </tr>
    <% } %>                
<% }else {%>    
    <tr class="edw_data brokenrule">
        <td class="rclabel">
        <!-- shows the UNK first which shows it is main release -->
        <ul class="group_rule">
            <li>
                <% var datum = data["UNK"];    %>
                <a href="{% url 'metdetail' usr.id %}?metric_name=<%= datum.metricsNiceName %>&release=<%=release%>"
                    id="<%= datum.hash %>_tip">
                    <%= datum.countDistinct %> <%=datum.metricsName %> in <%=release%>
                </a>
                
                <!-- iterate for other -->
                <ul>
                <% for (var idx in data) {
                    if (idx == "UNK") {continue;} 
                    var indatum = data[idx];
                    var in_tt_val_rows = indatum.tooltip.split('@!');
                    %>
                    <li>
                        <table class="group_rule">
                            <tr>
                                <td>
                                    <a href="{% url 'metdetail' usr.id %}?metric_name=<%= indatum.metricsNiceName %>&release=<%=indatum.ibRelease%>"
                                        id="<%= indatum.hash %>_tip" class="ruletooltip">
                                        <%= indatum.countDistinct %> <%=indatum.metricsName %> in <%=indatum.ibRelease%>
                                    </a>
                                    <div class="tooltip" id="tt_<%= indatum.hash %>_tip"
                                        title="<%= indatum.countDistinct %> <%=indatum.metricsName %>" stay_on="true">
                                        <p>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Number</th>
                                                        <th>Synopsis</th>
                                                        <th>Modified</th>
                                                    </tr>
                                                    <% for (var r in in_tt_val_rows) { 
                                                        var in_tt_val_cols = in_tt_val_rows[r].split('#!');
                                                    %>
                                                    <tr>
                                                        <% for (var tt_col in in_tt_val_cols) { %>
                                                            <td><%= in_tt_val_cols[tt_col] %></td>
                                                        <% } %>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </p>
                                    </div>
                                    
                                </td>
                                <td class="rcnum scorenum"><%= indatum.metricsScore %></td>
                            </tr>
                        </table>
                    </li>
                <% } %>
                </ul>
            </li>
        </ul>
        </td>
        <td class="rcnum scorenum"><%=datum.metricsScore%></td>
    </tr>                
<% } %>
</script>


<script id="agenda2-rule-row-template" type="template">
    <tr class="brokenrule">
        <td class="rclabel">
            <% if (dashboardRelease == "UNK" && ibRelease == "UNK") { %>
                <a href="{% url 'metdetail' usr.id %}?metric_name=<%= metricsNiceName %>"
                    id="<%= hash %>_tip" class="ruletooltip">
                    <%= countDistinct %> <%=metricsName %>
                </a>
            <% } else {%>
                    <% if (dashboardRelease != "UNK" && ibRelease == "UNK") { %> 
                        <a href="{% url 'metdetail' usr.id %}?metric_name=<%= metricsNiceName %>"
                            id="<%= hash %>_tip" class="ruletooltip">
                            <%= countDistinct %> <%=metricsName %> in <%= dashboardRelease %>
                        </a> 
                    <% } %>
                    <% if (dashboardRelease != "UNK" && ibRelease != "UNK") { %> 
                        <a href="{% url 'metdetail' usr.id %}?metric_name=<%= metricsNiceName %>"
                            id="<%= hash %>_tip" class="ruletooltip">
                            <%= countDistinct %> <%=metricsName %> in <%= ibRelease %>
                        </a> 
                    </a>
                    <% } %>
            <% } %>
        </td>
        <td class="rcnum scorenum">
            <%= metricsScore %>
            <div class="tooltip" id="tt_<%= hash %>_tip"
                title="<%=metricsName%>" stay_on="true">
                Metrics : <%= metricsName %>
                <br />
                Count Distinct : <%= countDistinct %>
                <br />
                Count Full  : <%= countFull %>
                <br />
                <%= tooltip %>
            </div>
        </td>
    </tr>
</script>

<script id="agenda-rule-header-template" type="template">
    <tr>
        <th colspan="2">
            <div class="section-name"><%= metricsCategory %> </div>
            <div class="section-desc"></div>
        </th>
    </tr>
</script>

<script id="agenda-rule-totals-template" type="template">
    <% _.each(data,function(met){ %>
        <% if (met.metricsName == 'prs_user' || 
               met.metricsName == 'critical_prs' ||
               met.metricsName == 'regression_prs' ||
               met.metricsName == 'major_prs' ||
               met.metricsName == 'minor_prs') { %> 
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;

                    <% if (met.dashboardRelease != "UNK" && met.ibRelease == "UNK") { %>
                        <a href="{% url 'metdetail' usr.id %}?metric_name=<%= met.metricsName %>&release=<%= met.dashboardRelease %>" 
                            id="<%= met.hash %>_tip"><%= met.countDistinct %> <%= met.ruleName %></a>
                    <% } else if (met.dashboardRelease != "UNK" && met.ibRelease != "UNK") { %> 
                        <a href="{% url 'metdetail' usr.id %}?metric_name=<%= met.metricsName %>&release=<%= met.ibRelease %>" 
                            id="<%= met.hash %>_tip"><%= met.countDistinct %> <%= met.ruleName %></a>
                    <% } else { %>
                        <a href="{% url 'metdetail' usr.id %}?metric_name=<%= met.metricsName %>&release=None" 
                            id="<%= met.hash %>_tip"><%= met.countDistinct %> <%= met.ruleName %></a>
                    <% } %>
                </td>
            </tr>
        <% } %>
    <% }); %>
</script>

<script id="agenda-rule-totals-blocker-template" type="template">
    <% _.each(data,function(met){ %>
        <% if (met.metricsName == 'blocker_prs' ||
               met.metricsName == 'test_blockers' ||
               met.metricsName == 'beta_blocker_prs') { %> 
            <tr>
                <td>&nbsp;&nbsp;
                    <% if (met.dashboardRelease != "UNK" && met.ibRelease == "UNK") { %>
                            <a href="{% url 'metdetail' usr.id %}?metric_name=<%= met.metricsName %>&release=<%= met.dashboardRelease %>" 
                                id="<%= met.hash %>_tip"><%= met.countDistinct %> <%= met.ruleName %></a>
                    <% } else if (met.dashboardRelease != "UNK" && met.ibRelease != "UNK") { %> 
                            <a href="{% url 'metdetail' usr.id %}?metric_name=<%= met.metricsName %>&release=<%= met.ibRelease %>" 
                                id="<%= met.hash %>_tip"><%= met.countDistinct %> <%= met.ruleName %></a>
                    <% } else { %>
                            <a href="{% url 'metdetail' usr.id %}?metric_name=<%= met.metricsName %>&release=None" 
                                id="<%= met.hash %>_tip"><%= met.countDistinct %> <%= met.ruleName %></a>
                    <% } %>
                </td>
            </tr>
        <% } %>
    <% }); %>
</script>
