{% if has_pr_rules %}<div id="feedform-holder"><form id="feedform">
<input type="hidden" id="feedurl" value="{% url 'matrix' %}?{% if release_id %}release_id={{ release_id }}{% endif %}{% if releases %}releases={{ rel_list_for_edit}}{% endif %}&users={{ usernames }}&reports={{ reports }}&rules={{ rule_ids|join:"," }}{% if orientation %}&orient={{ orientation }}{% endif %}{% if not generated_title %}&title={{ title|urlencode }}{% endif %}{%if found_during %}&found_during={{ found_during }}{% endif %}&feedback=">
<select class="noprint" name="feedback" id="feed">
<option value="yes"{% ifequal feedback "yes" %} selected="selected"{% endifequal %}>include feedback PRs</option>
<option value="all"{% ifequal feedback "all" %}selected="selected"{% endifequal %}>include monitored ,suspended and feedback PRs</option>
<option value="no"{% ifequal feedback "no" %}selected="selected"{% endifequal %}>exclude monitored, suspended and feedback PRs</option>
<option value="only"{% ifequal feedback "only" %}selected="selected"{% endifequal %}>feedback PRs only</option>
<option value="monitored"{% ifequal feedback "monitored" %}selected="selected"{% endifequal %}>monitored PRs only</option>
<option value="suspended"{% ifequal feedback "suspended" %}selected="selected"{% endifequal %}>suspended PRs only</option>
<option value="inreport"{% ifequal feedback "inreport" %}selected="selected"{% endifequal %}>Reported-in PRs only</option>
<option value="backlog"{% ifequal feedback "backlog" %}selected="selected"{% endifequal %}>show NOT Reported-in PR</option>

</select>
<div class="context-help ch-one-liner"><div class="ch-content" id="feedform-context">
Filter the matrix based on PR feedback state.
</div></div>
</form>
<div class="print-only">
{% ifequal feedback "yes" %}feedback PRs included{% endifequal %}
{% ifequal feedback "no" %}monitored, suspended and feedback PRs excluded{% endifequal %}
{% ifequal feedback "all" %}Monitored, Suspended and Feedback PRs included{% endifequal %}
{% ifequal feedback "only" %}feedback PRs only{% endifequal %}
{% ifequal feedback "monitored" %}monitored PRs only{% endifequal %}
{% ifequal feedback "suspended" %}suspended PRs only{% endifequal %}
{% ifequal feedback "inreport" %}Reported-in PRs only{% endifequal %}
{% ifequal feedback "backlog" %}show NOT Reported-in PR{% endifequal %}

</div></div>{% endif %}
