{% if has_pr_rules %}<div id="fdform-holder"><form id="fdform">
<input type="hidden" id="fdurl" value="{% url 'matrix' %}?{% if release_id %}release_id={{ release_id }}{% endif %}{% if releases %}releases={{ rel_list_for_edit}}{% endif %}&users={{ usernames }}&reports={{ reports }}&rules={{ rule_ids|join:"," }}{% if orientation %}&orient={{ orientation }}{% endif %}{% if not generated_title %}&title={{ title|urlencode }}{% endif %}{%if found_during %}&feedback={{ feedback }}{% endif %}&found_during=">
<select class="noprint" name="found_during" id="fd">
<option value="all" {% ifequal found_during "all" %} selected="selected"{% endifequal %}>All</option>
<option value="fdvals" {% ifequal found_during "fdvals" %} selected="selected"{% endifequal %}>Found during *(see found during values below)</option>
</select>
<div class="context-help ch-one-liner"><div class="ch-content" id="fdform-context">
Filter the matrix based on Found During values. 
</div></div>
</form>
<div class="print-only">
{% ifequal found_during "all" %}All{% endifequal %}
{% ifequal found_during "fdvals" %}Found during *(see found during values below) {% endifequal %}
</div></div>{% endif %}
