<tr><td class="rclabel">NPI Phase </td>
 <td class="rcvalue">
 <a href="https://{{ NPI.host }}{{ NPI.path }}/do/showView?tableName=npi&record_number={{ release.npi_record_num }}">{{ release.phase }}</a>
 </td></tr>

<tr><td class="rclabel">Release Lead</td>
    <td class="rcvalue"><a href="mailto:{{ release.responsible }}@juniper.net">{{ release.responsible }}</a></td></tr>

<tr><td class="rclabel">Systest Lead</td>
    <td class="rcvalue"><a href="mailto:{{ release.st_responsible }}@juniper.net">{{ release.st_responsible }}</a></td></tr>

<tr><td class="rclabel">Blocker Threshold</td>
    <td class="rcvalue">{{ release.blocker_threshold|floatformat:"0" }}</td></tr>

<tr{% if release.p0_ll_exit_past %} class="greyed"{% endif %}>
<td class="rclabel">P0-LL Exit</td>
    <td class="rcvalue">{{ release.p0_ll_exit_string }}</td></tr>
<tr{% if release.p0_exit_past %} class="greyed"{% endif %}>
<td class="rclabel">P0 Exit</td>
    <td class="rcvalue">{{ release.p0_exit_string }}</td></tr>
<tr{% if release.p1_exit_past %} class="greyed"{% endif %}>
<td class="rclabel">P1 Exit</td>
    <td class="rcvalue">{{ release.p1_exit_string }}</td></tr>

<tr{% if release.func_spec_complete_past %} class="greyed"{% endif %}>
<td class="rclabel">Functional Spec Check-In</td>
    <td class="rcvalue">{{ release.func_spec_complete_string }}
   ({{ release.func_spec_complete_type }})</td></tr>

<tr{% if release.func_spec_approved_past %} class="greyed"{% endif %}>
<td class="rclabel">Functional Spec Approved</td>
    <td class="rcvalue">{{ release.func_spec_approved_string }}
   ({{ release.func_spec_approved_type }})</td></tr>

<tr{% if release.dev_complete_one_past %} class="greyed"{% endif %}>
<td class="rclabel">Dev Complete One</td>
    <td class="rcvalue">{{ release.dev_complete_one_string }}
   ({{ release.dev_complete_one_type }})</td></tr>

<tr{% if release.dev_complete_two_past %} class="greyed"{% endif %}>
<td class="rclabel">Dev Complete Two</td>
    <td class="rcvalue">{{ release.dev_complete_two_string }}
   ({{ release.dev_complete_two_type }})</td></tr>

<tr{% if release.dev_complete_three_past %} class="greyed"{% endif %}>
<td class="rclabel">Dev Complete Three</td>
    <td class="rcvalue">{{ release.dev_complete_three_string }}
   ({{ release.dev_complete_three_type }})</td></tr>

<tr{% if release.systest_start_past %} class="greyed"{% endif %}>
<td class="rclabel">Systest Start</td>
    <td class="rcvalue">{{ release.systest_start_string }}
   ({{ release.systest_start_type }})</td></tr>

<tr{% if release.p2_exit_past %} class="greyed"{% endif %}>
<td class="rclabel">P2 Exit</td>
    <td class="rcvalue">{{ release.p2_exit_string }}</td></tr>

<tr{% if release.throttle_branch_past %} class="greyed"{% endif %}>
<td class="rclabel">Throttle Branch</td>
    <td class="rcvalue">{{ release.throttle_branch_string }}
   ({{ release.throttle_branch_type }})</td></tr>

<tr{% if release.p3_exit_past %} class="greyed"{% endif %}>
<td class="rclabel">P3 Exit</td>
    <td class="rcvalue">{{ release.p3_exit_string }}</td></tr>

<tr{% if release.beta_start_past %} class="greyed"{% endif %}>
<td class="rclabel">Beta Start</td>
    <td class="rcvalue">{{ release.beta_start_string }}
   ({{ release.beta_start_type }})</td></tr>

{% if release.b1_record_num %}
<tr class="{{ release.b1_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b1_record_num }}&taskCode=bn">B1</a></td>
<tr class="{{ release.b1_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b1_build_string }}
   ({{ release.b1_build_type }})</td></tr>
{% if release.b1_respin %}
<tr class="{{ release.b1_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b1_respin_string }}
   ({{ release.b1_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b1_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b1_deploy_string }}
   ({{ release.b1_deploy_type }})</td>
</tr>
{% endif %}
{% if release.b2_record_num %}
<tr class="{{ release.b2_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b2_record_num }}&taskCode=bn">B2</a></td>
<tr class="{{ release.b2_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b2_build_string }}
   ({{ release.b2_build_type }})</td></tr>
{% if release.b2_respin %}
<tr class="{{ release.b2_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b2_respin_string }}
   ({{ release.b2_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b2_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b2_deploy_string }}
   ({{ release.b2_deploy_type }})</td>
</tr>
{% endif %}
{% if release.b3_record_num %}
<tr class="{{ release.b3_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.b3_record_num }}&taskCode=bn">B3</a></td>
<tr class="{{ release.b3_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.b3_build_string }}
   ({{ release.b3_build_type }})</td></tr>
{% if release.b3_respin %}
<tr class="{{ release.b3_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.b3_respin_string }}
   ({{ release.b3_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.b3_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.b3_deploy_string }}
   ({{ release.b3_deploy_type }})</td>
</tr>
{% endif %}

<tr{% if release.p4_exit_past %} class="greyed"{% endif %}>
<td class="rclabel">P4 Exit</td>
    <td class="rcvalue">{{ release.p4_exit_string }}</td></tr>

<tr class="{{ release.r1_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r1_record_num }}&taskCode=rn">R1</a></td></tr>
<tr class="{{ release.r1_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r1_build_string }}
   ({{ release.r1_build_type }})</td></tr>
{% if release.r1_respin %}
<tr class="{{ release.r1_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r1_respin_string }}
   ({{ release.r1_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r1_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r1_deploy_string }}
   ({{ release.r1_deploy_type }})</td>
</tr>

<tr{% if release.first_factory_ship_past %} class="greyed"{% endif %}>
<td class="rclabel">First Factory Ship <a class="help_link" target="_blank" href="https://{{ Releases.host }}{{ Releases.path }}/do/table-docs?tableName=Milestones&#first_factory_ship_{{release.first_factory_ship_type}}">(?)</a></td>
    <td class="rcvalue">{{ release.first_factory_ship_string }}
   ({{ release.first_factory_ship_type }})</td></tr>

<tr{% if release.external_ship_past %} class="greyed"{% endif %}>
<td class="rclabel">External Ship</td>
    <td class="rcvalue">{{ release.external_ship_string }}
   ({{ release.external_ship_type }})</td></tr>

{% if release.r2_record_num %}
<tr class="{{ release.r2_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r2_record_num }}&taskCode=rn">R2</a></td></tr>
<tr class="{{ release.r2_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r2_build_string }}
   ({{ release.r2_build_type }})</td></tr>
{% if release.r2_respin %}
<tr class="{{ release.r2_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r2_respin_string }}
   ({{ release.r2_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r2_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r2_deploy_string }}
   ({{ release.r2_deploy_type }})</td>
</tr>
{% endif %}
{% if release.r3_record_num %}
<tr class="{{ release.r3_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r3_record_num }}&taskCode=rn">R3</a></td></tr>
<tr class="{{ release.r3_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r3_build_string }}
   ({{ release.r3_build_type }})</td></tr>
{% if release.r3_respin %}
<tr class="{{ release.r3_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r3_respin_string }}
   ({{ release.r3_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r3_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r3_deploy_string }}
   ({{ release.r3_deploy_type }})</td>
</tr>
{% endif %}
{% if release.r4_record_num %}
<tr class="{{ release.r4_deploy_past|yesno:"greyed," }}">
<td class="rclabel"><a
 href="https://{{ Releases.host }}{{ Releases.path }}/do/showView?tableName=Milestones&record_number={{ release.r4_record_num }}&taskCode=rn">R4</a></td></tr>
<tr class="{{ release.r4_build_past|yesno:"greyed," }}"><td class="rclabel indented">Build</td>
    <td class="rcvalue">{{ release.r4_build_string }}
   ({{ release.r4_build_type }})</td></tr>
{% if release.r4_respin %}
<tr class="{{ release.r4_respin_past|yesno:"greyed," }}"><td class="rclabel indented">Respin</td>
    <td class="rcvalue">{{ release.r4_respin_string }}
   ({{ release.r4_respin_type }})</td></tr>{% endif %}
<tr class="{{ release.r4_deploy_past|yesno:"greyed," }}"><td class="rclabel indented">Deploy</td>
    <td class="rcvalue">{{ release.r4_deploy_string }}
   ({{ release.r4_deploy_type }})</td>
</tr>
{% endif %}

<tr{% if release.eol_past %} class="greyed"{% endif %}>
<td class="rclabel">EOL</td>
    <td class="rcvalue">{{ release.eol_string }}
   ({{ release.eol_type }})</td></tr>

<tr{% if release.external_eol_past %} class="greyed"{% endif %}>
<td class="rclabel">External EOL</td>
    <td class="rcvalue">{{ release.external_eol_string }}
   ({{ release.external_eol_type }})</td></tr>

<tr{% if release.eeol_past %} class="greyed"{% endif %}>
<td class="rclabel">EEOL</td>
    <td class="rcvalue">{{ release.eeol_string }}
   ({{ release.eeol_type }})</td></tr>
