<table class="tablesorter" style="padding:0px;margin:0px">
<thead>
	<tr>
		<th class="head_prfix_empty">&nbsp;</th>
		{% for item in matrix %}
		<th class="small_head_prfix_empty">
			{{ item.displayName }} <br />
			{{ item.condition|safe }}
		</th>
		{% endfor %}
	</tr>
</thead>
</table>
