{% load dash_tags %}
<!--  control the sorting -->
<thead>
	<tr>
		<th class="head_prfix">Business Unit</th>
		{% for item in matrix %}
		<th class="small_head_prfix">
			{{ item.label.numerator }}
		</th>
		<th class="small_head_prfix">
			{{ item.label.denominator }}
		</th>
		<th class="small_head_prfix">
			{{ item.label.result }}
		</th>
		{% endfor %}
	</tr>
</thead>
<!--  start iterating the Data -->
<tbody>
	{% for datum in data %}
		{% if datum.displayed %}	
			<tr>
				<th ><a href="{{datum.linkDisplayName}}">{{datum.displayName}}</a></th>
				{% for item in matrix %}
					{% for num_item in datum|getHash:item.uid%}
						<td bgcolor="{{ num_item.bgcolor|safe}}"><font color="{{ num_item.color_text|safe }}">{{ num_item.link|safe}}</font></td>
					{% endfor %}
				{% endfor %}
			</tr>
		{% endif %}
	{% endfor %}
</tbody>