{% load dash_tags %}
<div id="rules-by-type">
{% for rule_type, type_description in rule_types %}
<div class="boxed"><strong>{{ type_description }}</strong><br>
<ul id="{{ rule_type }}_rules">
{% for rule in rules %}
    {% ifequal rule.counts rule_type %}
        <li>{% if as_links %}
            <a href="{% url 'rule' rule.id %}">{{ rule.name }}</a>
                {% if user.is_superuser %}
                    &nbsp;[<a href="{% url 'dashjava-admin' %}/show-rule-edit.do?ruleid={{ rule.id }}">edit</a>]
                {% endif %}
            {% else %}
                <a class="rule-name" id="{{ rule.id }}">{{ rule.name }}</a>
            {% endif %}
        </li>
    {% endifequal %}
{% endfor %}
</ul></div>
{% endfor %}
</div>
<br clear="all" />
