{% load dash_tags %} {% load compressed %}

<!-- --- new --- -->
{% block additional_js %}
    {% compressed_js 'edw-libs' %}
    <script>
        var $jq = jQuery.noConflict();
        var userId = "{{ usr.id }}";
        var releaseId = "{{ release_id }}";
        var total_score = "{{usr.total_score }}";
        // iterating on all direct reports
        var direct_reports = {};
        {% for report in usr.direct_reports %}
            direct_reports["{{ report.id }}"] = {};
            direct_reports["{{ report.id }}"]["score"] = {{ report.total_score }};
            if (releaseId != "False") {
                direct_reports["{{ report.id }}"]["link"] = "/release/" +
                                    releaseId + "/" + userId;
            } else {
                direct_reports["{{ report.id }}"]["link"] = "{% url 'agenda' report.id %}";
            }
        {% endfor %}
    </script>
    {% compressed_js 'edw' %}
{% endblock additional_js %}

{% block additional_css %}
    <!-- font awesome needs to be async and the compressed css from django cannot handle it correctly -->
    <link href="/dashboard/junos_ops/static/css/font-awesome.min.css" rel="stylesheet"></link>
    {% compressed_css 'edw' %}
{% endblock additional_css %}

{% include "parts/js-template.html" %}
<!-- --- new --- -->


{% if usr.scored %}
{% if not status.scores or not status.total_score %}
<div id="no-issues" class="boxed left">
    <h3>Issues</h3>
    <h4>No current or impending issues.</h4>
</div>
{% if usr.is_manager %}
<br clear="both" />
{% endif %}
{% else %}

{% if usr.is_manager or usr.pseudo_user or usr.virtual_team %}
<div id="scores-pr" class="boxed left">
    <h3>PR Issues</h3>
    <table>
        <tbody id="pr-agenda-container">
            <tr>
                <th colspan="2">
                    <div class="section-name"></div>
                    <div class="section-desc"></div>
                </th>
            </tr>
        </tbody>
    </table>

    <div class="context-help">
        <div class="ch-content" id="pr-issues-context">
            <ul>
                <li>
                    PRs that require action.
                </li>
                <li>
                    Divided into sections based on when they need to be addressed.
                </li>
                <li>
                    Name of the issue is a link to the PR(s) in gnatsweb.
                </li>
                <li>
                    Hover over the issue to see details about the rule, and a summary of the
                    first {{ summary_count }} records. <a href="sample" class="ruletooltip"
                    id="summary_sample">Hover here</a> to see an example.
                </li>
                <li>
                    The grey numbers in the right column are "opportunity" scores for each
                    issue which show relative importance.
                </li>
            </ul>
        </div>
    </div>

</div>

<div id="scores-other" class="boxed left">
    <h3>Other Issues</h3>
    {% score_sections status.scores 'PRS,CRSS' 1 %}
    <table>
        {% for score_list, section_name, section_desc in sections %}
        <tbody>
            <tr>
                <th colspan="2">
                <div class="section-name">
                    {{ section_name }}
                </div>
                <div class="section-desc">
                    {{ section_desc }}
                </div></th>
            </tr>

            {% reorder_rule score_list %}
            {% for score in score_list %}
            {% include 'parts/broken-rule.html' %}
            {% endfor %}

            <!-- grouping CDM part -->
            {% if group_score %}
            {% for rule_id in group_score %}
            {% for rel_id in group_score|getHash:rule_id %}
            <!--  group header -->
            {% if group_score|getHash:rule_id|getHash:rel_id|getHash:"cdm_release" and group_score|getHash:rule_id|getHash:rel_id|getHash:"multi_line" %}
            <tr class="brokenrule">
                <td class="rclabel">
                <ul class='group_rule'>
                    <li>
                        <span><a href='#'> Total {{ group_score|getHash:rule_id|getHash:rel_id|getHash:"rule_name" }} in {{ rel_id }} branches</a> </span>
                        <ul>
                            <li>
                                <span>
                                    <table class="group_rule">
                                        {% for score in group_score|getHash:rule_id|getHash:rel_id|getHash:"scores" %}
                                        {% include 'parts/broken-rule.html' %}
                                        {% endfor %}
                                    </table> </span>
                            </li>
                        </ul>
                    </li>
                </ul></td>
                <td class="rcnum scorenum "> {{ group_score|getHash:rule_id|getHash:rel_id|getHash:"total_scores" }} </td>
            </tr>
            {% else %}
            {% for score in group_score|getHash:rule_id|getHash:rel_id|getHash:"scores" %}
            {% include 'parts/broken-rule.html' %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
            <!--end of grouping CDM part -->

            {% end_reorder_rule %}

            {% endfor %}
    </table>
    {% end_score_sections %}
    <div class="context-help">
        <div class="ch-content" id="other-issues-context">
            <ul>
                <li>
                    RLIs and reviews that require action.
                </li>
            </ul>
        </div>
    </div>
</div>
<br clear="both" />

<div id="scores-other" class="boxed left">
    <h3>CRS Issues</h3>
    {% score_sections status.scores 'CRSS' 0 %}
    <table>
        {% for score_list, section_name, section_desc in sections %}
        <tbody>
            <tr>
                <th colspan="2">
                <div class="section-name">
                    {{ section_name }}
                </div>
                <div class="section-desc">
                    {{ section_desc }}
                </div></th>
            </tr>

            {% reorder_rule score_list %}
            {% if group_score %}
            {% for rule_id in group_score %}
            {% for rel_id in group_score|getHash:rule_id %}
            {% for score in group_score|getHash:rule_id|getHash:rel_id|getHash:"scores" %}
            {% include 'parts/broken-rule.html' %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
            {% endif %}

            {% end_reorder_rule %}

            {% endfor %}
    </table>
    {% end_score_sections %}
</div>
<br clear="both" />

{% else %}{# not a manager or pseudo-user #}
<div id="scores" class="boxed left">
    <h3>Issues</h3>
    {% score_sections status.scores '' 1 %}
    <table>
        {% for score_list, section_name, section_desc in sections %}
        <tbody>
            <tr>
                <th colspan="2">
                <div class="section-name">
                    {{ section_name }}
                </div>
                <div class="section-desc">
                    {{ section_desc }}
                </div></th>
            </tr>

            {% reorder_rule score_list %}
            {% for score in score_list %}
            {% include 'parts/broken-rule.html' %}
            {% endfor %}

            <!-- grouping CDM part -->
            {% if group_score %}
            {% for rule_id in group_score %}
            {% for rel_id in group_score|getHash:rule_id %}
            <!--  group header -->
            {% if group_score|getHash:rule_id|getHash:rel_id|getHash:"cdm_release" and group_score|getHash:rule_id|getHash:rel_id|getHash:"multi_line" %}
            <tr class="brokenrule">
                <td class="rclabel">
                <ul class='group_rule'>
                    <li>
                        <span><a href='#'> Total {{ group_score|getHash:rule_id|getHash:rel_id|getHash:"rule_name" }} in {{ rel_id }} branches</a> </span>
                        <ul>
                            <li>
                                <span>
                                    <table class="group_rule">
                                        {% for score in group_score|getHash:rule_id|getHash:rel_id|getHash:"scores" %}
                                        {% include 'parts/broken-rule.html' %}
                                        {% endfor %}
                                    </table> </span>
                            </li>
                        </ul>
                    </li>
                </ul></td>
                <td class="rcnum scorenum "> {{ group_score|getHash:rule_id|getHash:rel_id|getHash:"total_scores" }} </td>
            </tr>
            {% else %}
            {% for score in group_score|getHash:rule_id|getHash:rel_id|getHash:"scores" %}
            {% include 'parts/broken-rule.html' %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
            <!--end of grouping CDM part -->

            {% end_reorder_rule %}

            {% endfor %}

    </table>
    {% end_score_sections %}
    <div class="context-help">
        <div class="ch-content" id="pr-issues-context">
            <ul>
                <li>
                    PRs, RLIs and code reviews that require action.
                </li>
                <li>
                    Divided into sections based on when they need to be addressed.
                </li>
                <li>
                    Name of the issue is a link to the affected records.
                </li>
                <li>
                    Hover over the issue to see details about the rule, and a summary of the
                    first {{ summary_count }} records. <a href="sample" class="ruletooltip"
                    id="summary_sample">Hover here</a> to see an example.
                </li>
                <li>
                    The grey numbers in the right column are "opportunity" scores for each
                    issue, showing relative importance.
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}{# end of manager or not #}

{% endif %}{# end of if scores #}
{% else %}{# end of if usr.scored #}
<!-- This user/release hasn't been run through the rules engine yet -->
<div id="scores" class="boxed left">
    <h3>System initialization in progress</h3>
    <p class="strong">
        Issues not yet available
        {% if not usr.pseudo_user %}for user {{ usr.id }}{% endif %}
    </p>
</div>
{% endif %}
<div class="tooltip" id="tt_summary_sample" title="17 Example Records" stay_on="true">
    <table>
        <tr>
            <th>Number</th><th>Synopsis</th><th>Modified</th>
        </tr>
        <tr>
            <td>1234</td><td>Frobnosticator wobbles on minskification</td><td>2009-08-11</td>
        </tr>
        <tr>
            <td>9876</td><td>grabble core dump when receiving fizzle routes that...</td><td>2009-08-09</td>
        </tr>
        <tr>
            <td>54321</td><td>BLKU R-PIM in plain OXA mode (TURD)</td><td>2009-08-01</td>
        </tr>
    </table>
    <h4>10.2 Next Party: 24 Days</h4>
    <h4>Rule Details</h4>
    <ul class="ruledetails">
        <li>
            <strong>Effective</strong>: 45 days before 10.2 Next Party
        </li>
        <li>
            <strong>Sunset</strong>: 7 days after 10 Next Party
        </li>
        <li>
            <strong>Weight</strong>: 2
        </li>
        <li>
            <strong>Time-Based Multiplier</strong>: 10
        </li>
        <li>
            <strong>Objective</strong>: P9 Exit
        </li>
    </ul>
    <p class="note">
        In the event of a real rules violation you will be termi...
        &nbsp;<a href="{% url 'rule' "sample_rule" %}">more</a>
    </p>
</div>
