<div id="spreadsheet-instructions">
<h3>To export this table to a spreadsheet</h3>
<ul>
<li>Copy the selected data to the clipboard.</li>
<li>Open a spreadsheet.</li>
<li>Paste the data into a cell.  The Right Things will happen.</li>
<li>Click anywhere on this page when you are done.</li>
</ul>
<small>(This is more robust than "save as csv")</small>
</div>
