{% load dash_tags %}<br/><div id="high-scorers">
<strong>Top {% if statuses|longer_than:6 %}5{% endif %}
{% if not pseudo_user %} Reports{% endif %}:</strong>&nbsp;
{% for status in statuses|slice:":5" %}
<a href="{% if release_id %}{% url 'release' release_id status.id %}{% else %}{% url 'agenda' status.id %}{% endif %}"
  id="ts_{{ status.id }}_tip" class="hasatooltip">{{ status.id }}</a>&nbsp;::&nbsp;{{ status.total_score }}
<div style="display:none;" class="tooltip" id="tt_ts_{{ status.id }}_tip"
title="{% if status.scores|longer_than:3 %}
{{ status.scores|length }}{% else %}Top 3 (of {{ status.scores|length }}){% endif %}
Issue{{ status.scores|length|pluralize }} for {{ status.id }}">
{% if not status.scores %}
<span class="good">No current or impending issues.</span>
{% else %}
<table>{% for score in status.scores|slice:":3" %}
<tr class="brokenrule"><td>
{{ score.count }} {{ score.rule.name }}
{% if broken_rule_displays_release and score.rule.release_based %} in {{ score.release_id }}
{% endif %}</td><td class="scorenum">{{ score.score }}</td></tr>
{% endfor %}
</table>
{% endif %}
</div>
{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
{% endfor %}
<div class="context-help ch-one-liner"><div class="ch-content" id="top-issues-ctx">
<ul>
<li> Links to agendas for the user's direct reports having the most opportunity.</li>
<li> Hover over a name to see their three most pressing issues..</li>
</ul></div></div>
</div>
