{% load dash_tags %}

<div id="totals" class="boxed left">
<h3>Totals</h3>
{% if not usr.scored %}
(Info not yet available)
{% else %}
<table class="no-label-wrap">
<tr><td class="rclabel">
{% if release_id %}
{% if cdm_release or cdm_v2_release %}
{% totals_rule_link "rlis_user" usr is_mozilla release_id %}
<br />{% totals_rule_link "rlis_user_scoping" usr is_mozilla release_id %}
{% else %}
{% totals_rule_link "rlis_user" usr is_mozilla release_id %}
{% endif %}
{% else %}
{% totals_rule_link "rlis_user" usr is_mozilla release_id %}
<br />{% totals_rule_link "rlis_user_scoping" usr is_mozilla release_id %}
{% endif %}
<br />{% totals_rule_link "at_risk" usr is_mozilla release_id %}
</td></tr>

{% if not release_id %}
<tr><td class="rclabel">
{% totals_rule_link "rlis_wo_release" usr is_mozilla %}
</td></tr>
{% endif %}

{% if not release_id and not usr.is_npi %}
<tr><td class="rclabel">
{% totals_rule_link "npis_user" usr is_mozilla %}
</td></tr>
{% endif %}

<tr><td class="rclabel">
{% totals_rule_link "crs_total_count" usr is_mozilla release_id %}
</td></tr>

<tr><td class="rclabel">
<strong>PRs:</strong>
    <table id="pr-agenda-totals-container">
        <tr><td></td></tr>
    </table>
</td></tr>

<tr><td class="rclabel">&nbsp;&nbsp;
{% totals_rule_link "prs_user.only" usr is_mozilla release_id "Feedback Only" %}
</td></tr>

{% if usr.spoc_categories %}
<tr><td class="rclabel">&nbsp;&nbsp;
{% totals_rule_link "prs_unassigned_cat_user" usr is_mozilla release_id %}
</td></tr>
<tr><td class="rclabel">&nbsp;&nbsp;
{% totals_rule_link "prs_non_junos_cat_user" usr is_mozilla release_id %}
</td></tr>
{% endif %}

{% if not release_id %}
<tr><td class="rclabel">&nbsp;&nbsp;
{% totals_rule_link "prs_wo_release" usr is_mozilla %}
</td></tr>
{% endif %}

<tr><td class="rclabel">&nbsp;&nbsp;
<strong>Blockers:</strong>
    <table id="pr-agenda-totals-blocker-container">
        <tr><td></td></tr>
    </table>
</td></tr>

{% if is_junos or not usr.pseudo_user %}
{% if release_id %}
<tr><td class="rclabel">
</td></tr>
{% else %}
<tr><td class="rclabel">
{% totals_rule_link "reviews_user" usr is_mozilla %}
</td></tr>
{% endif %}
{% endif %}
</table>
{% endif %}
<div class="context-help">
<div class="ch-content" id="totals-context">
<ul>
{% if usr.is_npi %}
<li> Links to all the RLIs and PRs{% if release_id %} in this release{% endif %}
associated with this NPI program.</li>
{% else %}
<li> Links to all the RLIs{% if release_id %} and PRs in this release{% else %},
Review requests and PRs{% endif %} that the user or their reports are
responsible for.</li>
{% endif %}
<li> PRs are broken down by severity.</li>
{% if usr.spoc_categories and not usr.is_npi %}
<li> PRs in categories owned by the user's organization which have no responsible,
or a non-JUNOS responsible are also listed.</li>
{% endif %}
</ul>
</div>
</div>
</div>
