{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}Supported Browsers{% endblock %}

{% block content %}

<h1>Supported Browsers</h1>

The Dashboard supports the following browsers:
<ul>
  <li><a href="http://www.mozilla.com/en-US/firefox/">Firefox</a>,
  version 3.0 and above</li>
  <li>Internet Explorer, version 6.0 and above</li>
</ul>

Most Dashboard features <noscript><strong></noscript>require JavaScript to be enabled in your
browser.<noscript></strong> JavaScript is currently <strong>disabled or unavailable</strong> in your browser. To enable JavaScript,
make sure the following is set in your browser.
<ul>
<li>For Internet Explorer:<br/>
  &gt;Tools &gt; Internet Options &gt; Security &gt; Internet &gt; Custom Level &gt; Scripting &gt; Active Scripting &gt; Enable</li>
<li>For Firefox:<br/>
  &gt; Edit &gt; Preferences &gt; Content &gt; Enable JavaScript</li>
</ul>
</noscript> It is also highly recommended that your browser accept cookies. There
are features designed to enhance your experience that rely on cookies, but having
your browser accept them is not required for basic functionality.<br />
<br />
If you use an unsupported browser, or disable JavaScript, you may encounter
problems or decreased functionality.<br />
<br />
That being said, if you are using an unsupported modern, mainstream
browser, and the application behaves badly, please drop a line to
<a href="mailto:dashboard-admin@juniper.net">dashboard-admin@juniper.net</a>,
and explain the problem; include browser name and version.<br />
<br />
The developers recommend
<a href="http://www.mozilla.com/en-US/products/firefox/"><strong>Firefox</strong></a>,
because it's just better.

{% endblock %}
