{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>BU Scorecard for Release {{ release_id }}</h1>

<p>
The BU Scorecard is used to judge BU performance at release date.  It is
<strong>not</strong> a criteria for release-ability.  The quota numbers are based on the
9.2 release.
</p>

<h2>PR Counts by BU / BG</h2>
<br />
<table border="1" cellspacing="0" cellpadding="2">
<thead>
<tr>
<th>BU</th>
<th>Critical</th>
<th>Major </th>
<th>Minor</th>
<th>Critical+Major</th>
<th>Quota</th>
</tr>
</thead>
<tbody>

{% for row in data %}
<tr>
{% ifnotequal row.displayName "Others" %}
<td class="rclabel{{ row.style }}">
<a href="{% url release release_id,row.uid %}">
{{ row.displayName }}</a></td>

<td class="rcvalue{{ row.style }}">
{% named_rule_link "prs_bsc_critical" row.user is_mozilla release_id %}
</td>
<td class="rcvalue{{ row.style }}">
{% named_rule_link "prs_bsc_major" row.user is_mozilla release_id %}
</td>
<td class="rcvalue{{ row.style }}">
{% named_rule_link "prs_bsc_minor" row.user is_mozilla release_id %}
</td>
<td class="rcvalue{{ row.style }}">
{% named_rule_link "prs_bsc" row.user is_mozilla release_id %}
</td>
<td class="rcvalue{{ row.style }}">{{ row.quota }}</td>
{% else %}
<td class="rclabel">Others</td>
<td class="rcvalue">{{ others.critical }}</td>
<td class="rcvalue">{{ others.major }}</td>
<td class="rcvalue">{{ others.minor }}</td>
<td class="rcvalue">{{ others.total }}</td>
<td class="rcvalue">{{ row.quota }}</td>
{% endifnotequal %}
</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}
