<ul>
<li><strong>Why am I getting this opportunity?</strong><br />
If you don't understand why a particular RLI or PR is showing up in an issue,
look at the rule definition.  To do this, hover over the issue link, then
click on "rule details" in the popup window.
</li>

<li><strong>What do the opportunity numbers mean?</strong><br />
Nothing.  They're dimensionless numbers used solely for prioritizing issues.
</li>

<li><strong>I just edited this PR, but it still shows up in my issues.
How come?</strong><br />
The Dashboard is updated about four times an hour, so there may be a
short delay before changes are reflected.
</li>

</ul>
