{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}Requesting a New Dashboard Rule{% endblock %}

{% block content %}

<h1>Requesting a New Rule</h1>

<p>
New Rules can be added to the system.  The process is relatively simple if the
data is already in the Dashboard (adding a new data source requires
new code, which will increase the lead time substantially).  Before requesting
a rule, please carefully read over the <a href="{% url 'help' %}">Dashboard documentation</a>, paying close attention to the
section on <a href="{% url 'help' %}#rules">rules</a>.  It is important that the rules call out
specific and immediately actionable issues.
</p>

<p>
If your proposed rules are intended to be global, please consult
<a href="mailto:governance-staff@juniper.net">JUNOS Governance</a> before
making the request.  If they are department-specific, please come to a consensus,
and request them as a group.
</p>

<p>
The following information is needed for each rule:
</p>

<h2>Rule Fields</h2>

<table class="ww_form_table">
<tr>
    <td class="rclabel">Name:</td>
    <td>A short human readable name.  Used as the display name in the agenda.
    It should be descriptive of the issue, and should read sensibly when
    preceeded by a number, and followed by a release, as in "47 <em>Things that are
    broken thusly</em> in 9.6".
    </td>
</tr>

<tr>
    <td class="rclabel">Description:</td>
    <td>Textual description of the rule.  This should explain what the rule is
    about, but more importantly, it should explain what the offending user needs
    to <strong>do</strong> to fix the problem.  A few sentences to a paragraph.  HTML allowed.
    </td>
</tr>

<tr>
    <td class="rclabel">Lede:</td>
    <td>Short version of the description, focusing on the "What to do" part.
     Displayed in the rule popup.  Should be around 60 characters.
    </td>
</tr>

<tr>
    <td class="rclabel">Owner:</td>
    <td>Username of the person responsible for this rule.  Should be someone
    who is willing to answer questions from users.</td>
</tr>

<tr>
    <td class="rclabel">Objective:</td>
    <td>What aspect of the JUNOS process is this Rule aimed at?  One of:
    <ul>
    {% for obj in objectives %}<li>{{ obj.name }}</li>
    {% endfor %}
    </ul>
    </td>
</tr>

<tr>
    <td class="rclabel">Weight:</td>
    <td>The amount of opportunity per offending record.  1-10, where 1 is
    "This needs fixing", and 10 is "People are running around with their hair
    on fire".  Keep the numbers low, unless this is truly a serious issue.</td>
</tr>

<tr>
    <td class="rclabel">Milestone:</td>
    <td>The milestone at which this rule starts accruing opportunity.  One of:
    <ul>
    {% for mil in milestones %}<li>{{ mil.name }}</li>
    {% endfor %}
    </ul>
    </td>
</tr>

<tr>
    <td class="rclabel">Horizon:</td>
    <td>How many days before (positive) or after (negative) the milestone
    that the rule starts accruing opportunity.  If the milestone is "P4 Exit",
    and the horizon is -4, the rule will take effect four days after P4 exit.</td>
</tr>

<tr>
    <td class="rclabel">Query Link Columns:</td>
    <td>The columns that should be displayed in the data source query results.
    These should be in the form expected by gnatsweb or Deepthought.
    eg. "synopsis, state, sw_responsible".</td>
</tr>

<tr>
    <td class="rclabel">Rule</td>
    <td>What is this Rule collecting?  Be specific about field names and values.
    Examples:
    <pre>
Given a release having open RLIs, <em>R</em>
and a user <em>U</em>,
find all RLIs where:
  release_target == <em>R</em>,
  sw_proj_len in ("large", "major", "expansive", ""),
  responsible, sw_responsible or sw_mgr_responsible == <em>U</em>,
  project_status &lt; "dev-complete"</pre>

Or:
    <pre>
Given a release <em>R</em> and a user <em>U</em>,
find all PRs having a scope where:
Responsible == <em>U</em>,
Release == <em>R</em>,
Blocker is not blank</pre>
    </td>
</tr>
</table>

{% endblock %}
