{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
tr td{
   padding-left:10px;
   padding-right:10px;
}
</style>
<center><br />
<table class="tablesorter">
<thead>
	<th>BG/BU</th><th>Top Manager user id</th>
</thead>
<tbody>
<tr>
	<td>ssd</td>
	<td>bmuglia</td>
</tr>
<tr>
	<td>ssd-sbu</td>
	<td>nawaf</td>
</tr>
<tr>
	<td>ssd-other</td>
	<td>rbarr brijsman jbeningson</td>
</tr>
<tr>
	<td colspan=2 ><hr /></td>
</tr>

<tr>
	<td>psd</td>
	<td>rami</td>
</tr>
<tr>
	<td>psd-sst</td>
	<td>dbasu</td>
</tr>
<tr>
	<td>psd-cdbu</td>
	<td>djonathan</td>
</tr>
<tr>
	<td>psd-rbu</td>
	<td>dhua</td>
</tr>
<tr>
	<td>psd-junossw</td>
	<td>dferrario lmandic</td>
</tr>
<tr>
	<td>psd-sustaining-ops</td>
	<td>subbu</td>
</tr>
<tr>
	<td>psd-other</td>
	<td>sad mbeesley mbhatia mikemarcellin unmesh</td>
</tr>
<tr>
	<td colspan=2 ><hr /></td>
</tr>

<tr>
	<td>corp</td>
        <td>gerri iaguirre rdenholm sad lavila mgaynor srice sindhu</td>
</tr>

<tr>
	<td>corp-other</td>
	<td>bradb jdecena baski fhale genez jaustin jcooney kbela mgallagher</td>
</tr>

<tr>
	<td>corp-cussrv</td>
	<td>alexg</td>
</tr>

<tr>
	<td>corp-sales</td>
	<td>toddmc vincem</td>
</tr>

<tr>
	<td>corp-ops</td>
	<td>martyg</td>
</tr>

<tr>
	<td>corp-cto</td>
	<td>asarcar dennis jhuntley jkohli jboddu frailong rpanwar rmarcoccia smackie sjaganna</td>
</tr>

</tbody>
</table>

</center>
{% endblock %}
