{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}Dashboard Help{% endblock %}

{% block content %}
<div id="sidebar">
<a href="{% url 'tour-page' 1 %}" class="quick-tour">
<img src="{% url 'base' %}/inc/images/tour/tour-mini.png"
 width="150" height="108" border="0"><br />
 Try the Quick Tour!</a><br />
 <small>(<a href="{% url 'tour' %}">printable version</a>)</small>
</div>

<h1>The JUNOS Dashboard</h1>

<ul>
<li> <a href="#new">What's New</a></li>
<li> <a href="#what">What's Covered</a></li>
<li> <a href="#assign">Assigning Ownership</a></li>
<li> <a href="#agenda">The Agenda and Release Pages</a></li>
<li> <a href="#matrix">The Matrix</a></li>
<li> <a href="#vteams">Virtual Teams</a></li>
<li> <a href="#rules">Rules, Issues and Opportunity</a></li>
<li> <a href="#prs">PRs &amp; Releases</a></li>
<li> <a href="#faqs">FAQs</a></li>
<li> <a href="#problems">Problems?</a></li>
<li> <a href="#further">Further Reading</a></li>
</ul>

<p>The Dashboard has two major purposes: as a "To Do" list for managers, teams
and individuals, and as a common source of metrics for the entire JUNOS
organization.  The first is served by the "<a href="#agenda">Agenda</a>"
and release pages, while the second is handled by the "<a href="#matrix">Matrix</a>".
</p>

<p>The Dashboard collects data from several sources, and runs them
through a <a href="http://en.wikipedia.org/wiki/Business_rules_engine">rules
engine</a>. The <a href="{% url 'rules' %}">rules</a> are defined
by JUNOS Governance, Management and others, based on practices
that have kept the JUNOS release train running smoothly for many years.
</p>

<h2 id="new">What's New? - {{ release_date }}</h2>

<p>
This is version {{ version }}, released on
{{ release_date }}.  It introduced the following exciting
new features:
</p>

{% include 'docs/whats-new.html' %}

<h2>Known Bugs</h2>

<p>
The new Dashboard is in beta, and we're working on a few last things.  We
know about the following bugs, but if you find any more, please send an email
to <a href="mailto:dashboard-admin@juniper.net">dashboard-admin@juniper.net</a>.
</p>
<ul>
<li> Some rendering bugs in IE.  If you are affected by these,
<a href="http://www.online-literature.com/poe/25/">For the love of God, Montressor</a>,
switch to <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a> or
<a href="http://www.google.com/chrome">Google Chrome</a>.</li>
</ul>

<h2 id="what">What is Covered</h2>

<p>The Dashboard tracks active JUNOS releases and NPI Programs (from upcoming
releases with a P0-Long-Lead exit less than nine months away, to
shipping but not EOLed releases). It collects dates from
the Deepthought Milestones and NPI tables, open RLIs, GNATS PRs, code reviews,
Virtual Teams from LDAP and reporting structure from HR.</p>

<p>
Information is kept as up to date as is reasonable; processing
{{ rules|length }} rules for {{ users|length }} users
in {{ active_releases|length }} releases takes some time.
The system is currently averaging {{ misc.minutes_per_cycle }} minutes per
update cycle.  Keep this in mind when looking at the data, as very recent
changes may not be reflected.
</p>

<h2 id="assign">Assigning Ownership</h2>

<p>Issues for managers and Virtual Teams are rolled up for the user's entire
org structure.  If there is an issue for one of the user's reports, it will
be an issue for the user.  It is not possible to find the issues for just the
manager; this is a feature, not a bug.</p>

<p>
There is a special pseudo-user named "junos", which every user implicitly
reports to.  This user provides an overall view of the status of JUNOS
development.  Virtual Teams for each BG and BU are direct reports of the "junos"
user, which makes it easy to get breakdowns by business area.
</p>

<p>Ownership of RLIs is generally determined by the "Responsible" and the several
*_mgr_responsible fields.  PR ownership is more complicated; for most PRs it
is based on the Responsible and Dev-Owner fields.  PRs where the responsible
is not a Juniper employee (a category alias, external contractor or ex-employee)
will be "assigned" to the category contact.  This is usually the Single Point of
Contact (SPoC) for the category.
</p>

<p>If you believe that a category has an incorrect SPoC, please send email to
<a href="mailto:gnats-admin@juniper.net">gnats-admin@juniper.net</a>.  Include
the name of the category, the person you believe should be the SPoC, and the
Business Unit or Business Group that owns the category.
</p>

<h2 id="agenda">The Agenda and Release Pages</h2>

<p>
The Agenda is compiled by collecting records (PRs, RLIs,
etc.) that match rule criteria into "issues".  The issues are assigned an
"opportunity" value based on the importance of the rule and the number of offending items.
These values are calculated for the organization as a whole, and for each JUNOS
developer and manager in all the BGs and BUs, both on an overall basis, and
per-release.
</p>

<h3>Agenda</h3>

<p>This page displays issues across all releases, sorted into sections
according to the number of days until the associated Milestone, and further
ordered by decreasing "opportunity" score.  In general, the closer to the top,
the more urgent the issue.  For managers or Virtual Teams, issues are separated
into PR issues, and other issues (RLIs, reviews and NPI programs); individuals
see a single collection of issues, since they typically have a smaller total
number.</p>

<p>The name of an issue is a hyperlink to a GNATS or Deepthought
query showing the relevant PRs, Reviews or RLIs. (Note:
these queries are made up of long lists of record numbers, so bookmarking
them is pointless since they are not dynamic, and editing them will be
impossible.  They are, however, sortable via the column headers). The release
number is a link to the individual release display in the dashboard.</p>

<p>Hovering the mouse over the issue name brings up a tooltip that displays
more information about the issue, including the number, synopsis and
last-modified date of the first {{ summary_count }} matching records, the
number of days until or since the relevant milestones, and a link to the
full details of the rule.</p>

<p>
At the top of the page is a list of the "Top 5 Reports", with links to
agendas for the user's direct reports having the most opportunity.  Hovering
over a user's name will bring up a tooltip showing their three most
pressing issues.
</p>

<p>
The "Totals" box contains links to all of the user's open RLIs, PRs and Reviews,
and any associated NPI programs.  PRs are broken down by severity, and, if the user
or someone in their organization is a category contact, the PR report will have
two additional rows: "Unassigned" - PRs where Responsible is a non-employee;
and "Assigned to non-JUNOS user" - PRs where Responsible is outside of JUNOS
Engineering (eg. JTAC).
</p>

<p>
The "Org Structure and Memberships" box provides links to the user's manager,
and any direct reports. Reports that are themselves managers have a "(+)" after
their name.  If the user is a member or owner of any Virtual Teams, they will
be listed here as well.  Any GNATS categories whose contact is in the
organization are listed at the end.
</p>

<h3>Individual Releases</h3>

<p>Release agenda pages display Issues, Totals and Top Reports like the overall
Agenda, but a list of release dates replaces the "Org Structure and Memberships"
box.  This box shows milestones and other status information, including links
to the NPI and Milestones records for the release. Milestones in the past are
displayed in grey.</p>

<h3>PRs</h3>

<p>
The "<a href="{% url 'prs' %}">PRs</a>" report displays a <a href="#matrix">matrix</a>
of bugs broken down by type and across releases for the user and all their
direct reports.  You can filter the report by feedback state of the PRs.
</p>

<h3>NPI Programs</h3>

<p>
Issues for NPI programs are tracked on a per-program basis, rather than
per-user.  Opportunity is calculated by collecting RLIs associated with a
program, and PRs associated with those RLIs (by the "RLI" field of the PR).
The main <a href="{% url 'npis' %}">NPIs</a> page lists programs in order of
decreasing opportunity.  Clicking on the name of a program brings up the Agenda
for that program, which includes associated PRs and RLIs, as well as exit
dates, department leads and other data from the Deepthought NPI table.
</p>

<h2 id="matrix">The Matrix</h2>

<p>
The <a href="{% url 'matrix' %}">Matrix</a> provides near-real-time metrics
in tabular form.  Use it instead of laboriously building a spreadsheet or
presentation that is out of date as soon as it's finished.  Matrix URLs can
be bookmarked, or pasted into emails or web pages and shared with others.
Sharing a Matrix ensures that everyone has the same view of always up to date
information.  The numbers in the matrix are links to the actual records in
GNATS or Deepthought.
</p>

<p>
Some examples will help to demonstrate the Matrix's many options.  To see how
each of these is built, click the "Edit Matrix" link above the table.
<ul>
<li> <a href="{% url 'matrix' %}?rules=tot_blocker_prs,toxic_blocker_prs,cam_blocker_prs,test_blockers,release_blocker_prs,beta_blocker_prs&releases=all&users=eabu%2Cbranch-bu%2Ccss-bu%2Chsbu%2Cnbbu%2Cepbg%2Cdcbg&title=Blockers by Business Unit">Blocker
report by BU for all releases</a></li>

<li> <a href="{% url 'matrix' %}?rules=cam_blocker_prs,test_blockers,toxic_blocker_prs,release_blocker_prs,tot_blocker_prs,beta_blocker_prs&release_id=10.0&orient=uxm&users=eabu%2Cbranch-bu%2Ccss-bu%2Chsbu%2Cnbbu%2Cepbg%2Cdcbg&title=Blockers by Business Unit in 10.0&feedback=no">Blocker
report by BU for 10.0, excluding feedback</a></li>

<li> <a href="{% url 'matrix' %}?rules=at_risk,unapproved_trds,dev-maybe-rlis&releases=10.4,10.3,10.2&users=junos&title=Endangered RLIs">Risky
RLIs in upcoming releases</a></li>

<li> <a href="{% url 'matrix' %}?rules=regression_prs,blockers_wo_fix_eta,critical_prs,build_break_prs&releases=all&users={{ the_user.manager.id }}">
Big problems your manager is facing</a></li>
</ul>
</p>

<h3>Building a Matrix</h3>
<ul>
<li> <strong>Users</strong> - Choose one or more usernames.  Autocompletion is available
if you use a comma to separate names.  If you supply a single name, you may
check the "Include direct reports" input.</li>
<li> <strong>Format</strong> - The Matrix can show multiple releases, or a single release.
Thumbnail samples attempt to show the output format, but it's best to
experiment.</li>
<li> <strong>Feedback PRs</strong> - You can include feedback PRs, exclude them, or show
only PRs in the feedback state.  This has no effect if there are no PR based
metrics selected.</li>
<li> <strong>Title</strong> - You can add a title to the Matrix.  If you do not
supply a title, one will be selected for you.</li>
<li> <strong>Metrics</strong> - Select one or more metrics, and drag them about to change
the ordering.</li>
</ul>

<p>
Multiple release Matrices work best with 1-5 rules.  Single release Matrices are
more flexible -- you can choose to put metrics across the top if you have a large
number of users and a few metrics, or vice versa.  The Matrix will render poorly
when the number of columns gets large, but by that point the reader will likely
be suffering from information overload anyways.
</p>

<h2 id="vteams">Virtual Teams</h2>

<p>
A virtual team tracks status across of a group of users unrelated by reporting
structure, such as dotted-line reports or an NPI team.  The team is
defined by an
<a href="https://authldap-primary.juniper.net/howto/authldap_instructions.html">AuthLDAP group</a>,
consisting of usernames, email aliases or department numbers.  Once created,
the teams are handled just like other Dashboard users: their status is updated
every {{ misc.minutes_per_cycle_time }} minutes,
they have an agenda, per-release agendas, and a PR matrix.  Changes to the
composition of the team in AuthLDAP will be reflected at the next status update.
If a manager is a member of a team, all their reports are implicitly members.
</p>

<p>
To request a virtual team, send email to
<a href="mailto:dashboard-admin@juniper.net">dashboard-admin@juniper.net</a>
with the following information:
</p>
<ul>
<li>Name of the team</li>
<li>Team owner</li>
<li>Names of other users who should be allowed to change the membership of
the virtual team</li>
<li>Purpose of the team</li>
<li>Expected lifespan of the team (week, month, NPI program, forever)</li>
<li>Membership of the team.  May be one or more of the following:
<ul>
<li>List of usernames (Not full names)</li>
<li>Email aliases</li>
<li>Department numbers</li>
</ul>
Let us know if the team owner should be a member of the team.</li>
</ul>


<h2 id="prs">PRs &amp; Releases</h2>

<p>PRs are imported from GNATS based on the following query:</p>
<pre>
{{ misc.pr_query_expression }}
</pre>

<p>They are assigned to releases via the following algorithm:</p>
<pre>
if (conf_committed_release.length() > 0) {
    release_value = conf_committed_release;
} else if (committed_release.length() > 0) {
    release_value = committed_release;
} else if (planned_release.length() > 0) {
    release_value = planned_release;
} 
</pre>

<p>Blocking releases are assigned solely based on the Planned-Release field.</p>

<h2 id="rules">Rules, Issues and Opportunity</h2>

<p>Each rule has several attributes:</p>
<table>
  <tr>
    <td class="rclabel">Rule Name</td>
    <td class="rcvalue">The issue that the rule tracks.</td>
  </tr>

  <tr>
    <td class="rclabel">Description</td>
    <td class="rcvalue">The reasoning behind the rule, and tips to avoid
    breaking it.</td>
  </tr>

  <tr>
    <td class="rclabel">Objective</td>
    <td class="rcvalue">The NPI phase or general objective that the rule is
    concerned with.</td>
  </tr>

  <tr>
    <td class="rclabel">When the rule is in effect</td>
    <td class="rcvalue">Because development is rigorously
    scheduled, most rules have a time element. More on this below.</td>
  </tr>

  <tr>
    <td class="rclabel">Sunset Time</td>
    <td class="rcvalue">When the rule stops accruing opportunity.</td>
  </tr>

  <tr>
    <td class="rclabel">Relative Weight</td>
    <td class="rcvalue">Some rules are more important, and their
    scores are multiplied by the weight.</td>
  </tr>

  <tr>
    <td class="rclabel">Owner</td>
    <td class="rcvalue">Each rule has a business owner. If you
    don't like a rule, you can complain to the owner.</td>
  </tr>
</table><br />

<h3 id="multipliers">Time Based Multipliers</h3>

<p>Most rules are tied to a milestone, and they don't become
effective until a number of days before or after the milestone (the "horizon").
Once a release crosses the horizon for a rule, PRs or RLIs matching the
criteria are counted. Initially, each violation accrues opportunity equal to
its weight.  Halfway between the horizon and the milestone, the multiplier goes to
{{ misc.second_percent_multiplier }}; 3/4 of the way it goes to {{ misc.third_percent_multiplier }},
and for the last ten percent of the window it goes to
{{ misc.final_percent_multiplier }},
where it remains until all violations are cleared
or the sunset time is reached. These increasing multipliers help to move the
issues that most urgently need attention towards the top of the agenda.</p>

<p>Some rules have a negative horizon, which means that they become
effective a number of days after a milestone. For these rules, the
multiplier increases every {{ misc.days_after_period }}
days after the effective date, going from 1 to
{{ misc.second_period_multiplier }} to
{{ misc.third_period_multiplier }} and then
to {{ misc.final_period_multiplier }}.
A few rules have the milestone "In Development", which is the period from
P0-LL through P4. These rules have a constant multiplier, as do those
with the milestone "Always Active".</p>

<h3>Sunset Time</h3>

<p>Some rules cease to be meaningful, or are superseded by other rules, after
a certain time.  This is known as the "Sunset" time for the rule, and once it
has passed, the rule's opportunity goes to zero.</p>

<h3>Rule Definitions</h3>

<p>The body of each rule is defined in a special rules language with
a somewhat ungainly syntax. The rules engine has the ability to
define a "Domain Specific Language", which provides a human-readable way
to define rules. A future version of the Dashboard will employ this
feature. In the mean time, the textual description of the rule should be
sufficient to understand what the rule does.</p>

<h3>Adding and Adjusting Rules</h3>

<p>Rules may be added to the system, and existing rules can be tweaked as
conditions change.  More detailed <a href="{% url 'help-rules' %}">information is available</a>.
</p>

<h2 id="faqs">FAQs</h2>

{% include 'docs/faqs.html' %}

<h2 id="problems">Problems?</h2>

<p>If you encounter problems with the Dashboard, please contact <a
href="mailto:dashboard-admin@juniper.net">dashboard-admin@juniper.net</a>.
Error pages should include diagnostic info; please screen-scrape this
and include it in your message. We will have regular releases, so bug
fixes won't take long.</p>


<h2 id="gory">The Gory Details</h2>

<p>The Dashboard UI is written in <a href="http://python.org/">Python</a> using
the <a href="http://docs.djangoproject.com/">Django</a> framework and the
<a href="http://jquery.com/">jQuery</a> Javascript library.  The rules engine
and data-marshalling layer is in Java, with the parts that
scrape data from Deepthought in Perl, to leverage RLI::api. The
excellent open source <a href="http://www.eclipse.org/">Eclipse</a> IDE
made development a pleasure. The rules engine is the open source <a
  href="http://www.jboss.org/drools/">Drools</a> system from JBoss,
which is also used in Deepthought. Rules and metadata are stored in Oracle.
The application runs in the <a href="http://tomcat.apache.org/">Apache Tomcat</a>
servlet engine, fronted by the <a href="http://httpd.apache.org/">Apache</a>
webserver.  Help icon by <a href="http://www.visualpharm.com/">VisualPharm</a>,
under <a href="http://creativecommons.org/licenses/by-nd/3.0/">CC</a> license.</p>

<p>The Dashboard was developed by Dirk Bergstrom from October to December of
2006, working on nebulous specifications from Gwynne Stoddart and Lisa Birch,
with a mandate (and budget) from Rob Enns.  It was substantially rebuilt in Q2
of 2009 along with Karin Foster.</p>

<h2 id="further">Further Reading</h2>

<ul>

  <li><a href="{% url 'tour-page' 1 %}" class="quick-tour">Quick Tour</a> (<a href="{% url 'tour' %}">printable version</a>)</li>
  <li><a href="{% url 'rules' %}">List of Rules</a></li>
  <li><a href="http://www-int.juniper.net/npi/">The NPI Process</a></li>
  <li><a href="{% url 'browser-reqs' %}">Supported Browsers</a></li>
{% if user.is_superuser %}
  <li><a href="{% url 'dashjava-admin' %}/docs.do">Admin Documentation</a></li>
{% endif %}
</ul>
{% endblock %}

