{% if not printable %}{% load compressed %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <title>JUNOS Dashboard Quick Tour</title>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{% compressed_css 'main' %}
{% compressed_css 'print' %}
  <link href="{% url 'base' %}/inc/styles/tour.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 7]>
 {% compressed_css 'ie' %}
<![endif]-->
<style type="text/css">
.boxed {border: 0;}
</style>
</head>
<body>
<div id="header">
 <ul class="sf-menu main-menu">
  <li><a href="{% url 'base' %}">JUNOS Dashboard &nbsp - &nbsp Quick Tour &nbsp;</a></li>
 </ul>
</div><br clear="all" />
<div id="content">{% endif %}

{% if printable or pages.1 %}
<div class="boxed"><h1>A Quick Tour of the JUNOS Dashboard</h1>

<ul>
<li><strong>Prioritized To-Do list</strong><br />
Your <a href="{% url 'my-agenda' %}">Agenda</a> provides a convenient way to
see what needs work now, and what's coming soon.
<br />
</li>

<li><strong>Common Source for Metrics and Reporting</strong><br />
The <a href="{% url 'matrix' %}">Matrix</a> provides a simple way to build
reports on current PR and RLI status. No need to run queries, compile
spreadsheets, and mail around out of date information.
</li>

<li><strong>Up To Date</strong><br />
Information is always current, updated every 20 minutes.<br />
</li>

<li><strong>No Confusion</strong><br />
Everyone is looking at the same Dashboard, with the same numbers and
priorities.<br />
</li>
</ul>

</div>{% endif %}


{# ================================================ #}

{% if printable or pages.2 %}
<div class="boxed">
<h1>What's New in Version {{ version }}</h1>
{% include "docs/whats-new.html" %}

</div>{% endif %}


{# ================================================ #}

{% if printable or pages.3 %}
<div class="boxed"><h1>Dashboard Concepts</h1>

<p>
At the heart of the Dashboard is a rules engine.  It processes data about
JUNOS, finds issues and compiles metrics.
</p>

<ul>
<li><strong>Data</strong><br />
RLIs, PRs, Reviews, Releases &amp; NPI Programs all go into the engine.<br />
</li>

<li><strong>Rules / Metrics</strong><br />
The rules are defined by JUNOS Governance and management, based on practices
that have kept the JUNOS release train running smoothly for years.<br />
</li>

<li><strong>Issues</strong><br />
Items that break the rules are gathered into "issues" for easy comprehension.<br />
</li>

<li><strong>Opportunities</strong><br />
Issues are assigned a value based on the importance of the rule and the
number of offending items.  This value is called "opportunity".<br />
</li>

<li><strong>Rollups</strong><br />
Information is "rolled up" the management chain.  Each manager sees
issues for everyone in their organization.<br />
</li>
</ul>

<h2>Don't Worry About the Numbers</h2>

<p>
The grey "opportunity" numbers are only there to show which issues are
more or less important.  They don't have any real meaning.  Pay attention
to the issues at the top of your agenda, and the numbers will take care of
themselves.
</p>

</div>{% endif %}


{# ================================================ #}

{% if printable or pages.4 %}
<div class="boxed">
<h1>The Agenda</h1>

<p>
The agenda is the "front page" of the Dashboard.  This page displays a prioritized
list of issues that need immediate attention.
The 'Totals' box contains links to all your open RLIs, PRs and Reviews.  
The 'Org Structure and Memberships' box provides an easy way to navigate to other
agenda's that might be of interest to you.
 Visit it often. Bookmark it.  Make it your homepage.
</p>

<img class="screenshot" src="{% url 'base' %}/inc/images/tour/agenda.png" width="900" height="654">

<p>
There are agenda pages for each user, release and NPI program.
</p>
</div>{% endif %}


{# ================================================ #}

{% if printable or pages.5 %}
<div class="boxed">
<h1>Matrix</h1>

<p>
Metrics in near-real-time tabular form.  Create a custom matrix, bookmark it and share it with others.
You can pick which users, metrics and releases are displayed.
</p>

<img class="screenshot" src="{% url 'base' %}/inc/images/tour/matrix.png" width="900" height="644">

</div>{% endif %}


{# ================================================ #}

{% if printable or pages.6 %}
<div class="boxed"><h1>Navigating Around the Dashboard</h1>

<img class="screenshot" src="{% url 'base' %}/inc/images/tour/nav-header.png" width="903" height="500">

</div>{% endif %}


{# ================================================ #}

{% if printable or pages.7 %}
<div class="boxed">
<h1>FAQs</h1>

{% include "docs/faqs.html" %}

<p>
If you have any questions, read over the Help page, and have a look at a
few of the rule definitions.  If that doesn't clear things up, drop a
line to <a href="mailto:dashboard-admin@juniper.net">dashboard-admin@juniper.net</a>.
</p>
</div>{% endif %}

{% if not printable %}
<div id="prevnext">
{% ifnotequal page_no "1" %}
<div class="left">
<a href="{% url 'tour-page' page_no|add:'-1' %}">&lt; prev</a>
</div>
{% endifnotequal %}

{% ifnotequal page_no "7" %}
<div class="right rt">
<a href="{% url 'tour-page' page_no|add:'1' %}">next &gt;</a>
</div>
{% endifnotequal %}
</div>
{% endif %}

</div> {# end of content div #}
{% if not printable %}
<div id="footer">
 <div class="footer-right">Contact: <a href="mailto:dashboard-admin@juniper.net">dashboard-admin@juniper.net</a></div>
 <div class="footer-mid print-only">Juniper Confidential</div>
 <div class="footer-left">Copyright &copy; 2006-2009 Juniper Networks, Inc.</div>
</div>
</body>
</html>
{% endif %}
