<h4> Version 2013.11R3</h4>
<ul>
<li><strong>Ticket INC1141898 : October PR backlog manager list update </strong> Dashboard has been updated with monthly org structure changes for the month of oct 2013. 
    Changes are :
     <ul>
     <li>  Merged SSD-MVP to SSD-OTHER</li>
     <li>  Added CORP-SALES,CORP-OPS,CORP-CTO,CORP-OTHER and CORP-CUSSRV under Corp BG</li>
     <li>  Removed CUSSRV-OTHER from corp</li>
    </ul>
</li>
<li><strong>Ticket INC1144997 : Backlog PRs not showing properly for pending delta column</strong> Fixed issue of backlog prs which was not showing properly for pending delta columns.</li>
<li><strong>Dashboard rating application</strong> Introduced new dashboard rating application which provides Junos Dashboard users an easy way to provide feedback on the service: capture satisfaction ratings and key opportunity areas.</li> 
</ul>

<h4> Version 2013.11R1</h4>
<ul>
<li><strong>RLI 2789: Request Matrix reported Dashboard report Security and Legal PRs per 14.1 criteria for consistent BU reporting</strong> Two new rules added to  Dashboard matrix Report to show Security and Third Party Legal PRs per 14.1 criteria for consistent BU reporting.</li>
<li><strong>RLI 2885: GNATS Blocker value "PendingMR" changes to "PendingBlocker", Relavant changes in dashboard.</strong> Replaced Gnats blocker value "PendingMR" to "PendingBlocker".</li>
</ul>


<h4> Version 2013.10R4</h4>
<ul>
<li><strong>RLI 2843: UAT issue tracking for JunosSW Ops dashboard.</strong>Changes made to show manager drill down hierarchy in tree structure and added the user defined tags for incoming and disposal date filters.
<li><strong>RLI 2883: Ticket - INC1134740 - Unique PR Fix rate tool for 14.2 IBs</strong>Replaced release 13.2 with 14.2 in dashboard PR Bugfix and newlyin prfix reports.</li>
<li><strong>RLI 2884</strong>NewlyIn PR Rules has been removed from matrix page. </li>
</ul>


<h4> Version 2013.10R1</h4>
<ul>
<li><strong>RLI 2780: Junos Ops UI Integration.</strong>New Junos Ops dashboard is integrated with Junos dashboard. Please visit the <a href="https://deepthought.juniper.net/dashboard/junos_ops/junos">link</a> </li>
</ul>


<h4> Version 2013.09R3</h4>
<ul>
<li><strong>September org structure changes.</strong>Dashboard has been updated with monthly org structure changes for the month of September 2013. Removed SSD-ESBU from organization structure. </li>
</ul>

<h4> Version 2013.09R2</h4>
<ul>

<li><strong>RLI 1942: CDM-v2 Phase 2B - Ability to report PR Fix Rate for "first reported in" PRs.  </strong> New feature is introduced to show Dashboard Unique PR Bug Fix report for finding newly introduced PRs in an IB and its DEV braches. </li>
<li><strong>RLI 2839: Add PR detail link to 12mo rolling MTTR in MTTR report </strong> PR detail link and included tooltip for 12 month rolling MTTR column in MTTR Report. </li>
</ul>


<h4> Version 2013.09R1</h4>
<ul>
    <li><strong>RLI 2842: Dashboard - Removal of JETTR </strong> Having two reports with similar objectives and using similar but different data and rules has the potential to create confusion within the Junos community, therefore the JETTR report is being retired in support of the corporate metric <a href="https://deepthought.juniper.net/dashboard/mttr/junos">MTTR</a>. </li>
</ul>

<h4> Version 2013.08R4</h4>
<ul>
    <li><strong> INC1092409 : Request to replace 13.1 from Dashboard Report->PR-BugFix Menu with 14.1.</strong> Replaced release 13.1 with 14.1 in dashboard PR Bugfix reports. </li>
   <li> Changed Rolling 12Month MTTR description for MTTR reports in Assumption/Notes section.</li>
</ul>

<h4> Version 2013.08R2</h4>
<ul>
    <li><strong> RLI 2616: Ability to track "unscheduled" release issues in Junos Dashboard  </strong> Junos Dashboard now picks up RLI data where release target is set to DEV branch which ultimately maps to "unscheduled". </li>
</ul>

<h4> Version 2013.07R1</h4>
<ul>
    <li><strong> RLI 2759: Enable MTTR with LDAP drilldown to be visible on the Junos dashboard </strong> Introduced new MTTR report which reads and calculates the data from i360 Report. </li>
</ul>

<h4> Version 2013.06R3</h4>
<ul>
    <li><strong> RLI 2779: DASHBOARD - Fix ConcurrentModificationExcepton </strong> CRS exception reported in production has been fixed. </li>
</ul>

<h4> Version 2013.06R1</h4>
<ul>
    <li><strong> RLI 2583: Dashboard rule for 'PendingMR' PRs</strong> New feature is introduced to show the 'PendingMR' Blocker PRs grouping by release(s). </li>
</ul>

<h4> Version 2013.05R4</h4>
<ul>
    <li> RLI 2728: BBI by Component invoke from dashboard </li>
</ul>

<h4> Version 2013.05R3</h4>
<ul>
    <li> Removed unnecessary debug statements to reduce the garbage messages in logs. </li>
</ul>

<h4> Version 2013.05R2</h4>
<ul>
    <li><strong>RLI 1913:</strong>New feature is introduced to handle null fields in Dashboard. </li>
</ul>

<h4> Version 2013.05R1</h4>
<ul>
    <li><strong>RLI 2726: Dashboard performance improvement.</strong> Rules and UI optimization has done to improve the data updates in dashboard. </li>
</ul>
<h4> Version 2013.04R4</h4>
<ul>
    <li><strong>RLI 2745: Reference change in Doc Backlog PR report.</strong> Reference date for Doc Backlog PR report is changed from 2010-10-31 to 2012-12-31.</li>
    <li><strong>RLI 2740:</strong> Added the 'class' GNATS field on display query results in dashboard PR related rules.</li>
</ul>
<h4> Version 2013.04R2</h4>
<ul>
    <li><strong>RLI 2736: </strong> Release '13.3' has been added and omitted the release '12.3' from PRbugfix report  </li>
    <li>Fixed the bug for CRS report data update failures.</li>
</ul>
<h4> Version 2013.03R4</h4>
<ul>
    <li><strong>RLI 2529: Enhanced New CRS Report.</strong> New feature introduced to show the CRS report grouping by releases(s)/state(s)/type(s) and also drilled down to a specific BG/BU/username. Please <a href="https://matrix.juniper.net/docs/DOC-142684">click here</a> to read about the changes.</li>
    <li><strong>RLI 2469: Fixed the modified record update rate in ReviewTracker datasource.</strong> Fix and reduce the modification/assertion record update rate in dashboard backend.</li>
    <li><strong>March org structure changes:</strong> Dashboard has been updated with monthly org structure changes for the month of March 2013. </li>
</ul>
<h4> Version 2013.03R2</h4>
<ul>
    <li><strong>RLI 2487: Enhanced forward looking PR Backlog Report.</strong> Replaced 'view list' option in 'Pending(+&Delta)' columns by calculated PR Backlog score.</li>
</ul>
<h4> Version 2013.02R4</h4>
<ul>
    <li><strong>RLI 2693: BBI reference change:</strong> Reference date for BBI report is changed from 1/31/2010 to 12/31/2012. More details on the change and snapshot data prior to the change are captured <a href="https://matrix.juniper.net/docs/DOC-140484">here</a></li>
</ul>
<h4> Version 2013.02R1</h4>
<ul>
    <li><strong>RLI 2609: Enhanced Dashboard matrix with Found-during filters Phase2:</strong> Now users can filter the PRs using found-during values (Specific Quality Drivers).</li>    
    <l><strong>RLI 2674:</strong> Fixed the bug which threw error while clicking on viewlist column of BBI report. </li>
    <li><strong>RLI 2669:</strong> Corrected defects identified in Junos JETTR dashboard report </li>
    <li><strong>January org structure changes:</strong> Dashboard has been updated with monthly org structure changes for the month of January 2013. </li> 
</ul>
<h4> Version 2013.01R1</h4>
<ul>
    <li><strong> 2013 MBO Changes:</strong> Updated current MTTR(JETTR) and BBI reports for use in 2013. Please <a href="https://matrix.juniper.net/docs/DOC-136860">click here</a>  to read about the changes. 
    <li><strong>RLI 2645: JETTR: Update MTTR for 2013:</strong> Renamed MTTR report as 'JETTR'. New JETTR report for 2013 MBO. </li>
    <li><strong>RLI 2646: Update BBI for 2013:</strong> BBI Report for 2013 MBO. </li>
</ul>
<h4> Version 2012.12R4</h4>
<ul>
    <li><strong>RLI 2659: 2010 MBO Reports Removal:</strong> Deleted legacy 2010 MTTR and BBI reports from dashboard.</li>
</ul>
<h4> Version 2012.12R3</h4>
<ul>
    <li><strong>RLI 2666: December org structure changes:</strong> Dashboard has been updated to reflect merge of psd-cbu and psd-eabu into psd-rbu.</li>
</ul>
<h4> Version 2012.11R1</h4>
<ul>
    <li><strong>RLI 2615: </strong> CRS expired request rule name changed by adding word 'Recently'.</li>
    <li><strong>RLI 2621: November org structure changes:</strong> Dashboard has been updated with monthly org structure changes for the month of November. </li>
</ul>

<h4> Version 2012.10R4</h4>
<ul>
    <li><strong>RLI 2454: </strong> Enhanced Dashboard matrix with problem-level based reports. Now users can generate reports for CL1 PRs, IL1 PRs ..etc</li>
    <li><strong>RLI 2610: </strong> Deleted few unused RLI related rules and deprecated RLI report.</li>
</ul>

<h4> Version 2012.10R2</h4>
<ul>
    <li><strong>RLI 2354: DASHBOARD - CRS Requests metrics display to all stakeholders.</strong> New Feature introduced to display CRS Issues on Agenda Page.</li>
</ul>

<h4> Version 2012.09R4</h4>
<ul>
    <li><strong>RLI 2488: Display lock down status of MR releases.</strong> New Feature introduced to show the lockdown status of MRs in Junos releases.</li>
    <li><strong>RLI 2585: </strong> Incorporated the GNATS new/renamed field changes. Renamed the GNATS field 'test-status' into 'test-gap-analysis-status'.</li>
</ul>
<h4>Version 2012.09R3</h4>
<ul>
    <li><strong>RLI 2531: </strong> Release '13.2' has been added and omitted the release '12.2' from PRbugfix report </li>
</ul>
<h4>Version 2012.09R1</h4>
<ul>
    <li><strong>RLI 2518: </strong> Optimized release hardening query.</li>
    <li><strong>RLI 2508: </strong> Upgraded Dashboard with monthly org structure updates for Aug 2012:</strong></li>
    Merged SSD-MBU, SSD-CMBU, SSD-RSBU to SSD-ESBU, Renamed SSD-VTSG to SSD-MVP, Merged SSD-PBU to SSD-SBU.
</ul>
<h4>Version 2012.08R4</h4>
<ul>
    <li><strong>RLI 2347: </strong> Disabled obsolete rules Dev-Complete RLIs without approved UTP, RLIs with ERs and spec not required.</li>
    <li><strong>RLI 2466: </strong> Filtering "Pending MR" blocker type from blocker rules.</li>
    <li><strong>RLI 2478: </strong> Bug fix in release hardening report #1.</li>
</ul>
<h4>Version 2012.08R2</h4>
<ul>
    <li><strong>RLI 2441: </strong> Fixed a bug which showed double counting for RLI related rules.</li>
    <li><strong>RLI 2444: </strong> Fixed a bug on PR Deploy Date under Dashboard Utilities page.</li>
    <li><strong>RLI 2493: </strong> Monthly Org Structure Changes: Removing psd-cbbu and psd-dcbu which are already merged to psd-cdbu.</li>
    <li> Fixed a bug in release hardening report resolved PR metrics to address missing PR columns and BU count issues.</li>
</ul>
<h4>Version 2012.07R4</h4>
<ul>
    <li><strong>RLI 2470: </strong>Monthly Org Structure Changes: Added Campus and Datacenter BU (psd-cdbu) and did minor changes to psd-other.</li>
    <li>Hardening links bug has been fixed in Release Hardening Report#1</li>
</ul>
<h4>Version 2012.07R3</h4>
<ul>
    <li><strong>RLI 2283: </strong>No Milestone blocker PRs rule has been modified to match only Major.Minor releases and hence filters out any other type of releases from this rule.</li>
    <li><strong>RLI 2451: </strong>Removed "Serviceability", "E2", "PDT, "RCCA" reports from QIR Reports since these reports are no longer needed in this page.</li>
    <li><strong>RLI 2452: </strong>Fixed the display text next to "RLIs" and "RLIs in Scoping and Planning" rules.</li>
</ul>
<h4>Version 2012.07R2</h4>
<ul>
    <li><strong>RLI 2444: </strong>Fix for pr deploy date reports</li>
    <li>PRs count issue has been fixed in release hardening reports</li>
</ul>
<h4>Version 2012.07R1</h4>
<ul>
    <li><strong>RLI 1945: Test escaping tracking deployed:</strong> New feature introduced to track un-closed test-status PRs.</li>
    <li><strong>RLI 2323:</strong> Improve debugging and diagnostic output for Release Hardening reports.</li>
</ul>
<h4>Version 2012.06R4</h4>
<ul>
	<li><strong>RLI 2323:</strong> Release Hardening reporting.</li>
	<li><strong>RLI 2440:</strong> Totals tab do not work for CDM V2 releases in Scoping and Planning.</li>
	<li><strong>RLI 2443:</strong> Protect Dashboard server from hanging queries.</li>
</ul>
<h4>Version 2012.06R3</h4>
<ul>
	<li><strong>PR 788494:</strong> RLI Related rules are now firing properly.</li>
</ul>
<h4>Version 2012.06R1</h4>
<ul>
   <li><strong>RLI 2423:</strong> Blocking release field removal in dashboard scripts.</li> 
   <li><strong>RLI 2386:</strong> Blocker PRs are not showing for 12.3 PSD-CBBU in dashboard matrix page.</li> 
</ul>
<h4>Version 2012.05R4</h4>
<ul>
   <li><strong>Upgraded Dashboard with monthly org structure updates for May 2012:</strong></li>
   Merged "psd-junoscore" to "psd-junossw", removed "ssd-mvi".
</ul>
<h4>Version 2012.05R1</h4>
<ul>
   <li><strong>Upgraded Dashboard with monthly org structure updates for April 2012:</strong></li>
   Added new BU "psd-junoscore",  renamed "ssd-vjbu" to "ssd-vtsg", merged "psd-cto" to "psd-other".
</ul>
<h4>Version 2012.04R4</h4>
<ul>
    <li><strong>Backward navigation for MTTR and Backlog PRs Report</strong></li>
    Fixed the user tree hierarchy sorting issues in backlog PR reports. (RLI 1747)
</ul>
<h4>Version 2012.04R3</h4>
<ul>
    <li><strong>Backward navigation for MTTR and Backlog PRs Report</strong></li>
    New feature introduced to show manager's manager information in MTTR and backlogPRs report.
</ul>
<h4>Version 2012.04R1</h4>
<ul>
    <li><strong>PR BugFix Report currently shows JUNOS Versions 12.1, 12.2 and 12.3</strong></li>
    Until the earlier release, PR BugFix Report was showing 11.4, 12.1 and 12.2; Since we are now past the 11.4, we have omitted that and added 12.3 to the PR BugFix Report on the dashboard. Please note that the current PR BugFix Report can display only 3 Releases at a time.
</ul>
<h4>Version 2012.03R4</h4>
<ul>
    <li><strong>Fixed ConcurrentModification Exception</strong></li>
     Fixed the issue which has contributed to incorrect data in backlog PRs and update failures.
</ul>
<h4>Version 2012.03R1</h4>
<ul>
    <li><strong>Fixed (?) Hyperlinks on Junos Release X.Y Agenda Page</strong></li>
    The following fields on Agenda Page for CDMv2 Releases (11.4 and above) have been updated to provide the respective definition links on deepthought page via the (?) placed near them:-
1. IBFRS Check Point 1
2. IBFRS Check Point 2
3. IBFRS Check Point 3
4. IBFRS Check Point 4
5. IBFRS (We point it to Planned, Release or Actual as it pertains to)
    The following field on Agenda Page for all Releases has been updated to provide the respective definition link on deepthought page via the (?) placed near it. (We point it to Planned, Release or Actual as it pertains to):-
1. First Factory Ship
</ul>
<h4>Version 2012.02R4</h4>
<ul>
    <li><strong>Fixed Doc Backlog Prs report</strong></li>
     Fixed the reference data of the Doc Backlog Prs report and updated documentation.
</ul>
<h4>Version 2012.02R3</h4>
<ul>
    <li><strong>Filtering special releases (W and X) from Junos Agenda.</strong>
     Special releases are not included in Junos agenda as they are not relevant
     for Junos release cycle. Individual agendas include special releases.
     <br>
     Other reports of interest:
     <br>
     PR Bug Fix: Special releases are filtered.
     <br>
     MTTR: No filtering.
     <br>
     BackLog PRs: No filtering (Release cadence sensitive).
     <br>
     MTTC-KPIs: No filtering (Release cadence agnostic).
    </li>
    <li><strong>New bu ssd-mvi</strong>
     Added new bu ssd-mvi in place of ssd-dbu and ssd-jsbu.
    </li>
</ul>
<h4>Version 11.10</h4>
<ul>
    <li><strong>Removal of Severity from MTTR queries and definition</strong>
    MTTR queries use Problem-Level for query instead of Severity as per SERCCA PR Taxonomy Requirements.
    </li>
    <li><strong>Removal of Category="sw*" from MTTR queries and definition</strong>
    MTTR queries now rely on Functional-Area == "software" and not on Category == "sw*"
    </li>
    <li><strong>Total PRs rule fixed</strong>
    Total PRs rule is now consistat with other rules
    </li>
    <li><strong>Reference Counts removed from Agenda</strong>
    Reference counts which were confusing users are no longer displayed in the Agenda.
    </li>
    <li><string>For MTTR, include only those PRs whose Feedback Date lies in a specific period.</string>
    For MTTR, we had been provided the requirements to choose the Feedback Date corresponding to the earliest closed date, if and only if that closed date lies in the specified period for which MTTR is being computed. If the PR does not fulfill this criterion, it is ignored. Now, this new requirement tells us that we need to check if this Feedback Date also lies in the same time period for which MTTR is computed. 
     </li>
    <li><strong>Incorrect Assignment of PR to Dev Owner in PR 477777-3 </strong>
    
The template here provides guidelines on what a good RLI description contains?
    A PR needs to be assigned to Category SPOC, if and only if the Dev Owner is empty or not with juniper any longer. But in this case, 477777-3, we see that PR is assigned to Category SPOC, even though a Valid Dev Owner is present. 
    </li>
    <li><strong>Removed PRs that have closed scopes from showing up under MTO Column. </strong>
    The query excludes the PRs that are closed to determine the Open PRs. This results in open scopes of PRs containing closed scopes also being shown under MTO.
Instead the query is modified and an added logic filters out such PR Scopes. 
    </li>
    <li><strong>Need to remove PRs that have closed scopes from showing up under MTO Column. </strong>
    The template here provides guidelines on what a good RLI description contains?
    The query excludes the PRs that are closed to determine the Open PRs. This results in open scopes of PRs containing closed scopes also being shown under MTO.
Instead the query is modified and an added logic filters out such PR Scopes. 
    </li>
    </li>
</ul>
<h4>Version 11.1</h4>
<ul>
    <li>
    <strong>Adding Doc and CVBC Reports</strong>
    <br />
    Capturing the requirement for Doc and CVBC backlog.
    </li>
    <li>
    <strong>PR Backlog for 2011</strong>
    <br />
    PR Backlog are now based on scores vs. counts and the queries used have changed to use problem level.
    </li>
    <li>
    <strong>MTTR Report for 2011</strong>
    <br />
    MTTR Report is now based on the mean of the TTRs for all the closed PRs in a particular period of time, after eliminating the PRs whose TTRs fall at the top five percentile levels. Besides Customer PRs, queries include those PRs which have a JTAC-Case-Id. All PRs considered for MTTR computation belong to one of the following Problem-Levels: CL1, CL2 and CL3.
    </li>
</ul>

<h4>Version 5.7</h4>
<ul>
    <li>
    <strong>Adding 2 new columns to the MTTR Page</strong>
    <br />
    There are 2 new columns being added to the MTTR Dashboard page, they are Current #CFD Open by Responsible
    and PRs Untouched > 1 Week by Responsible, with Responsible as their primary ownership.
    </li>
</ul>
<h4>Version 5.6</h4>
<ul>
    <li>
    <strong>Problem Rules Removed from Matrix Report</strong>
    <br ./>
    Certain rules which were designed for specific report but do not work generically in
    Matrix report have been removed from the Matrix building screen.  Existing reports using
    these rules will still work if people have bookmarks.
    </li>
    <li>
    <strong>Fix the generated query for 'exclude monitored, suspended and feedback' count</strong>
    <br />
    All of the matrix page and Backlog PR counts which uses 'exclude monitored, suspended and feedback' count 
    will return the correct scope of PR 
    </li>
    <li>
    <strong>Trend Data Adjusted</strong>
    <br ./>
    Merged some groups into others because of name changes and deleted
    some groups entirely from MTTR and Backlog PR trend data reports.
    </li>
    <li>
    <strong>Drop down selections remembered for Backlog PR report</strong>
    <br ./>
    When drop downs are selected in the Backlog PR report and a person is clicked to dig
    deeper into the hierarchy, the drop down selections are now remembered.
    </li>
    <li>
    <strong> Adding 3 new column in Backlog PRs</strong>
    <br ./>
    There are 3 new column being added in backlog PRs page, they are backlog PR count
    with responsible as their primary ownership. There are also new drop down options
    to pick the type of Backlog PRs by Responsible, they can be choose between 'All PRs'
    and 'PRs where responsible != dev-owner'.  Both sets of these columns also now show up in the trend report.
    </li>
    <li>
    <strong>Labels in Agenda adjusted to match rule name</strong>
    <br ./>
    Lables on the Agenda page have been adjusted to match what the actual rule
    name is with the a possible clarifying comment in ()s vs. a total replacement
    of the rule label with an unrelated title.
    </li>
    <strong>MTTR & Backlog PR adjustments</strong>
    <br ./>
    Older data added to MTTR and Backlog PR trending.  Fields adjust in MTTR trending to match the fields being displayed in the GUI.
    </li>
    <li>
    <strong>New "Unique Count" in PR bug fix</strong>
    <br ./>
    Unique count will be default count in PR bug fix, where it will calculate the number of bug based on PR and not based on scopes.
    </li>
</ul>
<h4>Version 5.4</h4>
<ul>
    <li>
    <strong>PR Deploy Date fixed</strong>
    <br ./>
    PR Deploy date works again.
    </li>
    <li>
    <strong>Fixed Trending Labelling</strong> <br />
	</li>
    <li>
    <strong>Fixed Django Admin</strong> <br />
    Django admin will now work again.
	</li>
    <li>
    <strong>Branch Naming Initiative Changes</strong> <br />
    Changes in dashboard UI for IB branches, for all display names the IB branch
    will be shown using their full branch name. <br />
    As Part of preparation for Release Tracking, Dashboard will also added GNATS Release Portal 
    as their datasources. The Release Portal will used as pivoting tables for Release value in
    Milestones tables and GNATS branch values. 
    </li>

    <li>
    <strong>Backlog PR added information</strong> <br />
    BBI description is added into 'Assumption/Notes' <br />
    Systest-owner is added in the column query result for Backlog PR and MTTR
    </li>
    <li>
    <strong>Release Dates ordering information</strong><br />
    TOT Full Regression on the 'Release Dates' box is re-ordered to be right above the TPRG
    to match with the real timeline.
    </li>
    
    <li>
    <strong>PR Bug Fix Report Coloring Change</strong><br />
    The coloring for table cells is now determined using the following algorithm:
    <ul>
        <li>
            If the report's release is not a CDM release <strong>or</strong> if the report's release is a CDM release that has passed it's IBRG milestone: 
            <ul>
                <li>Green: 100%</li>
                <li>Yellow: 85% &lt;= x &lt;= 95%</li> 
                <li>Red: &lt; 85%</li>
            </ul>
        </li>
        <li>
            Otherwise: 
            <ul>
                <li>Green: &gt; 80%</li>
                <li>Yellow: 70% &lt;= x &lt;= 80%</li>
                <li>Red: &lt; 70%</li>
            </ul>
        </li>
        <li>
            If the PR is a blocker, an extra 5% of "urgency" is added.
        </li>
    </ul>
    </li>

    <li><b>Release Tracking Initiative Changes</b> <br />
    All of the generated column link to GNATS has been updated to conform with updated 'planned-release' field.
    All of the rules in dashboard which deals with GNATS old 'release' field has been safely modified to 'planned-release'.
    These changes reflected in our backend engine, so there are no changes in our displayed rule information.<br />
    The 'release' field reflected in dashboard Rules will look for this following field in GNATS:
    <ul>
    	<li>Conf-Committed-Release</li>
    	<li>Committed-Release</li>
    	<li>Planned-Release</li>
    </ul>
    </li>
    
</ul>

<h4>Version 5.3</h4>
<ul>
    <li>
        <strong>Loading Page Eliminated</strong><br />
        People should no longer see the loading message.
    </li>
    <li><strong>Improvement on Development Branch for PR Bug fix</strong><br />
        Report will include more development branch which is missed on earlier
        release.
     </li>
     <li>
     	<strong>Adding Feedback-date and JTAC Case ID on Backlog PR Results</strong> <br/>
     	Backlog PR will include these 2 columns as their result, to give easier
     	and better reporting for all users.
     </li>
</ul>

<h4>Version 5.2</h4>
<ul>
    <li>
        <strong>Fix combined report on Backlog PR page</strong><br />
        The combined report now works correctly all users, not just junos.
    </li>
    <li>
        <strong>Make MTTR page look like backlog page</strong><br />
        Remove 0 rows and add formatting to make MTTR page look like backlog page and standardize 
        column headers.  
    </li>
    <li>
        <strong>Trend report adjustments</strong><br />
        Remove Forward field from the backlog report and replace with blanks.  Add 30.0 to the MTTR report. 
    </li>
    
    <li>
        <strong>Replace Forward view of backlog PR with Pending/Delta view</strong><br />
        Third column in backlog PR will show the delta view of backlog PR. The column will show
        how many PRs which is going to be added once the next R1 release being deployed.
    </li>
    <li>
        <strong>New Loading Page</strong><br />
        When the dashboard is loading backend data, a new page with a better description of what is going on is displayed
        vs. an error page.  This new page does not show things that are not accessible while loading and also
        reloads every 30 seconds until data is found. 
    </li>
    <li>
        <strong>Cleaned up PR Fix report</strong><br />
        Removed rows that are all 0 and removed the PR Blocker columns
    </li>
    <li>
        <strong>Utilities for calculating PR deploy date</strong><br />
        New utilities to automatically get the PR deploy date. The tools will calculate the deploy date based on the information
        in the CR and CCR, also taking consideration the Release information in deepthought. For more information visit <a href="{% url 'pr_date_default' %}">PR Deploy Date</a>
    </li>
    <li>
        <strong>PR bug-fix include development branches PR</strong> <br />
        More complete and granularity are introduced in PR bug-fix reporting, user can get more complete and accurate data on their
        development branch PRs which is counted in PR bug-fix. More granularity also introduced which include the categorization of
        counting between types of PR (either development branches PR, IB PR, etc). 
    </li>
</ul>

<h4>Version 5.1</h4>
<ul>
<li> <strong>Prevent loading from halting site </strong> <br />
During the backend updates, currently the site will halt the user and makes dashboard unaccessible. 
This feature will make the dashboard accessible and not halting the user everytime there is ‘backend’ update process. 
</li>

<li> <strong>PR Bug Fix – change closed & feedback user responsible algorithm</strong> <br />
Change the algorithm for closed and feedback PRs in PR bug fix reports.
Currently it is not checking on the responsible field for closed and feedback, the feature will change the algorithm for closed & feedback:
    <ul>
        <li>Use dev-owner field if it not blank</li>
        <li>If dev-owner is blank then use responsible field</li>
    </ul> 
</li>

<li> <strong>Weekly snapshots capturing and displaying of backlog and MTTR for trending</strong><br />
Provide CSV output of the snapshots. We are adding ‘YTD Trend Data’ column, which will give you the snapshots for each users. At the end of every backlog and MTTR page there is also ‘Combined trend report for all rows on this page’, which will give you all of the users’ data snapshot in that page.
</li>

<li> <strong>Forward View of backlog PR</strong><br />
Add new column ‘Pending <Next Release>R1 PRs’. The column will provide you with the amount of PR which will be counted as backlog PR as soon it reaches the deploy date.
</li>

<li> <strong>Enhancement in color coding for Backlog PR</strong><br />
Some new UI enhancement is introduced in Backlog PR page
    <ul>
        <li>Remove records which as ‘0’ as their current and reference backlog count</li>
        <li>Give white/transparent color legend for BU/BG/user which their reference count is less than 1% from Total reference count</li>
        <li>On the front page, adding a divider on every BU/BG information</li>
        <li>Collapsable/Expandable Graph on the bottom of the page</li>
    </ul> 
All of the information on Branches is taken from Branch Tracker in deepthought. This new rules will be available on every user’s agenda and also collectable from Matrix Page.
</li>

<li> <strong>Tracking CDM Phases</strong><br />
Introducing 3 new Rules :
    <ul>
        <li>Development Branch PRs</li>
        <li>Unscheduled Development Branch PRs</li>
        <li>Private Branch PRs</li>
    </ul> 
All of the information on Branches is taken from Branch Tracker in deepthought. This new rules will be available on every user’s agenda and also collectable from Matrix Page.
</li>

<li> <strong>Add Additional Information on Release information</strong><br />
Adding ‘TOT Full Regression Start Date’ on the Release Dates information, this information is not derived from deepthought but it is count as 39 days after IBRG. 
</li>

<li> <strong>Addition of MTTR/PR Projection Columns</strong><br />
New ‘Projection MTTR’ and ‘PR Projection’ column in MTTR page, the information will shows user the projected MTTR count and PR that is affected to it. 
</li>
</ul>


<h4>Version 5.0</h4>
<ul>
<li> <strong>Dashboard Stop relying on irrelevant NPI Record</strong> <br />
Dashboard will stop relying on irrelevant NPI record which recorded for CDM releases
</li>
<li> <strong>Identifying Blocker Missing Milestones</strong> <br />
Introducing new rules 'No Milestones Blocker', which will capture all blockers PR who has missing Milestones
</li>
<li> <strong>New Organization Chart</strong><br />
New organization chart will take effect on all of dashboard reporting (backlog PR, MTTR, RLI reporting, PR bug fix) <br />
The most current BU/BG list that reflect the new Organization chart can be found at <a href="{% url 'help_bglist' %}">list</a>
</li>
<li> <strong>PR Bug Fix not identifying all PRs on IBx branches</strong><br />
Fixes the problem for IBx PR bug fix reporting
</li>
<li> <strong>Adding 'catchall' category in Backlog PR</strong><br />
Adding 'catchall' category in backlog PR which will classified the PR if their owner is from the 'Category' and has these criteria:
    <ul>
        <li>non_user : catching all SPOC who is not an employee anymore</li>
        <li>blank_spoc : catching all SPOC who has blank value</li>
        <li>deprecated_category : catching all SPOC who has been deprecated</li>
    </ul>
</li>
</ul>

<h4>Version 4.9</h4>
<ul>
<li> <strong>New 'RLI-Reporting' section under top menu 'Report' </strong><br />
The Metrics will show the Test RLI percentage report for certain conditions:
    <ul>
        <li>Test Execution</li>
        <li>Pass Rate</li>
        <li>Test Script</li>
        <li>Test Plan Status</li>
    </ul> 
</li>
<li> <strong>'PR Backlog Metric' Version 1.0 is released </strong><br />
BU and BG breakdown applied to this metrics, which no matter where user drill-down to they still able to 
track the user's BU. Another updates that is applied for this 'PR Backlog':
<ul>
    <li>Update the notes with our most current algorithm</li>
    <li>Removing the "History/Reference" backlog count from user's agenda</li>
</ul>
</li>

<li> <strong>'Major+Critical' column in PR bug-fix is removed </strong><br />
BU and BG breakdown also applied to this metrics, which no matter where user drill-down to they still able to 
track the user's BU. 
based on the request from <a href="mailto:governance-staff">governance-staff</a>, we removed the "major + critical" columns.
</li>

<li> <strong>'Branch Tracker' record is captured in dashboard </strong><br />
Dashboard now able to retrieve 'Branch Tracker' record from the deepthought system. 
</li>

<li> <strong>Introducing the use of 'P1 release target' in dashboard for RLIs on CDM branches </strong> <br />
You will be able to see 2 types of RLIs in your Agenda page or Release page for all CDM release and branches:
<ul>
    <li>RLIs in Implementation, Testing and Delivery</li>
    <li>RLIs in Scoping and Planning</li>
</ul> 
</li>
</ul>

<h4>Version 4.7</h4>
<ul>
<li> <strong>New 'Report' section in top menu</strong><br />
This menu consist of the 'Matrix' page and the 'new' PR bug-fix page. 
</li>

<li> <strong>New CDM-Milestone pages</strong><br />
Dashboard has inidividual pages for each IBx releases along with their milestone
information. 
</li>

<li> <strong>Rolled-up score calculation</strong><br />
For every rules that is associated to the CDM releases, will have rolled up score. 
This means that every score on IBx will be rolled-up to their TOT too.
This calculated score also affect the matrix page. 
</li>

<li> <strong>New PR bug fix rate page</strong><br />
Dashboard will count the bug fix based on their Business Unit. The scores are calculated
from the closed PR and divided into two sections 'InReported_in' and 'BackLog'. The page
also generate graph based on the shown table. 
<ul>
    <li>InReported_in, will calculate all closed PR which has 'bug' state and their Reported-in
        is equal to the Release.
    </li>
    <li>Backlog, will calculate all closed PR which has 'bug' state and their Reported-in
        is less or not equal to the Release.
    </li>
</ul>
</li>
</ul>

<div class="no-tour">
<a href="#" id="adminToggle">show/hide Previous versions...</a>
<div id="adminInfo">

<h4>Version 4.1</h4>
<ul>
<li> <strong>New CDM-Milestone</strong><br />
Dashboard now are ready to pickup the milestones dates of CDM-release (starting
10.3), detailed release information starting on 10.3 will be using CDM dates.
</li>

<li> <strong>Rule summary page</strong><br />
New page that provide the summary on each rules that is exist on the dashboard along 
with the "Effective", "Sunset", "Multiplier", "Weight" and "Objective". The 
<a href="{% url 'rule-summary' %}">Rule-Summary</a> will give you an easier and faster
look on the existing rules.
</li>
</ul>

<h4>Version 4.0</h4>
<ul>
<li> <strong>Less noise, more relevance</strong><br />
Based on feedback from users, the <a href="{% url 'my-agenda' %}">Agenda</a> has been
pared down to what really matters.   Most issues show up when their milestone
(build, phase exit, etc.) is near, and disappear after it passes.  
</li>

<li> <strong>Issues divided by time and type</strong><br />
Issues in the <a href="{% url 'my-agenda' %}">Agenda</a> are divided into
sections (Always Important, Now, Soon, Later) based on when they need to be
addressed.  For managers and Virtual Teams, issues are separated into
"PR Issues" and "Other Issues", to make it easier to manage priorities.
</li>

<li> <strong>Record summaries</strong><br />
Hover over an issue link in the <a href="{% url 'my-agenda' %}">Agenda</a>,
and a popup will show the number, synopsis and last-modified date of the
first {{ summary_count }} matching records.  This makes it easier to see if
action is necessary. 
</li>

<li> <strong>More Matrix reporting options</strong><br />
The <a href="{% url 'matrix' %}">Matrix</a> is much more flexible and easier
to use.  You can view a single release or multiple releases, filter PRs by
feedback state, add titles and edit existing matrixes.
</li>

<li> <strong>NPI program status on a per-release basis</strong><br />
<a href="{% url 'npis' %}">NPI programs</a> are now treated like users or virtual
teams -- you can view status in each release and use them in the matrix.
</li>

<li> <strong>BG, BU and department status</strong><br />
Virtual teams have been created for each Business Group, Business unit,
and department number.  The BGs and BUs are now "reports" of the junos
pseudo-user.
</li>

<li> <strong>"Do What I Mean" box</strong><br />
The Dashboard now has a DWIM box (like gnatsweb), providing quick access to
any user's status, release status or PRs.  You can also go enter PR or RLI
numbers.  Hover over the box for instructions.
</li>

<li> <strong>Upcoming events</strong><br />
The <a href="{% url 'my-agenda' %}">Agenda</a> and release pages display upcoming
milestones in the upper right corner.  Hover over the box for an expanded list.
</li>

<li> <strong>Context Help</strong><br />
Click on the context help button <img src="{% url 'base' %}/inc/images/help-16x16.png" />
at the top right corner of a page to show descriptions of the important
elements.
</li>

<li> <strong>New Look and Feel</strong><br />
More subtle use of color, clearer navigation, more information on the page,
easier on the eyes.  Features tasteful use of web-2.0 goodies.
</li>

<li> <strong>Improved architecture</strong><br />
The UI layer has been decoupled from the Java-based rules engine, and rebuilt in
Python using the Django framework and the jQuery Javascript library (like
gnatsweb).  This will allow for faster and easier development of new features. 
</li>
</ul>

<h4>Version 3.2</h4>
<ul>
<li> <strong>Virtual Teams</strong><br />
Status can be tracked for arbitrary groups of people.
<a href="{% url 'help' %}#vteams">Details</a>.
</li>

<li> <strong>Category PRs</strong><br />
Opportunity is now assigned to the SPoC for PRs where responsible is a category
alias.  Links are provided to category PRs in the agenda.
<a href="{% url 'help' %}#assign">Details</a>.
</li>

<li> <strong>Rule Sunsets</strong><br />
Rules may now have a "sunset" time, after which they no longer accrue opportunity.
</li>

</ul>

<h4>Version 3.1</h4>

<ul>
<li> <strong>The Rules Matrix</strong><br />
A new way to look at the data.  See a few rules for a few users across all
releases.  Click on the "Matrix" link in the topnav to
build your own report.
</li>

<li> <strong>PR Matrix</strong><br />
The "PRs" links in the topnav provide a shortcut to a Rules Matrix of all the
PR based rules.
</li>

<li> <strong>Multi-state Support</strong><br />
The back-end and display code are ready for multi-state GNATS.
</li>
</ul>

<h4>Version 3.0</h4>
<ul>
<li> <strong>NPI Programs</strong><br />
The Dashboard now tracks the status of JUNOS NPI Programs.
<ul>
<li> Click on the <a href="{% url 'npis' %}">NPIs</a> link under JUNOS in the topnav.  Programs are
listed in order of decreasing opportunity.  Click on a program name
to see details and issues.  At the bottom is a dropdown listing all programs.</li>
<li> Current NPI rules cover PRs and non-release-based RLI issues
(at-risk, TRDs, etc.).  More complex rules will be added later.</li>
<li> All PRs associated with an NPI program are linked from the "Details"
column on the program pages.</li>
<li> Status is currently only tracked on a per-program basis.  Individual
user get a link to their associated programs on the Agenda page.</li>
<li> PRs are linked to NPI programs based on the RLIs listed in the "RLI"
field of the PR.  For more details, contact
<a href="mailto:lbirch@juniper.net?Subject=NPI%20PRs%20in%20the%20Dashboard">Lisa
Birch</a> in JUNOS Governance.</li>
</ul>
</li>

<li> <strong>Old reviews excluded</strong><br />
To reduce noise, opportunity is no longer assigned for reviews older
than four months.
</li>

<li> <strong>Improved rule administration</strong><br />
It's now possible to edit, add or remove rules without system downtime.
</li>

</ul>

<h4>Version 2.0</h4>
<ul>
<li><strong>Status for all JUNOS developers</strong><br />
The Dashboard is no longer just for managers.  Now everyone can join in
the fun.
</li>

<li><strong>Review Tracker rules</strong><br />
Tracks unassigned, pending and abandoned reviews.  Flags reviews with
invalid reviewers.
</li>

<li><strong>Increased update frequency</strong><br />
Status for all users is updated roughly four times per hour, instead of
four times per day.
</li>

<li><strong>Beta and Release blockers are now reported separately</strong><br />
</li>

<li><strong>Management structure display on the agenda page</strong><br />
Links to your manager and your direct reports, and display of their scores.
</li>

<li><strong>Improved navigation</strong><br />
</li>
</ul>
</div>
</div>
<br />
