/* Junos Ops page and tab structure */
#left_tabs_panel .title {
  background: #6884BD;
  color: #FFFFFF;
  padding : 5px 0px 5px 10px;
  display: block;
  font-size:14px;
}

#left_tabs_panel .subtitle,
.left_tabs_description {
  padding: 5px 0px 5px 15px;
  font-style: italic;
  display: block;
  font-size:12px;
}

#left_tabs_panel {
    width : 12%;
    float : left;
}

#right_tabs_panel {
    width : 100%;
    margin-top : 5px;
    float:left;
}

.roundedBorder,
.Tableau_displayFrame{
    border: 2px solid #A5A5A5;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius: 8px 8px 8px 8px;
}

.Tableau_displayFrame_holder {
    -webkit-overflow-scrolling:touch;
    overflow : auto;
}

/* Release Input Panel */
.releaseInputPanel {
    margin : 2px 0px 5px 4px;
}
.releaseInputPanel label {
    display:inline-block;
}

/* Calendar Box (calendar input) */
.calendarBox {
    border : 1px none #ececec;
    padding: 0px;
    margin-bottom: -5px;
}

.calendarBox .input-append{
    width: 99%;
}
.calendarBox .input-append input[type="text"]{
    width: 75% !important;
}

.calendarBox .input-append button{
    width: 24%;
}

.calendarBox .input-append .btn {
    padding-left:3px;
    padding-right:3px;
}

.calendarBox .form-horizontal .control-label {
    text-align:left;
    width : 90px;
}
.calendarBox .form-horizontal .controls {
    margin-left : 90px;
}
.calendarBox  .form-horizontal .controls [class*="span"] {
    max-width : 180px;
}

.calendarBox .form-horizontal .input-append {
    max-width : 180px;
}

.calendarBox div[class*="span"].form-horizontal{
    max-width : 380px;
}

.calendarBox .formDateRange {
    max-width : 610px;
}

.calendarBox .row-fluid .span2 {
    width : 16.529915%;
    margin-left : 5px;
    margin-right: 12px;
    min-width : 100px;
}
/* -- calendar Box */

/* -- top tabs panel */
#top_tabs_pabel {
    margin-bottom : 0px;
}
#top_tabs_pabel .accordion-group {
    padding : 0px;
}
#top_tabs_pabel .accordion-heading {
    background-color : #6884BD;
    color: #FFFFFF;
    font-size:14px;
}
#top_tabs_pabel .accordion-heading a:visited,
#top_tabs_pabel .accordion-heading a:hover,
#top_tabs_pabel .accordion-heading a:focus,
#top_tabs_pabel .accordion-heading a {
    color : white;
    text-decoration:underline;
}
#top_tabs_pabel .accordion-heading i,
#top_tabs_pabel a.accordion-toggle {
    text-decoration: none !important;
}

@media screen and (max-width: 979px) {
    .nav-tabs > li {
        float:none;
    }
    #report_accordion {
        z-index : 99999;
    }

    #right_tabs_panel {
        width : 100%;
        float : left;
        clear:both;
    }

    #top_accordion{
        display : block;
        width : 100%;
        clear : both;
    }

    #upcoming-holder {
        float:right;
        width:10em;
    }

    .calendarBox .row-fluid .span2 {
        width : 100%;
    }

}

@media screen and (max-width: 767px) {
    /* IE8 did not support :not(:first-child) so we use this sibling selector instead */
    #myTabContent .row-fluid .span6 + .span6 {
        margin-top :15px;
    }
}


/* Making sure bootstrap and font-awesome icon works together*/
[class^="icon-"], [class*=" icon-"]{
    background:none;
}
/* overwrite bootstrap css on container-fluid to leave no padding */
.container-fluid {
    padding-left:0px;
    padding-right:0px;
}
.accordion  {
    margin-bottom : 8px;
    margin-top : 8px;
}
.accordion .accordion-heading {
    line-height : 13px;
}
.bootstrap-panel ul {
    margin-left : 0px;
}

/* Issue #13 -- changing tab non-active color
   give the non-active tab also a border and provide some look and feel of
   non active tabs
*/
.nav-tabs > li > a {
    color : #aaaaaa;
    border: 1px solid #f5f5f5;
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color : #EBEEF3;
    padding-top : 5px;
    padding-bottom : 5px;
}

/* overwrite dash.css for full no-margin */
body , html  {
    width : auto;
}

#content {
    margin-left : 0px;
    margin-right: 0px;
}

#context-help-thing {
    position: absolute;
    top: 5px;
    right: 32px;
}
#upcoming-holder {
    height : 6.5em;
    float:right;
    width: 24em;
}
/* -- filter accordion */
.filterAccordion {
    margin-top :0px;
}

.filterAccordion .accordion-heading {
    background-color : #6884BD;
    color: #FFFFFF;
    font-size:14px;
}
.filterAccordion .accordion-heading a:visited,
.filterAccordion .accordion-heading a:hover,
.filterAccordion .accordion-heading a:focus,
.filterAccordion .accordion-heading a {
    color : white;
    text-decoration:underline;
}
.filterAccordion .accordion-heading i,
.filterAccordion a.accordion-toggle {
    text-decoration: none !important;
}


