.poc_frameHolder {
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

    border : 2px solid #F0EEEE;

    padding : 0 10px;

    height:600px;
}

.poc_settings {font-size:24px; color:white;margin-top:7px;}

.settings_panel_min {
    height:100%;
    background-color : #6884BD;
}

.poc_container_holder {
    margin-left:36px;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
}

.poc_container {
    width: 100%;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.poc_container ul, .poc_container ol {list-style: none;}

.gridster .gs-w {
    background: #EEE;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(120,120,120,.2)!important;
}