{% load dash_tags %}
{% ifnotequal result None %}
{% for key, value in result.items %}
    {% for scope, data in value.items %}
<tr>
     <td class="csv_data"><a href="https://{{host}}/{{path}}/{{database}}/{{key}}-{{scope}}">{{key}}-{{scope}} </a></td>
     <td class="csv_data">{{data|getHash:"field"}}</td>
     {% ifnotequal data|getHash:"value_link" "" %}
        <td class="csv_data"><a href="{{ data|getHash:'value_link' }}">{{data|getHash:"value"}}</a></td>
     {% else %}
        <td class="csv_data">{{data|getHash:"value"}}</td>
     {% endifnotequal%}
     <td class="csv_data">{{data|getHash:"value_deployed_time"}}</td>
     <td class="separator">&nbsp</td>
     {% ifnotequal data|getHash:"deploy_link" "" %}
        <td class="csv_data"><a href="{{ data|getHash:'deploy_link' }}">{{data|getHash:"deploy_release"}}</a></td>
     {% else %}
        <td class="csv_data">{{data|getHash:"deploy_release"}}</td>
     {% endifnotequal %}
     <td class="csv_data">{{data|getHash:"deploy_time"}}</td>
</tr>
    {% endfor %}
{% endfor %}
{% else %}
    <tr>
        <td class="csv_data">{{pr_number}}</td>
        <td class="csv_data"> - </td>
	    <td class="csv_data"> - </td>
        <td class="csv_data"> - </td>
        <td class="separator">&nbsp</td>
	    <td class="csv_data"> - </td>
	    <td class="csv_data"> - </td>
    </tr>
{% endifnotequal %}
<tr>
    <td colspan=7><hr /></td>
</tr>

<script>
$(document).ready(function(){
	  $('.tablesorter tbody tr').hover(
	          function(){
                  $(this).css('background-color','#66EFEF');
                  $(this).css('border-width','10px');
	          },
	          function(){
                  $(this).css('background-color','#FFFFFF');
                  $(this).css('color','#000000');
	          }
	  );
});
</script>
