{% load dash_tags %}
<div id="search_progress" style="width:auto;height:5px;background:#000" class="ui-widget-default"></div>
<input type="hidden" id="current_result" value=0/>
<input type="hidden" id="total_result" value=0/>
<br /> 
<center>
<div id="pr_date_toolbar"></div>
<table id="pr_date_table" class="tablesorter">
<thead>
<tr>
    <th class="small_width csv_header">PR</th>
    <th class="normal_width csv_header">Release-Field</th>
    <th class="medium_width csv_header">Release-Value</th>
    <th class="medium_width csv_header">Release-Deploy Time</th>
    <th class="{sorter: false}">&nbsp;</th>    
    <th class="medium_width csv_header">Calculated Release</th>
    <th class="normal_width csv_header">Calculated Deploy Time</th>
</tr>
</thead>
<tbody id="data_output">
   <!-- This is where the AJAX data will be -->
</tbody>
</table>
</center>
 
