{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<style>
</style>
 <div id="PRdate_tab">
    <ul>
        <li><a href="#pr_date_content"><span><h3>{{title}} - Version {{page_version}}</h3></span></a></li>
    </ul>


    <div id="pr_date_content" class="container_backlog">
        <br style="clear:both" />
        <form method='get' action='{% url 'create_csv' %}' id='csv_form' >
            <input type='hidden' id='csv_data' name='csv_data'/>
        </form>
        <strong>PR</strong><input type='text' name='pr_input' id="pr_input" size="60" length="1800"/>  
        <input type='button' id='pr_send_button' value="Find Deploy Date" />
        <input type='button' id='clear_result' value="Clear Result" />
        
        <br style="clear:both" />
        <br style="clear:both" />
        <div id="result_playground">
        	{% include 'pr_date/result_pr.html' %}
            <!-- AJAX RESULTS goes here -->
        </div>
		 <br clear="both"/>
         <hr />
         <p>
		 <h3>Assumption/Notes</h3>
		 <ul>
		      <li>Based on the information captured in Deepthought and Gnats, tools will try to calculate the deploy time of certain scope. <br />
	           </li>
		      <li>Acceptable PR-input is comma separated or space separated</li>
                  <br />
              <li>
                <table class="tablesorter">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Information</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>PR</td>
                        <td>shows the PR number and the scopes</td>
                    </tr>
                    <tr>
                        <td>Release-field</td>
                        <td>shows the field that is being used to determine the release value (either CR or CCR)</td>
                    </tr>
                    <tr>
                        <td>Release-Value</td>
                        <td>value from the Release-field</td>
                    </tr>
                    <tr>
                        <td>Release-DeployTime</td>
                        <td>(either CR or CCR) Release deploy time</td>
                    </tr>
                    <tr style="background:#000000">
                        <td colspan=2></td>
                    </tr>
                    <tr>
                        <td>Calculated Release</td>
                        <td>Relase where the PR is calculated to be deployed (following the algorithm on next bullet point)</td>
                    </tr>
                    <tr>
                        <td>Caculated Deploy Time</td>
                        <td>Actual Date-time where the Actual Release is deployed, based from Deepthought Milestones table.</td>
                    </tr>
                </table>
              </li>
              <br />
		      <li>Determining Deployed Release based on this:
                    <ol>
                        <li>Look for either CR or CCR value (Only look for 'R' and Service releases)</li>
                        <br />
                        <li>Obtain the Deploy date of a release value from step #1, look for the release which has 'actual' deploy date (from Deepthought)</li>
                        <br />
                        <li>Identify 'last successful commit' by looking at the time of the last field 'Target' is being modified. <br />
                            'Target' field will identify the last successful daily build for certain scopes. <br />
                            IF there are no target build yet, we will use the date when CR/CCR (from step #1) as our 'last successful commit'
                        </li>
                        <br />
                        <li>Between the 'last successful commit' (from step #3) to deploy date (from step #2), find any Service Releases or 'R' Releases that is also deployed. <br />
                            <strong>IF there are another Service Releases or 'R' Releases that meet this date range <br />
                               THEN pick the earliest deploy date as our <em>calculated</em> release value.</strong> <br />
                               <br />
                               Also Take consideration of the 'actual_release_branch' information in Deepthought.<br />
                               Only accepting releases which their "actual_release_branch" date is earlier than 'last successful commit' <br />
                        </li>
                        <br />
                        <li>Obtain the deploy date of a release from step #4 (if any otherwise, just use the same release value and deploy date from step #2)
                        </li>                         
                        <br />
                    </ol>		      
		      </li>
		      <li>All of the deploy date information are based on "actual_deploy_date" field in deepthought Milestones table.
		      </li>
		 </ul>
		 </p>
    </div>
<br />
<br class="clear"/>
<span class="note">
</span>    

<div id="spreadsheet-instructions">
<h3>To export these results to a spreadsheet:</h3>
<ul>
<li>Copy the selected data (control/command key + c).</li>
<li>Open up a spreadsheet file.</li>
<li>Paste the copied data into one of the cells (control/command + v).</li>
</ul>
<small>This is more robust than "download as csv file".</small>
</div>

</div>


<script>
$(document).ready(function(){
	$('#spreadsheet-instructions').hide();
    // Standard usability focus
    $("#pr_input").focus();
    // initiate tabbing look and feel
    function clear_result(){
        $("#search_progress").progressbar("option","value",0);
        $("#current_result").val(0);
        $("#total_result").val(0);
        $("#data_output").text("");

        $("#pr_date_toolbar").text("");
        $("#pr_send_button, #pr_input").removeAttr("disabled");
    }
    
    function process_data(){
        if ($("#pr_input").val() != ""){
            // 15000 is random number, in IE we need this otherwise it will get the cache result
            // -- assuming that in one day or until browser is closed, they will use this < 15000 hit
            var rand_session = Math.floor(Math.random()*15000);
            var str_input = $("#pr_input").val();
            // replace whitespces
            str_input = str_input.replace(/^\s*|\s*$/g,'');
            //var array_input = str_input.split(/\s+/).join(",").split(/,+/);
            var array_input = str_input.split(/[\s,]+/);
            
            var total_input = array_input.length;
            var current_count = 0
            show_loading();
            $("#pr_send_button, #pr_input").attr("disabled","disabled");
            $("#current_result").val(current_count);
            $("#total_result").val(total_input);
            $("#search_progress").progressbar({
                value : 0});
            // every PR will be queried individually
            for (i in array_input) {
                $.post("{% url 'add_row' %}",
                      {pr_number : array_input[i],req_session:rand_session},
                      function(data){
                          $("#data_output").append(data);
                          current = parseInt($("#current_result").val());
                          total   = parseInt($("#total_result").val());
                          current += 1;
                          $("#search_progress").progressbar("option","value",((current/total)*100));
                          $("#current_result").val(current);
                          if (parseInt($("#current_result").val()) == parseInt($("#total_result").val())){
                               $("#pr_send_button, #pr_input").removeAttr("disabled");
                               resort_table();
                               hide_loading();
                          }
                      }
                     );
            }
        }
    }
    function resort_table(){
        $("#pr_date_table tbody tr ").removeClass("odd");
        $("#pr_date_table tbody tr ").filter(":odd").addClass("odd");
        $('#pr_date_table tbody tr').hover(
              function(){
                  $(this).css('background-color','#66EFEF');
                  $(this).css('border-width','10px');
              },
              function(){
                  if ($(this).attr("class") == "odd"){
                      $(this).css('background-color','#e6EEEE');
                      $(this).css('color','#000000');
                  }else{
                      $(this).css('background-color','#FFFFFF');
                      $(this).css('color','#000000');
                  }
              }
        );
        // adding 'Export to Excel Link' and 'Dump to CSV File'
        $("#pr_date_toolbar").css({'text-align':'left','padding-top':'0px','padding-bottom':'10px'});
        $("#pr_date_toolbar").append("<a id='excel_link' href='#' target='pr_date_table'>Copy to Excel </a>");
        $("#excel_link").click(function(e){
            e.preventDefault();
            $("#" + $(this).attr("target")).selectContents();
            if ($.browser.msie) {
                // Workaround for no position:fixed in IE.
                $('#spreadsheet-instructions').css({
                  'top':$(window).scrollTop() + 100,
                  'position':'absolute'
                });
            }
            $('#spreadsheet-instructions').fadeIn();

            var hide_warning;
            hide_warning = function() {
                $('#spreadsheet-instructions').fadeOut();
                $('#spreadsheet-instructions').unbind('click', hide_warning);
                $('body').unbind('click', hide_warning);
            };          
            $('#spreadsheet-instructions').bind('click',hide_warning);
            $('body').bind('click',hide_warning);
            return false;
        });
        var header = new Array();
        var data_result = new Array();
        $("#pr_date_table thead tr th.csv_header").each(function(i){
            header.push($(this).text());
        });
        $("#pr_date_table tbody tr").each(function(i){
            var row_data = new Array();
            $(this).find("td.csv_data").each(function(col){
                row_data.push($(this).text());
            });
            data_result.push(row_data.toString());
        });
        $("#pr_date_toolbar").append(" | <a id='csv_link' href='#'>Dump to CSV File</a>");
        $("#csv_link").click(function(e){
            e.preventDefault();
            var data_table = {}
            var _header = new Array();
            var _data_result = new Array();
            $("#pr_date_table thead tr th.csv_header").each(function(i){
                _header.push($(this).text());
            });
            data_table.header = _header
            $("#pr_date_table tbody tr").each(function(i){
                var row_data = new Array();
                $(this).find("td.csv_data").each(function(col){
                    // Need space to force excel not recognize it as date
                    row_data.push(" "+$(this).text());
                });
                _data_result.push(row_data);
            });
            data_table.rows = _data_result;
            var encoded_json = $.toJSON(data_table);
            $("#csv_data").val(encoded_json);
            $("#csv_form").submit();            
        });
    }
    
    $("#PRdate_tab").tabs();
    
    $("#pr_input").qtip($.extend(true, {}, tooltip_opts, {
        style: { tip: { corner: 'topMiddle' } },
        position: { corner: { target: 'bottomMiddle', tooltip: 'topMiddle' } },
        show: { delay: 200 },
        content: { title: { text: 'PR input' },
                   text: "Comma or space separated value.  Currently limited to 1800 characters, fix in progress to expand to unlimited." }
      }));
    
    $("#clear_result").click(function(){
        // reset some UI configuration
        $("#pr_input").val("");
        clear_result();
    });

    $("#pr_send_button").click(function(){
        clear_result();
        process_data();
    });
    $("#pr_input").keydown(function(event){
        if (event.keyCode == "13"){
            process_data();
        }
    });
});


</script>
{% endblock %}
