.icon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


/* page structure */
body, html, form {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    padding: 0px 0px 0px 0px;
    margin: 2px;
    width: 98%;
}

#detail-container {
    width: 80%;
}


/** Data Table wrapper CSS **/
/* tables */
table.dataTable {
    font-family:arial;
    background-color: #CDCDCD;
    margin:0;
    padding:0;
    text-align: left;
    width:100%;
}

/* TODO: This is causing issue on agenda page. So commented this lines to fix later */
/** table.dataTable td,table.dataTable th {padding: 4px; border-left : solid 1px #ddd; border-right:solid 1px #eee;border-bottom:solid 1px #eee;}
table.dataTable th {text-align: center;} */

tr.odd {
    background-color: #E6EEEE;
}

tr.even {
    background-color: #FFFFFF;
}

tr.odd td.sorting_1 {
    background-color: #E6EEEE;
}

tr.even td.sorting_1 {
    background-color: #FFFFFF;
}
