{% load dash_tags %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
 <title>{% block title %}Default Title{% endblock %}</title>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=5" >
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
 var dash_base_url = "{% url 'base' %}";
 var page = "{{ page }}";
</script>

<!-- font awesome need relative path for the font directory -->
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
{% compressed_css 'junosops' %}

{% compressed_css 'print' %}
<!--[if lt IE 8]>
  {% compressed_css 'ie' %}
<![endif]-->

{% compressed_js 'junosops' %}
<!--[if lt IE 9]>
  {% compressed_js 'ie8' %}
<![endif]-->


<link rel="shortcut icon" href="/favicon.ico" />

{% block additionalcss %}
<!-- put other css / stylesheet which need to be loaded individually on each page here -->
{% endblock %}

</head>
<body>
<h1 class="print-only"><span style="color:blue">JUNOS</span> Dashboard</h1>
<div id="header">
 <ul class="sf-menu main-menu">
  <li><a href="{% url 'my-agenda' %}">JUNOS Dashboard</a></li>
  <li><a href="{% url 'my-agenda' %}">{{ the_user.id }} &raquo;</a>
  <ul>
   <li><a href="{% url 'prs' %}">PRs</a></li>
   <li><a href="{% url 'my-agenda' %}">Agenda</a></li>
   <li><a>Releases &raquo;</a>
    <ul>{% for rel in active_releases %}
     <li>
     	<a href="{% url 'release' rel the_user.id %}">{{ rel }} :: {% release_score the_user rel %}
    	{% show_cdm_branch 'release' rel the_user.id%}
     </li>{% endfor %}
    </ul>
   </li>
  </ul></li>
  <li><a href="{% url 'agenda' "junos" %}">JUNOS &raquo;</a>
   <ul>
    <li><a href="{% url 'prs-user' "junos" %}">PRs</a></li>
    <li><a href="{% url 'agenda' "junos" %}">Agenda</a></li>
    <li><a>Releases &raquo;</a>
     <ul>
      {% for rel in active_releases %}
      	<li><a href="{% url 'release' rel "junos" %}">{{ rel }} :: {% release_score junos rel %}
      		{% show_cdm_branch 'release' rel "junos" %}
      	</li>
      {% endfor %}
     </ul>
    </li>
   </ul>
  </li>
  <li><a href="{% url 'npis' %}">NPIs</a></li>
  <li><a href="{% url 'junosops-report' the_user.id %}">Junos Ops</a></li>
  <li><a>Report  &raquo;</a>
  	<ul>
  		<li><a href="{% url 'matrix-form' %}">Matrix</a></li>
        <li><a>Unique PR fix rate by IB&raquo;</a>
            <ul>{% for rel in pr_fix_releases %}
                <li>
                    <a href="javascript:void()">{{ rel }}
                    {% show_cdm_branch 'newlyin_pr_fix' rel 'junos' %}
                </li>{% endfor %}
            </ul>
        </li>
  		<li><a>PR-BugFix&raquo;</a>
		    <ul>{% for rel in pr_fix_releases %}
		     <li>
		     	<a href="{% url 'pr_fix' rel %}">{{ rel }}
		    	{% show_cdm_branch 'pr_fix' rel 'junos' %}
		     </li>{% endfor %}
		    </ul>
  		</li>
        <li><a href="{% url 'docbacklog' "junos" %}">Doc Backlog PRs</a> </li>
  		<li><a href="{% url 'backlogprs' "junos" %}">Backlog PRs</a> </li>
        <li><a href="{% url 'mttr' "junos" %}">MTTR</a></li>
        <li><a href="{% url 'sla' "junos" %}">MTTC KPIs</a> </li>
        <li><a href="{% url 'qir-report' %}">QIR Reports</a></li>
        <li><a href="{% url 'component-report' %}">Component Reports</a></li>
        <li><a>Hardening Views&raquo;</a>
            <ul>
                <li><a>11.4&raquo;</a>
                    <ul>
                        <li><a href="{% url 'hd_view' repind="1" relname="11.4" uid="junos" %}">BU by MRs</a></li>
                        <li><a href="{% url 'hd_view' repind="2" relname="11.4" uid="junos" %}">Customer by MRs</a></li>
                        <li><a href="{% url 'hd_view' repind="3" relname="11.4" uid="junos" %}">Technology by Products</a></li>
                        <li><a href="{% url 'hd_view' repind="4" relname="11.4" uid="junos" %}">Customer Use Case PRs</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{% url 'crs' %}">CRS</a> </li>
  	</ul>
  </li>
  <li>
  	<a>Utilities &raquo;</a>
  	<ul>
  		<li><a href="{% url 'pr_date_default' %}">PR Deploy Date</a></li>
  	</ul>
  </li>
  <li><a href="{% url 'help' %}">Help &raquo;</a>
   <ul>
    <li><a href="{% url 'help' %}">Help</a></li>
    <li><a href="{% url 'tour' %}">Quick Tour</a></li>
    <li><a href="{% url 'rules' %}">List Rules</a></li>
    <li><a href="{% url 'help-rules' %}">Request a Rule</a></li>
    <li><a href="{% url 'browser-reqs' %}">Requirements</a></li>
    <li><a href="{% url 'help_bglist' %}">BU/BG List</a></li>
   </ul></li>
  <li><a>
   <form id="dwim-form" method="get" action="{% url 'dwim' %}" style="margin: 0px; display: inline;">
   <input id="dwim" name="s" type="text" size="30" value=""/>
   <input type="submit" value="dwim" class="sf-menu-button" style="height: 1.8em;"/></form></a>
  </li>
  {% if user.is_superuser %}
   <li><a href="/dashjava/admin/main">Admin &raquo;</a>
      <ul> <li><a href="{% url 'base' %}/admin/">Django Admin</a></li>
    </ul></li>
  {% endif %}
 </ul><br clear="both" />
 <div class="dash_tooltip" id="tt_dwim" style="display:none;position:absolute">
  <table>
  <tr><th>If you want</th><th>Enter</th></tr>
  <tr><td>Agenda for user</td><td><code>username</code></td></tr>
  <tr><td>Release agenda for you or user</td><td><code>[username] m.n</code></td></tr>
  <tr><td>PR matrix for you or user</td><td><code>[username] prs</code></td></tr>
  <tr><td>View PR(s)</td><td><code>pr nnnn[ nnnn...]</code></td></tr>
  <tr><td>View rli(s)</td><td><code>rli nnnn[ nnnn...]</code></td></tr>
  </table>
 </div>
 <div id="context-help-thing"><img src="{% url 'base' %}/inc/images/help-32x32.png" /></div>
 <noscript>
  <div class="boxed">
   <strong>Warning</strong>: JavaScript is disabled in your browser, or your
   browser does not support it.<br />
   Many Howdy and Dashboard features require JavaScript, so you may encounter
   decreased functionality.<br />
   Read the <a href="{% url 'browser-reqs' %}">Browser Requirements</a> for details.
  </div><br clear="all" />
 </noscript>
 <div id="loading">thinking...</div>
{% if message %}<div id="messagebox">{{ message }}</div>{% endif %}
{% for message in messages %}
<div class="motd" id="motd-{{ message.id }}"><div class="motd-inner">
<div class="motd-message">{{ message.message|safe }}</div>
{% if message.body %}<a class="motd-more">more &raquo;</a>
<div class="motd-body" id="motd-body-{{ message.id }}">
{{ message.body|safe }}
</div>
{% endif %}
</div></div>
{% endfor %}
</div>

<div id="content">
{% block content %}
  There's nothing on this page.
{% endblock content %}
</div>
<div id="footer">
 <div class="noprint" id="footer-links">
  <a href="http://www-int.juniper.net/">Intranet Home</a> |
  <a href="https://wintermute.juniper.net/junos/">Wintermute</a> |
  <a href="http://freebase.juniper.net/">Freebase</a> |
  <a href="http://eng-in.juniper.net/cgi-bin/throttle/tp.cgi">Throttle Req</a> |
  <a href="https://deepthought.juniper.net/app/index.jsp?tableName=RLI">Deepthought</a> |
  <a href="https://gnats.juniper.net/web/default">GNATS</a> |
  <a href="https://gnats.juniper.net/cgi-bin/gnats.review?database=review">Review Tracker</a>
 </div>
 <div class="footer-left">Copyright &copy; {% now "Y" %}. Juniper Networks, Inc.</div>
 <div class="footer-mid noprint">  Dashboard {{ version }} ({{ request.META.HTTP_HOST }})</div>
 <div class="footer-mid print-only">Generated {% now "Y-m-d H:i" %}<br /></div>
 <div class="footer-right noprint">Please see our <a href="https://matrix.juniper.net/docs/DOC-51328">known issues page</a> if you are experiencing problems.</div>
 <div class="footer-right print-only">Juniper Confidential</div>
</div>

{% block additionaljs %}
{% endblock additionaljs %}
</body>
</html>
