<div class="poc_container_holder">
    <div class="poc_toolbar settings_panel_min poc_container">
        <i class="icon-cog poc_settings"></i>
    </div>
	<div class="gridster poc_container">
        <ul>
           <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
            Graph 1
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            Graph 2
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            Graph 3
        </li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            Graph 4
        </li>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
            Graph 5
        </li>
    </ul>
</div>
</div>
