{% extends "junos_ops/base_new.html" %}

{% load dash_tags %}
{% load junosopstags %}

{% block additionalcss %}
    <!-- font awesome needs to be async and the compressed css from django cannot handle it correctly -->
    <link href="/dashboard/junos_ops/static/css/gridster.min.css" rel="stylesheet"></link>
    <link href="/dashboard/junos_ops/static/css/poc.css" rel="stylesheet"></link>

{% endblock additionalcss %}

{% block additionaljs %}
<script src="/dashboard/inc/edw/lib/underscore.min.js"></script>
<script src="/dashboard/inc/edw/lib/backbone.min.js"></script>
<script src="/dashboard/junos_ops/static/js/highcharts/highstock.js"></script>
<script src="/dashboard/junos_ops/static/js/highcharts/highcharts-exporting.js"></script>
<script src="/dashboard/junos_ops/static/js/gridster.min.js"></script>
<script src="/dashboard/junos_ops/static/js/poc.js"></script>
{% endblock additionaljs%}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<a name="top"></a>

<div id="upcoming-holder">
    <div id="upcoming">
    <h4>Upcoming Events  &raquo;</h4>
        <table>
        {% for event in schedule %}
            {% ifequal forloop.counter 3 %}
            </table>
            <div id="more-upcoming">
            <table>
            {% endifequal %}
                <tr><td class="up1">{{ event.days }}</td><td class="up2">{% ifequal event.source 'release' %}
                <a href="{% url 'release' event.name usr.id %}">{{ event.disp_name }}</a>{% else %}
                <a href="{% url 'agenda' event.name|formatify:"npi-%s" %}"
                title="{{ event.details }}">NPI {{ event.name }}</a>{% endifequal %}
                {{ event.event }}</td><td class="up3">{{ event.date }}</td></tr>
        {% endfor %}
            </table>
        </div>
    </div>
</div>

<h2>{{title}} - <font color="red">Version {{page_version}}</font></h2>

<div class="bootstrap-panel">
<!-- Left Tabs which moved to top in 979px -->
<div id="top_tabs_pabel" class="bootstrap-panel" style="z-index:999999 !Important">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8" id="top_accordion">
                <div class="row-fluid">
                <div class="accordion span4" id="manager_accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle no-link" data-toggle="collapse"
                                data-parent="#manager_accordion"
                                href="#manager_tree_accordion">
                                <i class="icon icon-group icon-white"></i>
                                Manager Hierarchy 
                                <span class="pull-right">
                                    <i class="icon-double-angle-down icon-2x"></i>
                                </span>
                            </a>
                        </div>
                        <div id="manager_tree_accordion" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <!-- Tree Structure -->
                                {% if manager_reports %}
                                <ul id="manager_report_accordion">
                                    <li class="open">
                                        <span><a href="{{ top_manager.link }}">{{ top_manager.id }}</a></span>
                                        {% for person in manager_reports %}
                                        <ul>
                                            <li><a class="open" href="{{ person.link }}">{{person.id}}</a>
                                        {% endfor %}
                                        
                                        <!-- Closing the manager hierarchy -->
                                        {% for person in manager_reports %}
                                            </li></ul>
                                        {% endfor %}
                                        
                                    </li>
                                </ul>
                                {% else %}
                                    <span class="left_tabs_description">No Manager</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div> <!-- End of manager accordation -->
                <div class="accordion span4" id="current_usr_accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <span class="accordion-toggle">
                                <i class="icon icon-user icon-white"></i> Current User
                                <span class="pull-right">
                                    {{ usr.id }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accordion span4" id="report_accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle no-link" data-toggle="collapse"
                                data-parent="#report_accordion"
                                href="#report_tree_accordion">
                                <i class="icon icon-sitemap icon-white"></i>
                                Reporting Structure
                                <span class="pull-right">
                                    <i class="icon-double-angle-down icon-2x"></i>
                                </span>
                            </a>
                        </div>
                        <div id="report_tree_accordion" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <!-- Tree Structure -->
                                {% if direct_reports %}
                                <ul id="direct_report_accordion">
                                    <li class="open">
                                        <span><a href="#">{{ usr.id }}</a></span>
                                        <ul>
                                        {% for person in direct_reports %}
                                            <li><a class="clickloading" href="{{ person.link }}">{{person.id}}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                                {% else %}
                                <span class="left_tabs_description">No Direct Reports</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div> <!-- end of accordion -->
                </div> <!-- end of 2nd row-fluid -->
            </div> <!-- end of span8 -->
        </div>
    </div> <!-- end of container-fluid -->
</div> <!-- end of top_tabs_panel -->

<!-- Main Tabs -->
<div id="right_tabs_panel">

    <div class="container-fluid">
    <ul class="nav nav-tabs" id="tabs">
        <li><a href='#tab_poc' data-toggle='tab'>Chart POC </a></li>
        <li><a href='#tab_execsumm' data-toggle='tab'>Exec Summary </a></li>
        <li><a href='#tab_summary' data-toggle='tab'>Summary </a></li>
        <li><a href='#tab_blk' data-toggle='tab'>Blocker </a></li>
        <li><a href='#tab_cl' data-toggle='tab'>CL1&CL2</a></li>
        <li><a href='#tab_bbi' data-toggle='tab'>BBI</a></li>
        <li><a href='#tab_commit' data-toggle='tab'>Missing Commit</a></li>
        <li><a href='#tab_inf' data-toggle='tab'>Info & Feedback</a></li>
        <li><a href='#tab_mttr' data-toggle='tab'>MTTR</a></li>
        <li><a href='#tab_release' data-toggle='tab'>Release</a></li>
        <li><a href='#tab_incdisp' data-toggle='tab'>Incoming Vs Disposed</a></li>
        <li><a href='#tab_mratt' data-toggle='tab'>MR & ATT</a></li>
        <li><a href='#tab_notes' data-toggle='tab'>Notes</a></li>
    </ul>
    </div>
    <!--
        NOTICE THE NAMING CONVENTION
        div id = <div_id>
        iframe id = <div_id>_frame
    -->
    <div id="myTabContent" class="tab-content">
    <div id="tab_poc" class="tab-pane fade container-fluid">
        <div class="row-fluid Tableau_displayFrame_holder">
            <div class="Tableau_displayFrame poc_frameHolder">
                {% include "junos_ops/graph_poc.html" %}
            </div>
        </div>

    </div>

    <div id='tab_execsumm' class="tab-pane fade container-fluid">
        {% tableau_date_filter_accordion "" "tab_execsumm_frame1" "tab_execsumm" %}
        <div class="row-fluid">
            <!-- column 1 -->
            <div class="span7" style="padding-right:1px !important">
                <div class="row-fluid">
                    <div id="tab_execsumm_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_execsumm_frame1" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <!-- column 2 -->
            <div class="span5" style="padding-left:1px !important">
                <div class="row-fluid">
                    <div id="tab_execsumm_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_execsumm_frame2" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_summary' class="tab-pane fade container-fluid">
        <!-- first row -->
        <div class="row-fluid">
            <div id="tab_summary_frame_notification" class="alert alert-info span12">
                <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
            </div>
        </div>
        <div class="row-fluid Tableau_displayFrame_holder">
            <iframe class="Tableau_displayFrame span12"
                src="" id="tab_summary_frame" height="650px" frameborder="0">
            </iframe>
        </div>
        <br />
        <!-- second row -->
        <div class="row-fluid">
            <div id="tab_summary_frame1_notification" class="alert alert-info span12">
                <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
            </div>
        </div>
        <div class="row-fluid Tableau_displayFrame_holder">
            <iframe class="Tableau_displayFrame span12"
                src="" id="tab_summary_frame1" height="650px" frameborder="0">
            </iframe>
        </div>
    </div>
    <div id='tab_blk' class="tab-pane fade container-fluid">
        {% tableau_date_filter_accordion "" "tab_blk_frame1,tab_blk_frame2" "tab_blk" %}
        <div class="row-fluid">
            <!-- column 1 -->
            <div class="span5" style="padding-right:1px !important">
                <div class="row-fluid">
                    <div id="tab_blk_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_blk_frame1" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <!-- column 2 -->
            <div class="span7" style="padding-left:1px !important">
                <div class="row-fluid">
                    <div id="tab_blk_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_blk_frame2" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_cl' class="tab-pane fade container-fluid">
        {% tableau_date_filter_accordion "" "tab_cl_frame1,tab_cl_frame2" "tab_cl" %}
         <div class="row-fluid">
            <!-- column 1 -->
            <div class="span6" style="padding-right:1px !important">
                <div class="row-fluid">
                    <div id="tab_cl_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_cl_frame1" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <!-- column 2 -->
            <div class="span6" style="padding-left:1px !important">
                <div class="row-fluid">
                    <div id="tab_cl_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_cl_frame2" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_bbi' class="tab-pane fade container-fluid">
        <div class="row-fluid">
            <!-- column 1 -->
            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_bbi_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_bbi_frame1" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <!-- column 2 -->
            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_bbi_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_bbi_frame2" height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- 2 row example -->
    <div id='tab_commit' class="tab-pane fade container-fluid">
        {% tableau_date_filter_accordion "" "tab_commit_frame2" "tab_commit" %}
        <div class="row-fluid">
            <!-- first column -->
            <div class="span5" style="padding-right:1px !important">
                <div class="row-fluid">
                    <div id="tab_commit_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_commit_frame1" height="700px" frameborder="0">
                    </iframe>
                </div>
            </div>
            <!-- second column -->
            <div class="span7"  style="padding-left:1px !important">
                <div class="row-fluid">
                    <div id="tab_commit_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_commit_frame2" height="700px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <div id='tab_inf' class="tab-pane fade container-fluid">
        {% tableau_date_filter_accordion "" "tab_inf_frame" "tab_inf" %}
        <div class="row-fluid">
            <div id="tab_inf_frame_notification" class="alert alert-info span12">
                <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
            </div>
        </div>
        <div class="row-fluid Tableau_displayFrame_holder">
            <iframe class="Tableau_displayFrame span12"
                src="" id="tab_inf_frame" height="650px" frameborder="0">
            </iframe>
        </div>
    </div>
    <div id='tab_mttr' class="tab-pane fade container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_mttr_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_filter_accordion "" "tab_mttr_frame1" "tab_mttr" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_mttr_frame1"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>

            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_mttr_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_filter_accordion "" "tab_mttr_frame2" "tab_mttr" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_mttr_frame2"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_release' class="tab-pane fade container-fluid">
        <div class="row-fluid">
            <div class="span5" style="padding-right:1px !important">
                <div class="row-fluid">
                    <div id="tab_release_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_filter_accordion "" "tab_release_frame1" "tab_release" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_release_frame1"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>

            <div class="span7" style="padding-left:1px !important">
                <div class="row-fluid">
                    <div id="tab_release_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_filter_accordion "" "tab_release_frame2" "tab_release" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_release_frame2"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_mratt' class="tab-pane fade container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_mratt_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_filter_accordion "" "tab_mratt_frame1" "tab_mratt" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_mratt_frame1"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>

            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_mratt_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_filter_accordion "" "tab_mratt_frame2" "tab_mratt" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_mratt_frame2"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_incdisp' class="tab-pane fade container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_incdisp_frame1_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_reduced_filter_accordion "" "tab_incdisp_frame1" "tab_incdisp" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_incdisp_frame1"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>

            <div class="span6">
                <div class="row-fluid">
                    <div id="tab_incdisp_frame2_notification" class="alert alert-info span12">
                        <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
                    </div>
                </div>
                {% tableau_date_reduced_filter_accordion "" "tab_incdisp_frame2" "tab_incdisp" %}
                <div class="row-fluid Tableau_displayFrame_holder">
                    <iframe class="Tableau_displayFrame span12"
                        src="" id="tab_incdisp_frame2"  height="650px" frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div id='tab_notes' class="tab-pane fade container-fluid">
        <div class="row-fluid">
            <div id="tab_notes_frame_notification" class="alert alert-info span12">
                <i class="icon-refresh icon-spin"></i> Please Wait .... Loading Tableau Information
            </div>
        </div>
        <div class="row-fluid Tableau_displayFrame_holder">
            <iframe class="Tableau_displayFrame span12"
                src="" id="tab_notes_frame" height="650px" frameborder="0">
            </iframe>
        </div>
    </div>
    </div>

</div>
</div><!-- end of bootstrap panel -->


</div>
<br class="clearfix"/>

<script >
/* The only reason this javascript function still here is because it rely on
   django variables
   TODO... make better SOC -- separate between logic javascript and django variable usage
*/

$(document).ready(function(){
    loadTab();
});

// Function to determine IFRAME src
// in most cases the panelname will match with tab name, but there
// are some tabs which have more than one reports / view.
function determineIframeSrc(panelname){
    if (panelname == "tab_execsumm") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame1",
                "Executive_Summary1_JunosOps",
                "ExecutiveSummary",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);

        // Get the current Year
        var dt = new Date();
        // Find the GMT date of beginning of the year
        var yearStartDate = dt.getFullYear() + "-05-01";

        var box2DefaultParam = "&Start_Date_Parameter=" + yearStartDate;
        // no need to change to GMT since next sunday date should be enough
        box2DefaultParam+= "&End_Date_Parameter=" + Date.parse("next sunday").toString("yyyy-MM-dd");
        showEmbedTableauOps(panelname + "_frame2",
                "Executive_Summary2_JunosOps",
                "ExecutiveSummary",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + box2DefaultParam);

    } else
    if (panelname == "tab_summary") {
        showEmbedTableauOps(panelname + "_frame",
                "Summary_JunosOps",
                "Summary",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no");

        showEmbedTableauOps(panelname + "_frame1",
                "Summary_Toxic_Build_JunosOps",
                "Reports",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no");
    } else
    if (panelname == "tab_blk") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame1",
                "Blocker_JunosOps",
                "View1",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no" + extra_param);

        extra_param = createParameters(panelname + "_frame2", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame2",
                "Blocker_JunosOps",
                "View2",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);
    } else
    if (panelname == "tab_cl") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame1",
                "CL1_2_JunosOps",
                "UniqueCL1CL2",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no" + extra_param);
        showEmbedTableauOps(panelname + "_frame2",
                "CL1_2_JunosOps2",
                "View2",
                "Mgr={{ uid }}&Manager={{ direct_reports_parameters }}&:tabs=no&:toolbar=no");
    } else
    if (panelname == "tab_bbi") {
        // Get the current Year
        var dt = new Date();
        // Find the GMT date of beginning of the year
        var yearStartDate = dt.getFullYear() + "-05-01";

        var box1DefaultParam = "&Start_Date_Parameter=" + yearStartDate;
        // no need to change to GMT since next sunday date should be enough
        box1DefaultParam+= "&End_Date_Parameter=" + Date.parse("next sunday").toString("yyyy-MM-dd");

        showEmbedTableauOps(panelname + "_frame1",
                "BBI_JunosOps",
                "View1",
                "Mgr={{ uid }}&Manager={{ direct_reports_parameters }}&:tabs=no&:toolbar=no" + box1DefaultParam);

        var box2DefaultParam = "&Start_Date_Parameter=" + yearStartDate;
        // finding end month date by creating new date for the month with
        // 0 on the day to be reset to end of month
        // Note: Month start from 0
        var endMonthDate = new Date(dt.getFullYear(), dt.getMonth() + 1,0).toString("yyyy-MM-dd");

        box2DefaultParam += "&End_Date_Parameter=" + endMonthDate;
        showEmbedTableauOps(panelname + "_frame2",
                "BBI_JunosOps",
                "View2",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no" + box2DefaultParam);
    } else
    if (panelname == "tab_release") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame1",
                "Releases_JunosOps",
                "View1",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no" + extra_param);
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame2",
                "Releases2_JunosOps",
                "View1",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);

    } else
    if (panelname == "tab_commit") {
        showEmbedTableauOps(panelname + "_frame1",
                "Missing_Commits_JunosOps",
                "MissingCommitsbyRelease",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no");

        extra_param = createParameters(panelname + "_frame2", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame2",
                "Missing_Commits_JunosOps",
                "MissingCommitsforAllManagersandDirectors",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no" + extra_param);
    } else
    if (panelname == "tab_inf") {
        extra_param = createParameters(panelname + "_frame", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame",
                "Info_Feedback_JunosOps",
                "InfoFeedback",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);
    } else
    if (panelname == "tab_mttr") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame1",
                "MTTR",
                "MTTR",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);
        extra_param = createParameters(panelname + "_frame2", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame2",
                "MTTR",
                "Manager_Dashboard",
                "Manager={{ userparameters }}&:tabs=no&:toolbar=no" + extra_param);
    } else
    if (panelname  == "tab_mratt") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
         showEmbedTableauOps(panelname + "_frame1",
                "MRATT_JunosOps",
                "Line",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);
        extra_param = createParameters(panelname + "_frame2", "", "Start_Date_Parameter", "End_Date_Parameter");
         showEmbedTableauOps(panelname + "_frame2",
                "MRATT_JunosOps",
                "StackedBar",
                "Manager={{ direct_reports_parameters }}&:tabs=no&:toolbar=no" + extra_param);
    } else
    if (panelname == "tab_incdisp") {
        extra_param = createParameters(panelname + "_frame1", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame1",
                "Incoming_Disposed",
                "View1",
                "Manager={{ uid }}&:tabs=no&:toolbar=no" + extra_param);
        extra_param = createParameters(panelname + "_frame2", "", "Start_Date_Parameter", "End_Date_Parameter");
        showEmbedTableauOps(panelname + "_frame2",
                "Incoming_Disposed_2",
                "View2",
                "Manager={{ direct_reports_parameters }}&:tabs=no&:toolbar=no" + extra_param);
    } else
    if (panelname == "tab_notes") {
        showEmbedTableauOps(panelname + "_frame",
                "Assumptions_JunosOps",
                "Notes",
                "&:tabs=no&:toolbar=no");
    }
}

/**** Fill Iframe Parameter *****/
function createParameters(framename, releaseParam, startDateParam, endDateParam){
    var retval = '';
    if (parameter_memory[framename] == undefined){
        // no parameter yet
        return retval;
    }
    // get release value
    var releaseVal = parameter_memory[framename]['release'];
    if (releaseVal != undefined && releaseParam != ""){
        retval += "&" + releaseParam + "=" + releaseVal;
    }
    // get start date value
    var startDateVal = parameter_memory[framename]['startdate'];
    if (startDateVal != undefined && startDateParam != ""){
        retval += "&" + startDateParam + "=" + toGMT(startDateVal);
    }
    // get end date value
    var endDateVal = parameter_memory[framename]['enddate'];
    if (endDateVal != undefined && endDateParam != "" ){
        retval += "&" + endDateParam + "=" + toGMT(endDateVal);
    }
    return retval;
}


</script>
{% endblock %}
