{% extends "web/base.html" %}

{% block title %}Administrative Info{% endblock %}

{% block content %}
<h1>Logged Errors</h1>

<table>
<thead><tr><th>Message</th><th>Count</th><th>Times</th></tr></thead>
<tbody>
{% for err in errors.itervalues %}
<tr><td>{{ err.message }}</td><td>{{ err.count }}</td>
<td>{% for time in err.times %}
 {{ time|date:"Y-m-d H:i:s" }}<br />
{% endfor %}</td></tr>
{% endfor %}
</tbody></table>

{% endblock %}