{% extends "ui/scores.html" %}{% load dash_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block scores %}

{% if usr.scored %}
{% if usr.scores and usr.direct_reports %}
{% include 'parts/top-issues.html' %}
{% endif %}
{% endif %}

{% with usr as status %}
{% include 'parts/scores-box.html' %}
{% endwith %}

{% if not usr.is_junos %}{# We only show this stuff for real users #}
{% if usr.is_npi %}
{% include 'parts/totals.html' %}

<div id="reports" class="boxed left">
<h3>NPI Program Details</h3>
<table class="no-label-wrap">
<tr><td class="rclabel">Phase</td>
<td class="rcvalue"><a href="https://{{ NPI.host }}{{ NPI.path }}/do/showView?tableName=npi&record_number={{ usr.npi_program.id }}">{{ usr.npi_program.phase }}</a>
</td></tr>

<tr><td class="rclabel">Product Group</td>
    <td class="rcvalue">{{ usr.npi_program.responsible_product_group_string }}</td></tr>

<tr><td class="rclabel">Business Unit</td>
    <td class="rcvalue">{{ usr.npi_program.business_unit_string }}</td></tr>

<tr><td class="rclabel">At Risk</td>
    <td class="rcvalue">{{ usr.npi_program.at_risk }}</td></tr>

<tr><td class="rclabel">NPI Meeting</td>
    <td class="rcvalue">{{ usr.npi_program.npi_meeting }}</td></tr>

<tr><td class="rclabel">NPI Alias</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.npi_alias }}">{{ usr.npi_program.npi_alias }}</a></td></tr>

<tr {% if usr.npi_program.p0_ll_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P0-LL Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p0_ll_exit_string }}</td></tr>

<tr {% if usr.npi_program.p0_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P0 Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p0_exit_string }}</td></tr>

<tr {% if usr.npi_program.p1_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P1 Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p1_exit_string }}</td></tr>

<tr {% if usr.npi_program.p2_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P2 Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p2_exit_string }}</td></tr>

<tr {% if usr.npi_program.p3_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P3 Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p3_exit_string }}</td></tr>

<tr {% if usr.npi_program.p4_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P4 Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p4_exit_string }}</td></tr>

<tr {% if usr.npi_program.p5_exit_past %}class="greyed"{% endif %}>
<td class="rclabel">P5 Exit</td>
    <td class="rcvalue">{{ usr.npi_program.p5_exit_string }}</td></tr>

<tr {% if usr.npi_program.post_project_analysis_past %}class="greyed"{% endif %}>
<td class="rclabel">Post Project Analysis</td>
    <td class="rcvalue">{{ usr.npi_program.post_project_analysis_string }}</td></tr>

<tr><td class="rclabel">Responsible</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.responsible }}@juniper.net">{{ usr.npi_program.responsible }}</a></td></tr>

<tr><td class="rclabel">Beta Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.beta_lead }}@juniper.net">{{ usr.npi_program.beta_lead }}</a></td></tr>

<tr><td class="rclabel">CS Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.cs_lead }}@juniper.net">{{ usr.npi_program.cs_lead }}</a></td></tr>

<tr><td class="rclabel">HW Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.hw_lead }}@juniper.net">{{ usr.npi_program.hw_lead }}</a></td></tr>

<tr><td class="rclabel">Ops Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.ops_lead }}@juniper.net">{{ usr.npi_program.ops_lead }}</a></td></tr>

<tr><td class="rclabel">PGM Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.pgm_lead }}@juniper.net">{{ usr.npi_program.pgm_lead }}</a></td></tr>

<tr><td class="rclabel">PLM Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.plm_lead }}@juniper.net">{{ usr.npi_program.plm_lead }}</a></td></tr>

<tr><td class="rclabel">SW Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.sw_lead }}@juniper.net">{{ usr.npi_program.sw_lead }}</a></td></tr>

<tr><td class="rclabel">Systest Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.systest_lead }}@juniper.net">{{ usr.npi_program.systest_lead }}</a></td></tr>

<tr><td class="rclabel">Techpubs Lead</td>
    <td class="rcvalue"><a href="mailto:{{ usr.npi_program.techpubs_lead }}@juniper.net">{{ usr.npi_program.techpubs_lead }}</a></td></tr>
</table>

<div class="context-help"><div class="ch-content" id="npi-details-context">
<ul>
<li> Information about the NPI program from the Deepthought NPI database.</li>
<li> The phase is a link to the Deepthought record.</li>
<li> Exit meeting dates in the past are rendered in grey.</li>
</ul></div></div>

{% else %}{# Not an NPI program #}
{% include 'parts/totals.html' %}

<div id="reports" class="boxed left">
<h3>Org Structure and Memberships</h3>
<table class="no-label-wrap">
{% if not usr.manager.pseudo_user %}
<tr><td class="rclabel">{% if usr.virtual_team %}Owner{% else %}Manager{% endif %}</td>
<td class="rcvalue">
<a href="{% url 'agenda' usr.manager.id %}">{{ usr.manager.id }}</a></td>
<td class="scorenum rcnum">{{ usr.manager.total_score }}</td>
</tr>
{% endif %}

{% for rep in usr.direct_reports %}
<tr>{% if forloop.first %}
<td class="rclabel" valign="top">{% if usr.virtual_team %}Members{% else %}Direct Reports{% endif %}</td>
{% else %}<td></td>{% endif %}
<td class="rcvalue"><a href="{% url 'agenda' rep.id %}">{{ rep.id }}</a>
{% if rep.is_manager %}(+){% endif %}</td>
<td class="scorenum rcnum">{{ rep.total_score }}</td>
</tr>
{% endfor %}

{% for vt in usr.virtual_teams %}
<tr>{% if forloop.first %}
<td class="rclabel" valign="top">Virtual Teams</td>
{% else %}<td></td>{% endif %}
<td class="rcvalue"><a href="{% url 'agenda' vt.id %}">{{ vt.id }}</a>
<td class="scorenum rcnum">{{ vt.total_score }}</td>
</tr>
{% endfor %}

{% for vt in usr.virtual_team_memberships %}
<tr>{% if forloop.first %}
<td class="rclabel" valign="top">Member of Teams</td>
{% else %}<td></td>{% endif %}
<td class="rcvalue"><a href="{% url 'agenda' vt.id %}">{{ vt.id }}</a>
<td class="scorenum rcnum">{{ vt.total_score }}</td>
</tr>
{% endfor %}

{% if usr.spoc_categories %}
<tr><td colspan="3">&nbsp;</td></tr>
<tr>
<td class="rclabel" valign="top">Categories</td>
<td class="rcvalue" colspan="2">People in this org are SPoC for:<br />
{% for cat in usr.spoc_categories %}{{ cat }}{% if not forloop.last %},
{% endif %}{% endfor %}
</td></tr>
{% endif %}
</table>

{% if usr.virtual_team and not usr.department_vt %}<p class="note">
[<a href="https://authldap-primary.juniper.net/cgi-bin/authz_interface.pl?action=get_group&select_authzgroup=vt-{{ usr.id }}">Edit virtual team</a>]
</p>{% endif %}

<div class="context-help"><div class="ch-content" id="org-memb-context">
<ul>
<li> Links to the {% if usr.virtual_team %}team owner{% else %}user's manager{% endif %}
and {% if usr.virtual_team %}members{% else %} their direct reports{% endif %}.</li>

<li>Managers are indicated by "(+)".</li>

{% if not usr.virtual_team %}<li>Links to Virtual Teams this user is a member of.</li>{% endif %}

{% if usr.spoc_categories %}
<li>"Categories" lists any GNATS categories that users in the org structure or
Virtual Team are Single Point of Contact for.</li>{% endif %}
</ul></div></div>

{% endif %}{# End of if is_npi else clause #}

</div>
{% endif %}{# End of if not junos #}
<br class="clear"/>

{% endblock %}
