{% load dash_tags %}{% load compressed %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <title>{% block title %}Default Title{% endblock %}</title>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=5" >

<script type="text/javascript">
 var dash_base_url = "{% url 'base' %}";
 var page = "{{ page }}";

</script>
{% compressed_css 'main' %}
{% compressed_css 'print' %}
<!--[if lt IE 8]>
 {% compressed_css 'ie' %}
<![endif]-->
{% compressed_js 'ie' %}
{% compressed_js 'main' %}

<link rel="shortcut icon" href="/favicon.ico" />
{% block additional_css %}
{% endblock additional_css %}

</head>
<body>
<h1 class="print-only"><span style="color:blue">JUNOS</span> Dashboard</h1>
<div id="header">
 <ul class="sf-menu main-menu">
  <li><a href="{% url 'my-agenda' %}">JUNOS Dashboard</a></li>
  <li><a href="{% url 'my-agenda' %}">{{ the_user.id }} &raquo;</a>
  <ul>
   <li><a href="{% url 'prs' %}">PRs</a></li>
   <li><a href="{% url 'my-agenda' %}">Agenda</a></li>
   <li><a>Releases &raquo;</a>
    <ul>{% for rel in active_releases %}
     <li>
     	<a href="{% url 'release' rel the_user.id %}">{{ rel }} :: {% release_score the_user rel %}
    	{% show_cdm_branch 'release' rel the_user.id%}
     </li>{% endfor %}
    </ul>
   </li>
  </ul></li>
  <li><a href="{% url 'agenda' "junos" %}">JUNOS &raquo;</a>
   <ul>
    <li><a href="{% url 'prs-user' "junos" %}">PRs</a></li>
    <li><a href="{% url 'agenda' "junos" %}">Agenda</a></li>
    <li><a>Releases &raquo;</a>
     <ul>
      {% for rel in active_releases %}
      	<li><a href="{% url 'release' rel "junos" %}">{{ rel }} :: {% release_score junos rel %}
      		{% show_cdm_branch 'release' rel "junos" %}
      	</li>
      {% endfor %}
     </ul>
    </li>
   </ul>
  </li>
  <li><a href="{% url 'npis' %}">NPIs</a></li>
  <li><a href="{% url 'junosops-report' the_user.id %}">Junos Ops</a></li>
  <li><a>Report  &raquo;</a>
  	<ul>
  		<li><a href="{% url 'matrix-form' %}">Matrix</a></li>
                <li><a>Unique PR fix rate by IB&raquo;</a>
                    <ul>{% for rel in pr_fix_releases %}
                     <li>
                        <a href="javascript:void()">{{ rel }}
                        {% show_cdm_branch 'newlyin_pr_fix' rel 'junos' %}
                     </li>{% endfor %}
                    </ul>
                </li>

  		<li><a>PR-BugFix&raquo;</a>
		    <ul>{% for rel in pr_fix_releases %}
		     <li>
		     	<a href="{% url 'pr_fix' rel %}">{{ rel }} 
		    	{% show_cdm_branch 'pr_fix' rel 'junos' %}
		     </li>{% endfor %}
		    </ul>
  		</li>
        <li><a href="{% url 'docbacklog' "junos" %}">Doc Backlog PRs</a> </li>
  		<li><a href="{% url 'backlogprs' "junos" %}">Backlog PRs</a> </li>
                <li><a href="{% url 'mttr' "junos" %}">MTTR</a></li>  
        <li><a href="{% url 'sla' "junos" %}">MTTC KPIs</a> </li>
        <li><a href="{% url 'qir-report' %}">QIR Reports</a></li>
        <li><a href="{% url 'component-report' %}">Component Reports</a></li>
        <li><a>Hardening Views&raquo;</a>
            <ul>
                <li><a>11.4&raquo;</a>
                    <ul>
                        <li><a href="{% url 'hd_view' repind="1" relname="11.4" uid="junos" %}">BU by MRs</a></li>
                        <li><a href="{% url 'hd_view' repind="2" relname="11.4" uid="junos" %}">Customer by MRs</a></li>
                        <li><a href="{% url 'hd_view' repind="3" relname="11.4" uid="junos" %}">Technology by Products</a></li>
                        <li><a href="{% url 'hd_view' repind="4" relname="11.4" uid="junos" %}">Customer Use Case PRs</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{% url 'crs' %}">CRS</a> </li>
  	</ul>
  </li>
  <li>
  	<a>Utilities &raquo;</a>
  	<ul>
  		<li><a href="{% url 'pr_date_default' %}">PR Deploy Date</a></li>
  	</ul>
  </li>
  
  
  
  <li><a href="{% url 'help' %}">Help &raquo;</a>
   <ul>
    <li><a href="{% url 'help' %}">Help</a></li>
    <li><a href="{% url 'tour' %}">Quick Tour</a></li>
    <li><a href="{% url 'rules' %}">List Rules</a></li>
    <li><a href="{% url 'help-rules' %}">Request a Rule</a></li>
    <li><a href="{% url 'browser-reqs' %}">Requirements</a></li>
    <li><a href="{% url 'help_bglist' %}">BU/BG List</a></li>
   </ul></li>
  <li><a>
   <form id="dwim-form" method="get" action="{% url 'dwim' %}" style="margin: 0px; display: inline;">
   <input id="dwim" name="s" type="text" size="30" value=""/>
   <input type="submit" value="dwim" class="sf-menu-button" style="height: 1.8em;"/></form></a>
  </li>
  
  
 <!--  code for rating plug -in begin -->  
<li>
	<a><span class="stars"></span></a>

	<ul>
		<form method="post" id="frm">
			
			<div id="hoverstars"></div><br>
			
			&nbspYour Rating: <span id="yourrating">0</span>
			
			<input type="button" id="votebutton" value="Go">
			
			<hr>
			
			<div id="allreasons">
				<div id='reason'></div>
				<fieldset id="inputs">
					<div id="heading"><center>Top Improvement Opportunity</center></div>
					<input type="radio" id="1" name="top" value="Response Time">Response Time<br>
					<input type="radio" id="2" name="top" value="Content Navigation">Content navigation<br>
					<input type="radio" id="3" name="top" value="Data Quality">Data Quality<br>
					<input type="radio" id="4" name="top" value="User Experience">User Experience<br>
					<input type="radio" id="5" name="top" value="Data Relavance">Data Relevance<br>
				</fieldset>

				<fieldset id="actions">
					<input type="button" id="vote_submit" value="Submit"><br>
					<a href="mailto:dashboard-dev@juniper.net?subject=Dashboard%20User%20Feedback" target="_top">Contact Dev Team</a>
				</fieldset>
				<hr>
			</div>


			<Strong><div id='monthyear'></div></Strong>

			<div id=avgrateingtext>
				Average: <strong>
				<span id="avgrating"></span>
				<span class="stars" id="avgstars"></span></strong>
				<div id = "usericon"></div>
				<div id="finaltotal">Total Votes:<span id = "totalvotes"></span><br></br></div>
				<span class="topopportunity" id="opportunity"></span>
			</div>
			<br></br>


			<div id="starimages">5Star<br>4Star<br>3Star<br>2Star<br>1Star</div>								
			<div class="bargraph">
				<div class="green"></div>
				<div class="orange"></div>
				<div class="blue"></div>
				<div class="pink"></div>
				<div class="reddeep"></div>
			</div>
			<div class="bargraphval">
				<div class="greenval"></div>
				<div class="orangeval"></div>
				<div class="blueval"></div>
				<div class="pinkval"></div>
				<div class="reddeepval"></div>
			</div>
				
			<br></br>
			
		</form>
	</ul>
</li>

<!--  code for rating plug -in end--> 
{% if user.is_superuser %}
   <li><a href="/dashjava/admin/main">Admin &raquo;</a>
      <ul> <li><a href="{% url 'base' %}/admin/">Django Admin</a></li>
    </ul></li>
  {% endif %}
 </ul><br clear="both" />
 <div class="tooltip" id="tt_dwim">
  <table>
  <tr><th>If you want</th><th>Enter</th></tr>
  <tr><td>Agenda for user</td><td><code>username</code></td></tr>
  <tr><td>Release agenda for you or user</td><td><code>[username] m.n</code></td></tr>
  <tr><td>PR matrix for you or user</td><td><code>[username] prs</code></td></tr>
  <tr><td>View PR(s)</td><td><code>pr nnnn[ nnnn...]</code></td></tr>
  <tr><td>View rli(s)</td><td><code>rli nnnn[ nnnn...]</code></td></tr>
  </table>
 </div>
 
<div id="context-help-thing"><img src="{% url 'base' %}/inc/images/help-32x32.png" /></div>
 <noscript>
  <div class="boxed">
   <strong>Warning</strong>: JavaScript is disabled in your browser, or your
   browser does not support it.<br />
   Many Howdy and Dashboard features require JavaScript, so you may encounter
   decreased functionality.<br />
   Read the <a href="{% url 'browser-reqs' %}">Browser Requirements</a> for details.
  </div><br clear="all" />
 </noscript>
 <div id="loading">thinking...</div>
{% if message %}<div id="messagebox">{{ message }}</div>{% endif %}
{% for message in messages %}
<div class="motd" id="motd-{{ message.id }}"><div class="motd-inner">
<div class="motd-message">{{ message.message|safe }}</div>
{% if message.body %}<a class="motd-more">more &raquo;</a>
<div class="motd-body" id="motd-body-{{ message.id }}">
{{ message.body|safe }}
</div>
{% endif %}
</div></div>
{% endfor %}
</div>
 


 
<div id="content">
{% block content %}
  There's nothing on this page.
{% endblock content %}
</div>
<div id="footer">
 <div class="noprint" id="footer-links">
  <a href="http://www-int.juniper.net/">Intranet Home</a> |
  <a href="https://wintermute.juniper.net/junos/">Wintermute</a> |
  <a href="http://freebase.juniper.net/">Freebase</a> |
  <a href="http://eng-in.juniper.net/cgi-bin/throttle/tp.cgi">Throttle Req</a> |
  <a href="https://deepthought.juniper.net/app/index.jsp?tableName=RLI">Deepthought</a> |
  <a href="https://gnats.juniper.net/web/default">GNATS</a> |
  <a href="https://gnats.juniper.net/cgi-bin/gnats.review?database=review">Review Tracker</a>
 </div>
 <div class="footer-left">Copyright &copy; {% now "Y" %}. Juniper Networks, Inc.</div>
 <div class="footer-mid noprint">  Dashboard {{ version }} ({{ request.META.HTTP_HOST }})</div>
 <div class="footer-mid print-only">Generated {% now "Y-m-d H:i" %}<br /></div>
 <div class="footer-right noprint">Please see our <a href="https://matrix.juniper.net/docs/DOC-51328">known issues page</a> if you are experiencing problems.</div>
 <div class="footer-right print-only">Juniper Confidential</div>
</div>

{% block additional_js %}
{% endblock additional_js %}

</body>
</html>
