{% extends "ui/base.html" %}
{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<script language="javascript">
   showEmbedTableau("COMPONENT_displayFrame","BBI_Component_Report","BBITop10Components",":tabs=yes");
</script>
<div id="componentReportTab">

    <h3>Graph Display (
	    <span class="COMPONENT_frameNotes">
	        <a href="#" onclick='showEmbedTableau("COMPONENT_displayFrame","BBI_Component_Report","BBITop10Components",":tabs=yes");'>Refresh</a> | <a href="#" onclick='COMPONENT_changeFrame("")'>clear</a>
	    </span> )
	</h3>
        <h4>Component BBI Report<h4>
	<div class="COMPONENT_displayBlock">
		<div id="COMPONENT_titleblock"></div>
		<iframe src="" id="COMPONENT_displayFrame" >
		</iframe>
	</div>

    <br clear="all" />
    </div>
</div>


    <br clear="all" />
</div>

{% endblock %}
