{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form action="{{dashcrsurl}}" method="GET" name="dashForm">
    <input type="hidden" name="user"/>
    <input type="hidden" name="reports"/>
    <input type="hidden" name="releases"/>
    <input type="hidden" name="states"/>
    <input type="hidden" name="types"/>
</form>

<form action="{{crsurl}}" method="post" name="crsForm">
    <input type="hidden" name="crs"/>
</form>

<script language="javascript">
    
    function submitDashForm(uid) {
        if (!uid || (/^\s*$/).test(uid) || uid == "None") {
            document.dashForm.user.value= document.getElementById('id_users').value;
        } else {
            document.dashForm.user.value= uid;
        }    
        if (document.getElementById('id_reports').checked) {
            document.dashForm.reports.value= 1;
        } else {
            document.dashForm.reports.value= 0;
        }
        document.dashForm.releases.value= concatSelectedValues(document.getElementById('id_releases'));
        document.dashForm.states.value= concatSelectedValues(document.getElementById('id_states')); 
        document.dashForm.types.value= concatSelectedValues(document.getElementById('id_types'));
        document.dashForm.submit();
    }
    
    function concatSelectedValues(selObj) {
        var selectedStr='';
        for (var i=0; i<selObj.options.length; i++) {
            if (selObj.options[i].selected) {
                selectedStr += selObj.options[i].value + ',';
           }  
        }
        selectedStr = selectedStr.substring(0, selectedStr.length - 1);
        return selectedStr;
    }
    
    function submitCRSForm(crsIds) {
        document.crsForm.crs.value=crsIds;
        document.crsForm.submit();
    }
</script>

 <a name="top"></a> 
 <div id="backlogPRTab" class="container_backlog" style="width:1200px;">
    <ul>
        <li><a href="#all"><span><h3>{{title}} - <strong>Version {{page_version}}</strong></h3></span></a>
      <a href="#notes" ><img class="link-alike" src="{% url 'base' %}inc/images/help-32x32.png" /></a></li>
       
    </ul>
   <br style="clear:both" /> 
       This report displays open/aged CRS requests to Throttle Approver SW Mgrs, you can read <a href="https://matrix.juniper.net/docs/DOC-142684">here</a>.
   <br/> 
   <br/> 
  
<div class="mf-row" style='height:150px;'>
<table>
<tr>
<td>
<br/>
<div style='width:250px;'>
<input type="submit" value="build" onclick='submitDashForm()' />
<br/> 
<br/> 
<div style='font-weight:bold;font-size:14px;width:90px;'>User</div>
<input id="id_users" type="text" size="14" value="{{crs_user}}"/>
<br/> 
<br/> 
<input type="checkbox" name="reports" id="id_reports" {% ifequal reports "1" %} checked {% endifequal %}/>
<label for="id_reports">Include direct reports</label>
</div>
</td>
<td>
<div class="mf-lft">
<label for="how-many" class="mf-title" style='font-size:14px;width:300px;'>Release(s)</label><br />
<div class="mf-lft" style='width:250px;'>
<select multiple="multiple" id="id_releases" name="releases" size="5" style='width:175px;'>
{% for rl, sltd in all_releases %}
{% ifequal sltd "True" %}
<option value="{{rl}}" selected="selected">{{rl}}</option>
{% else %}
<option value="{{rl}}">{{rl}}</option>
{% endifequal %}
{% endfor %}
</select>
</div>
</div>
</td>
<td>
<div class="mf-lft" >
<label for="how-many" class="mf-title" style='font-size:14px;width:300px;'>State(s)</label><br />
<div class="mf-lft" style='width:250px;'>
<select multiple="multiple" id="id_states" name="states" size="5" style='width:175px;'>
{% for st, sltd in all_states %}
{% ifequal sltd "True" %}
<option value="{{st}}" selected="selected">{{st}}</option>
{% else %}
<option value="{{st}}">{{st}}</option>
{% endifequal %}
{% endfor %}
</select>
</div>
</div>
</td>
<td>
<div class="mf-lft"> 
<label for="how-many" class="mf-title" style='font-size:14px;'>Type(s)</label><br />
<div class="mf-lft" style='width:250px;'>
<select multiple="multiple" id="id_types" name="types" size="5" style='width:175px;'>
{% for tp, sltd in all_types %}
{% ifequal sltd "True" %}
<option value="{{tp}}" selected="selected">{{tp}}</option>
{% else %}
<option value="{{tp}}">{{tp}}</option>
{% endifequal %}
{% endfor %}
</select>
</div>
</div>
</td>
</tr>
</table>
</div>  
   <table id="CRSTab" style="width:100%" class="tablesorter" >
   
    <thead>
            <tr>
                <th class="head_prfix">Responsible</th>
                        {% for lv in lives %}
                        <th class="small_head_prfix" colspan=2>{{lv}}</th>                        
                        {% endfor %}
                </tr>
        </thead>
        <!--  start iterating the Data -->
        <tbody>
                {% for datum in data %}
                   <!--  Adding separator for BG -->
                   {% ifequal datum.is_BG "True" %}
                        <tr name="nohover">
                          <td colspan=12><hr /></td>
                        </tr>
                   {% endifequal %}
                   <tr>   
                       <td><a href='#' onclick='submitDashForm("{{datum.uid}}"); return false;'>{{datum.uid}}</a></td>
                       {% for crsids, len in datum.totals %}
                            <td colspan=2><a href='#' onclick='submitCRSForm("{{crsids}}"); return false;'>{{len}}</a></td>
                       {% endfor %}
                       {% for crsids, len in datum.expired %}
                            <td colspan=2><a href='#' onclick='submitCRSForm("{{crsids}}"); return false;'>{{len}}</a></td>
                       {% endfor %}                           
                    </tr>
                 {% endfor %}
          </tbody>
   </table>

<br style="clear:both" /><br style="clear:both" />
<br/>
<a name="notes"></a>
<h2>Assumptions / Notes:</h2>
<ul>
       <li><strong>Total</strong> includes CRS Requests where [State] = 'Open' | 'Information Required' | 'Pendig on Approval' (Expired requests are excluded).</li> 
       <li><strong>Pending</strong> is a subset of 'Total' where requests have been modifed within the past 7 days.</li>
       <li><strong>Aging</strong> is a subset of 'Total' where requests have not been modified within the past 7 days.</li>
       <li><strong>Inactive</strong> is a subset of 'Total' where requests have not been modified within the past 14 days.</li>
       <li><strong>Recently Expired</strong> includes CRS Requests where [State] was set to 'Expired' within the past 30 days.</li>
       <li>CRS Requests where [State] = 'Approved' | "Denied' | 'Committed' | 'Withdrawn' are excluded because they are not actionalble -- the Dashboard's purpuse is to present stakeholders with issues that require action.</li>
       <li>The repsonsibles with all 0 data are not displayed.</li>
       <li>The CRS data on Dashboard is not real-time.</li>
       
</ul>
        <a href="#top">Back to top</a>
<br />
<br class="clear"/>
<span class="note">
</span>    
{% endblock %}
