{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
 <a name="top"></a> 
 <div id="backlogPRTab">
    <ul>
        <li><a href="#{{count_type}}"><span><h3>{{title}} - <strong>version {{page_version}}</strong></h3></span></a>
        <a href="#notes" ><img class="link-alike" src="{% url 'base' %}/inc/images/help-32x32.png" /></a></li>
    </ul>

	<div id="backlog_tab_one" class="container_backlog">
		<br style="clear:both" />
		<div class="left_backlog_table">
		<div class="print-only">
		{% ifequal count_type "all" %}Include monitored, suspended and feedback PRs {% endifequal %}
		{% ifequal count_type "yes" %}Include feedback{% endifequal %}
		{% ifequal count_type "only" %}Feedback PRs only {% endifequal %}
		{% ifequal count_type "monitored" %}Monitored PRs only {% endifequal %}
		{% ifequal count_type "suspended" %}Suspended PRs only {% endifequal %}
		{% ifequal count_type "no" %}exclude monitored, suspended and feedback PRs {% endifequal %}
		</div>
		<br style="clear:both" />
			<table class="tablesorter" style="padding:0px;margin:0px">
			</table>
		    <table id="myBacklogTable{{count_type}}" class="tablesorter">
			<thead>
				<tr>
					<th class="head_backlog">Business Unit / Person</th>
					{% for item in matrix %}
					<th class="medium_head_backlog">
						{{ item.label.reference }}
					</th>
					<th class="medium_head_backlog">
						{{ item.label.current }}
					</th>
					<th class="large_head_backlog">
						{{ item.label.forward|safe}} 
					</th>
					<th class="medium_head_backlog">
						{{ item.label.target }}
					</th>
                    <th class="small_head_backlog">
                        {{ item.label.bbi }}
                    </th>
                    {% endfor %}
					{% ifequal count_type "all" %}{% ifequal count_unique "yes" %}
						<th class="small_head_backlog" style="background-image: none;">YTD Trend Data</th>
					{% endifequal %}{% endifequal %}
                    
				</tr>
			</thead>
			<!--  start iterating the Data -->
			<tbody>
				{% for datum in data %}
				{% if datum.displayed %}
	                <!--  Adding separator for BG -->
	                {% if datum.bg_display %}
		                <tr name="nohover">
		                    <th colspan=7><hr /></th>
		                </tr>
	                {% endif %}
					<tr class="{% cycle 'even' 'odd' %}" >
							<th style="text-align:left"><a href="{{datum.linkDisplayName}}{{matrix|getHash:0|getHash:"params"}}">{{datum.displayName}}</a></th>
							{% for item in matrix %}
                                {% for col_number in visible_columns %}
                                    {% with datum|getHash:item.uid|getHash:col_number as num_item %}
  									     <td {% if num_item.add_class %} class="{{num_item.add_class}}" {% endif %} style="background-color:{{ num_item.bgcolor|safe}}" align=right><font color="{{ num_item.color_text|safe }}">
                                            {{ num_item.link|safe}}
  								          </font></td>
                                    {% endwith %}
								{% endfor %}
							{% endfor %}
							{% ifequal count_type "all" %}{% ifequal count_unique "yes" %}
								<td style="text-align: center;"><a href="{% url 'trend' data_type='docbacklog' report_type='simple' uid=datum.uid %}">report</a></td>
							{% endifequal %}{% endifequal %}
					</tr>
                {% endif %}
				{% endfor %}
			</tbody>
			</table>
			<p><a href="{% url 'trend' data_type='docbacklog' report_type='combined' uid=usr.id %}">Combined trend report for all rows on this page</a></p>
		</div>
        <a name="color_legend"></a>
		<div class="container_notes_backlog" >
		{% ifequal pr_report_type "cvbc" %}
	        <form id="count_type_form" style="display:block; *font-size:medium">
	            <strong>CVBC State: </strong><br />
	            <input type="hidden" id="count_feedurl" value="{{feed_url}}">
	            <select style="*width:340px" class="noprint" name="report_type" id="count_type">
	            <option value="all"{% ifequal count_type "all" %} selected="selected"{% endifequal %}>Include yes and yes-ready-for-review</option>
	            <option value="yes"{% ifequal count_type "yes" %} selected="selected"{% endifequal %}>Include yes </option>
	            <option value="yes-ready-for-review"{% ifequal count_type "yes-ready-for-review" %} selected="selected"{% endifequal %}>Include yes-ready-for-review</option>
	            </select>
	        </form> 
		{% endifequal %}			

		{% ifequal pr_report_type "doc" %}
	        <form id="count_type_form" style="display:block; *font-size:medium">
	            <strong>PR State: </strong><br />
	            <input type="hidden" id="count_feedurl" value="{{feed_url}}">
	            <select style="*width:340px" class="noprint" name="report_type" id="count_type">
	            <option value="all"{% ifequal count_type "all" %} selected="selected"{% endifequal %}>Include monitored, suspended and feedback</option>
	            <option value="yes"{% ifequal count_type "yes" %} selected="selected"{% endifequal %}>Include feedback </option>
	            <option value="only"{% ifequal count_type "only" %} selected="selected"{% endifequal %}>Feedback PRs only</option>
	            <option value="monitored"{% ifequal count_type "monitored" %} selected="selected"{% endifequal %}>Monitored PRs only</option>
	            <option value="suspended"{% ifequal count_type "suspended" %} selected="selected"{% endifequal %}>Suspended PRs only</option>
	            <option value="no"{% ifequal count_type "no" %} selected="selected"{% endifequal %}>Exclude monitored, suspended and feedback</option>
	            </select>
	        </form> 
		{% endifequal %}			
        <form id="count_unique_form" style="display:block; *font-size:medium">
            <strong>PR Count: </strong><br />
            <input type="hidden" id="count_feedurl" value="{{feed_url}}">
            <select style="*width:150px" class="noprint" name="report_unique" id="count_unique">
            <option value="yes"{% ifequal count_unique "yes" %} selected="selected"{% endifequal %}>Show Unique PR</option>
            <option value="no"{% ifequal count_unique "no" %} selected="selected"{% endifequal %}>Show all PR scopes</option>
            </select>
        </form>
        <form id="pr_report_type_form" style="display:block; *font-size:medium">
            <strong>Show PR Type : </strong><br />
            <input type="hidden" id="count_feedurl" value="{{feed_url}}">
            <select style="*width:150px" class="noprint" name="pr_report_type" id="pr_report_type">
            <option value="doc"{% ifequal pr_report_type "doc" %} selected="selected"{% endifequal %}>Show Doc PRs</option>
            <option value="cvbc"{% ifequal pr_report_type "cvbc" %} selected="selected"{% endifequal %}>Show CVBC PRs</option>
            </select>
        </form>
        <br />
        <h2> Color Legend</h2>
        <table border=1>
            <tr>
                <th width="50px">Color</td>
                <th>Value</td>
            </tr>
            <tr>
                <td bgcolor="#00FF11">&nbsp</td>
                <td> BBI% &lt 85% </td>
            </tr>
            <tr>
                <td bgcolor="yellow">&nbsp</td>
                <td> BBI% between 85% - 100% </td>
            </tr>
            <tr>
                <td bgcolor="red">&nbsp</td>
                <td> BBI% above 100% </td>
            </tr>
            <tr>
                <td bgcolor="white">&nbsp</td>
                <td> Reference less than 1% of Total reference count </td>
            </tr>
       </table>
        <br />
		</div>
		<br clear="both"/>
        <br clear="both"/>
        <a name="notes"></a>
        <h2>Assumptions / Notes:</h2>
        <ul>
            <p>
            <li><strong>Current</strong> column shows your current/up-to-date DOC / CVBC backlog PRs count. </li>
            <li><strong>Reference</strong> column shows your Reference backlog PRs from <strong>2012-12-31</strong></li>
            <li><strong>Pending</strong> column shows your Delta for Forward view backlog PRs for next Release {{future_release}}R1 deploy.<br />
                   It will always give you the new addition/delta of PR that is not part of Current column.
            </li>
            <li><strong>BBI (Bug Backlog Index)</strong> columns shows you the current backlog PRs count expressed relative to the reference point
                <br /> They are counted with the following formula:
                <p>
                    <code>(Current Backlog Count / Reference Backlog Count) * 100%</code>
                </p> 
            </li>
            <li><strong>Target Backlog</strong> column shows the target of current backlog PR to achieve, to reach 85% BBI mark</li>
            <li>All Shipped release are picked from Milestone Record in Deepthought, compared then with <em>'actual_deploy_date' </em></li>
            </p>
            <p>
            <li><strong>GNATS PR condition for DOC PR as follows</strong>:
                <ul>
                    <li>all JUNOS product PRs</li>
                    <li><em>functional-area</em> = <em>documentation</em> (not hardware/software) </li>
                    <li>Using the <em>'planned-release'</em> field to determine PRs in active, but if the release field is blank only then we use <em>Reported-in</em></li>
                    <li>class=bug or unreproducible</li>
                    <li>problem-level= 1-CL1 or 2-CL2 or 4-CL3 or 3-IL1 or 4-IL2 or 5-CL4 or 5-IL3</li>
                    <li>state=NOT closed</li>
                </ul>
            </li>
			</p>
			<p>
            <li><strong>GNATS PR condition for CVBC PR as follows</strong>:
                <ul>
                    <li>all JUNOS product PRs</li>
                    <li>cust-visible-behavior-changed = "yes" or "yes-ready-for-review"</li>
                </ul>
            </li>
			</p>
			<p>
            <li>Score/calculation on PRs are shown by default as unique PR (<em>Show Unique PR</em>)<br />
                There will be a case where one PR can be in 2 or more BU/BG with different scope number.
                These cases will cause the unique PR calculation might not match the overall total of BU/BG. <br />
                To get more detailed (per-scope) counting then change the
                PR Count option (located on the right of the tables) to <em>Show All PR Scopes</em>
            </li>
            <li>Each PR will be assign to certain Release, based on this order of occurence:
                <ul>
                    <li>Planned-release</li>
                    <li>Reported-in  </li>
                </ul>
            </li>
			</p>
			<p>
            <li>Each PR will be assign to one BU/BG/User, based on this order of occurence:
                <ul>
                    <li>Tech-pub owners</li>
                    <li>Category Techpub-owner, if Techpub-owner is an alias or empty</li>
                    <li>Category SPOC, If category techpub-owner is an alias or empty </li>
                </ul>
            </li>
            </p>
            
            <li>No half-bugs calculations</li>
            <li>For Business Unit / Person which has <strong>all zero reference, current and future count will NOT be displayed</strong> </li>
            <li>For any row which as reference count PR lower than 1% of the Total (JUNOS) reference count, will be displayed in white.
                Look on our color coding (legend) <a href="#color_legend"> above</a>.
            </li>
            <li>Current Backlog includes the following release(s) : 
                <code>
                    {{ current_releases }}                
                </code>
            </li>
            <li>Pending Backlog includes the following release(s): 
                <code>
                    {{ future_releases }}                
                </code>
            </li>
            <li>Check our <a href="{% url 'help_bglist' %}">BU/BG complete list</a> for complete mapping of Business Unit in dashboard</li>
            <li><a href="#top">Back to top</a></li>
        </ul>
        <p id="toggleText" class="link-alike">Show Graph</p>
        <div id='container_test_backlog{{count_type}}' class="container_canvas_backlog">
        <form id="graph_type_form" style="display:block">
            <input type="hidden" id="graph_feedurl" value="{{feed_url}}">
            <select class="noprint" name="graph_type" id="graph_type">
            <option value="bar"{% ifequal graph_type "bar" %} selected="selected"{% endifequal %}>Bar Graph</option>
            <option value="line"{% ifequal graph_type "line" %} selected="selected"{% endifequal %}>Line Graph</option>
            </select>
        </form>
        <!--  container for graph.... generated by JS -->
        </div>
        <br clear="both"/>
    </div>
	<script>
		$(document).ready(function(){
			$("#toggleText").toggle(function(){
                   $(this).html("Hide Graph")
	               $("#container_test_backlog{{count_type}}").show();
               },function(){
                   $(this).html("Show Graph")
                   $("#container_test_backlog{{count_type}}").hide();
            });
	        $("#myBacklogTable{{count_type}}").tablesorter({
	            textExtraction: function(node) { 
	                // just return the string, no markup or link
	                return $(node).text();
	            }                           
	        }); 
	        $("#count_type, #count_unique, #all_responsible").change(function() {
	              show_loading();
	              location.href = $("#count_feedurl").val() +"?count_type="+ $("#count_type").val() + "&count_unique=" +$("#count_unique").val() + "&pr_report_type=" +$("#pr_report_type").val()  ;
	        });
            // Changes in PR report type should toggle the count back to default
            $("#pr_report_type").change(function() {
                  show_loading();
                  location.href = $("#count_feedurl").val() +"?count_unique=" +$("#count_unique").val() +  "&pr_report_type=" +$("#pr_report_type").val()  ;
            });
	        $("#graph_type").change(function() {
	              show_loading();
	              location.href = $("#graph_feedurl").val() +"?graph_type="+ $("#graph_type").val();
	        });
	        var i=0;
	        {% for item in matrix %}
	        $("#myBacklogTable{{count_type}}").visualize({
	                xShowData:[i,i+1],
	                type: '{{graph_type}}',
	                title: '{{item.displayName}}',
	                width : '400px',
	                colors: ['#CCFF11','#be1e2d','#666699','#92d5ea','#ee8310','#8d10ee','#5a3b16','#26a4ed','#f45a90','#e9e744','#e9e7AA',
	                         '#afe7AA','#00aadd','#afe700','#1100AA','#ddAAFF','#ff00FF','#11e711','#33e7DD','#55e7BB','#99e799','#77e7e7'],
	                xnewLabels:['Reference','Current'] 
	                }).appendTo("#container_test_backlog{{count_type}}").css({
	                        margin:'50px',
	                        float:'left'
	                    });
	        i+=3;
	        {% endfor %}
	        // Starting with hidden graph as default
            $("#container_test_backlog{{count_type}}").hide();
		});
	</script>

</div>
<br />
<br class="clear"/>
<span class="note">
{% updated_time usr %}
</span>    
{% endblock %}
