{% extends "ui/base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<h1>Error:</h1>

<p>&nbsp;</p>
<div class="strong boxed">
{{ error_message|safe }}
</div>
<p>&nbsp;</p>
{{ details|safe }}
{% endblock %}