{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
 <a name="top"></a> 
 <div id="hdViewTab">
    <ul>
        <li><a href="#hdreport"><span><h3>{{title}} - <strong>version 1.0</strong></h3></span></a>
    </ul>

    <div id="hd_tab_one" class="container_backlog">
        <br style="clear:both" />
        <div class="left_backlog_table">
        <div class="print-only">
        </div>
        <br style="clear:both" />
            <table class="tablesorter" style="padding:0px;margin:0px">
            </table>
            <table id="hdViewTable" class="tablesorter">
                <thead class="tablesorter-display-only"> 
                    <tr>
                        <th class="display-middle" colspan={{ header_len }}>{{report_title}}</th>
                    </tr> 
                </thead>
                <thead>
                   <tr>
                        <th class="head_prfix">{{ group_by }}</th>
                        {% ifnotequal repind "3" %}
                            {% for mr_rel in releases %} 
                                <th class="head_prfix">{{ mr_rel }} </th>
                            {% endfor %}
                        {% endifnotequal %}

                        {% ifequal repind "3" %}
                            {% for prod in products %} 
                                <th class="head_prfix">{{ prod }} </th>
                            {% endfor %}
                        {% endifequal %}
                        <th class="head_prfix">Total</th>
                   </tr> 
                </thead>
                <!--  start iterating the Data -->
                <tbody>
                    {% for datum in data %}
                        {% if datum.displayed %}
                        <!--  Adding separator for BG -->
                            {% if datum.bg_display %}
                            <tr name="nohover"><th colspan={{ header_len }}><hr /></th></tr>
                            {% endif %}

                        <tr class="{% cycle 'even' 'odd' %}" >
                            <th><a href="{{datum.linkDisplayName}}">{{datum.displayName}}</a></th>
                            {% for item in matrix %}
                                {% for mr_item in datum|getHash:item.uid %}
                                    <th> {{ mr_item.open_link|safe }} / {{ mr_item.res_link|safe }} / {{ mr_item.eta_link|safe }} </th>
                                {% endfor %}
                            <th>{{ datum.row_total }}</th>
                            {% endfor %}
                       </tr>
                        {% endif %}
                        {% ifnotequal repind "1" %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            {% for rep in "24"|make_list %}
                                {% ifequal repind  rep %}
                                    <th> {{datum.customer|upper}} </th>
                                {% endifequal %}
                            {% endfor %}
                            {% ifequal repind "3" %}
                              <th> {{datum.technology|upper}} </th>
                            {% endifequal %}
                            {% for item in matrix %}
                                {% for mr_item in datum|getHash:item.uid %}
                                    <th> {{ mr_item.open_link|safe }} / {{ mr_item.res_link|safe }} </th>
                                {% endfor %}
                            <th>{{ datum.row_total }}</th>
                            {% endfor %}
                        </tr>
                        {% endifnotequal %}
                    {% endfor %}
                </tbody>
                <thead>
                    {% ifnotequal repind "1" %}
                    <tr>
                        <th class="head_prfix">Total</th>
                        {% for ct in column_total %}
                            <th>{{ ct }}</th>
                        {% endfor %}
                    </tr>
                    {% endifnotequal %}
                </thead>
            </table>
        </div>
        <br style="clear:both" /><br style="clear:both" />
        <h2>Notes:</h2>
        <ul>
            <li><b>0 / 0 / 0</b> notation represents <strong>Open PRs/ Resolved PRs/ Missing ETA PRs</strong>.</li>
            <li><b>0 / 0 </b> notation represents <strong>Open PRs/ Resolved PRs.</strong></li>
        </ul>
    </div>
    <script>
        $(document).ready(function() {
            var rep_id = {{ repind }};
            var prod_len = {{products|length}};
            // Add min-width property for hardening report #3
            if (rep_id == "3" && prod_len > 15 ) {
                $('#content').css('min-width', '1900px');
            }
        });
    </script>
</div>
<br />
<br class="clear"/>
<span class="note">
{% updated_time usr %}
</span>    
{% endblock %}
