{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<form id="matrix-form" method="GET" action="{% url 'matrix' %}">
<input type="submit" value="build" />

<div id="matrix-form">
<div class="mf-row">
<div class="mf-title">Users
<div class="mf-instructions">
One or more users, virtual teams, BUs, BGs, dept. numbers or NPI programs.
"Direct reports" only applies if a single entity is selected.
</div>
</div>
<div class="mf-val">
{{ form.users }}<br />
{# FIXME for some reason form.users.errors renders as plain text #}
{% if form.users.errors %}<ul class="errorlist"><li>{{ form.users.errors }}</li></ul>{% endif %}
<br />{{ form.reports }}
<label for="id_reports">Include direct reports</label>

<div class="context-help">
<div class="ch-content" id="users-context">
Choose one or more usernames.  Autocompletion is available
if you use a comma to separate names.  If you supply a single name, you may
check the "Include direct reports" input.
</div></div>

</div></div>

<div class="mf-row"><div class="mf-title">Format</div>
<div class="mf-val">
<div class="mf-lft">
<input type="radio" name="how" id="how-many" value="many" checked="checked"/>
<label for="how-many">Multiple releases.</label><br />
<div class="mf-lft">
{{ form.releases }}
{{ form.releases.errors }}
</div><div class="mf-lft">
<label for="how-many">
<img src="{% url 'base' %}/inc/images/multi-thumb.png" alt="example" width="183" />
</label>
</div>
</div>
<div class="mf-mid"><strong>OR</strong></div><div class="mf-lft">
<input type="radio" name="how" id="how-one" value="one"/>
<label for="how-one">A single release.<br />
<div class="mf-lft">
{{ form.release_id.errors }}
{{ form.release_id }}
</div><div class="mf-lft">
<input type="radio" id="orient-uxm" name="orient" value="uxm"{% ifequal form.orient.as_widget 'uxm' %}checked="checked"{% endifequal %}{% ifequal form.orient.as_widget '' %}checked="checked"{% endifequal %} />
<label for="orient-uxm">Users across, metrics down<br />
<img src="{% url 'base' %}/inc/images/uxm-thumb.png" alt="users x metrics" width="200" /></label>
<br />
<input type="radio" id="orient-mxu" name="orient" value="mxu"{% ifequal form.orient.as_widget 'mxu' %}checked="checked"{% endifequal %} />
<label for="orient-mxu">Metrics across, users down<br />
<img src="{% url 'base' %}/inc/images/mxu-thumb.png" alt="metrics x users" width="200" /></label>
{{ form.orient.errors }}
</div></div>

<div class="context-help">
<div class="ch-content" id="releases-context">
The Matrix can show multiple releases, or a single release.
Thumbnail samples attempt to show the output format, but it's best to
experiment.
</div></div>

</div></div>

<div class="mf-row"><div class="mf-title">Feedback PRs</div>
<div class="mf-val">
{{ form.feedback }}
{{ form.feedback.errors }}

<div class="context-help ch-one-liner">
<div class="ch-content" id="feed-context">
You can include feedback PRs, exclude them, or show
only PRs in the feedback state.</div></div>

</div></div>

<div class="mf-row"><div class="mf-title">Found During *(Specific Quality Drivers)</div>
<div class="mf-val">
{{ form.found_during }}
{{ form.found_during.errors }}

<div class="mf-instructions" id="fd-context">
Quality drivers are Feature/Functional test, Production, Product delivery test,
Regression test, Qualification,Customer-specific test, Customer escalation
support, Solution test, Beta Test, Daily Sanity and DNH Tests.<br/>
</div> 
</div></div>

<div class="mf-row">
<div class="mf-title">Optional Title</div>
<div class="mf-val">
{{ form.title }}
{{ form.title.errors }}

<div class="context-help ch-one-liner">
<div class="ch-content" id="title-context">
You can add a title to the Matrix.  If you do not
supply a title, one will be selected for you.</div></div>

</div></div>

<div class="mf-row">
<div class="mf-top-title">Metrics
<div class="mf-instructions">
Click on a metric name to add it to the list of selected metrics.  Click again
to remove it, or click the "x" on the metric in the list.  Drag selected
metrics to change the order.  Some rules are not available because they were specifically designed
for a particular report and do not work correctly in a Matrix report.
</div>
</div><br class="clear" />
<div id="selected-contain">
<label for="id_rules">Selected Metrics</label>
{{ form.rules }}
<br clear="both" />
<button id="clear-metrics">clear metrics</button>
{{ form.rules.errors }}
</div>
<div id="metrics-contain">
<label>All Metrics</label>
{% include "parts/rule-list.html" %}
</div>

<div class="context-help">
<div class="ch-content" id="metrics-context">
Select one or more metrics, and drag them about to change
the ordering.</div></div>

</div></div>

<br clear="both" />
<input type="submit" value="build" />
</form>

{% endblock %}
