{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block additional_js %}
    <script src="/dashboard/inc/edw/lib/jquery.min.js"></script>
    <script src="/dashboard/inc/edw/lib/jquery.iecors.js"></script>
    <script src="/dashboard/inc/edw/lib/json3.min.js"></script>
    <script src="/dashboard/inc/edw/lib/underscore.min.js"></script>
    <script src="/dashboard/inc/edw/dash/global.js"></script>
    <script>
        var $jq = jQuery.noConflict();
    </script>
    <script src="/dashboard/inc/edw/dash/matrix.comp.js"></script>
    <script>
        var mpage;
        $jq(document).ready(function(){
            mpage = new jnpr.component.MatrixItem({
                states : "{{ feedback }}",
                releases : "{{ release_id }}",
                foundDuring : "{{ found_during }}",
                url : EDW_ENDPOINT_URL + "/rest/v1/matrixpage",
                jqueryObj : $jq
            });
        });
    </script>
{% endblock additional_js %}

{% block additional_css %}
    <!-- borrow from junos_ops -->
    <link rel="stylesheet" href="/dashboard/junos_ops/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dashboard/inc/edw/css/edw.css" />
{% endblock additional_css %}

{% block content %}
{% comment %}
This is *really* complicated, because there are four ways that it can
be rendered: single or multiple rules, and grouping-based or non-grouping-based
rule(s).

*) A single rule
  Username and opportunity cells in a single row, rule name only in the H1.

  - If it's grouping-based, we need to render columns per release.

*) Multiple rules.
  Username is rendered in its own row, with rules listed below that.

  - If any of the rules are grouping-based, we have to render the release
  columns.  But there may be a mix of grouping and non-grouping rules,
  so we may need to render empty cells for the non- ones.

{% endcomment %}

<h1>{{ title }}</h1>

<div class="noprint" id="matrix-links">
<a href="{% url 'matrix' %}?users={{ usernames }}&reports={{ reports }}&rules={{ rule_ids|join:"," }}&releases={{ rel_list_for_edit }}&feedback={{ feedback }}&found_during={{ found_during }}{% if not generated_title %}&title={{ title|urlencode }}{% endif %}">View for Bookmarking</a>
&nbsp;|&nbsp; <a href="{% url 'matrix-form' %}?users={{ usernames }}&reports={{ reports }}&rules={{ rule_ids|join:"," }}&releases={{ rel_list_for_edit }}&feedback={{ feedback }}&found_during={{ found_during }}{% if not generated_title %}&title={{ title|urlencode }}{% endif %}">Modify Matrix</a>
&nbsp;|&nbsp; <a href="#" class="table-sel" target="matrix-table">Export to spreadsheet</a>
{% include 'parts/spreadsheet-instructions.html' %}

{% if not usr.pseudo_user and not usr.virtual_team and reports %}
&nbsp;|&nbsp; Matrix for {{ usr.id }}'s manager,
<a href="{% url 'matrix' %}?users={{ usr.manager.id }}&rules={{ rule_ids|join:"," }}&reports=1&feedback={{ feedback }}&found_during={{ found_during }}">{{ usr.manager.id }}</a>
{% endif %}

<div class="context-help ch-one-liner"><div class="ch-content" id="matrix-edit-context">
<ul>
<li> Right-click on "View for Bookmarking" and bookmark this Matrix, or copy
the URL and paste it into an email.</li>
<li> Click "Modify Matrix" to change the options and build a related matrix.</li>
</ul>
</div></div>

</div>
{% include "parts/matrix-fd-form.html" %}
{% include "parts/matrix-feedback-form.html" %}
<br style ="clear: left;"/>

<table id="matrix-table" {% if has_release_based_rules %}width="95%"{% endif %} cellspacing="0">
<thead class="matrix-head"><tr>
{% if one_rule %}<th>User</th>{% else %}<td>&nbsp;</td>{% endif %}

{% if has_release_based_rules %}{% comment %} Render header cells for releases {% endcomment %}
<th>Total</th>
{% for rel in releases %}
<th><a href="{% url 'release-matrix' rel %}?users={{ usernames }}&rules={{ rule_ids|join:"," }}&reports=1&feedback={{ feedback }}&found_during={{ found_during }}">{{ rel }}</a></th>{% endfor %}
{% else %}<th>{% if one_rule %}{{ rule.name }}{% else %}Opportunity{% endif %}</th>
{% endif %}
</tr>
</thead>

<tbody>
{% for usr in users %}
<tbody class="{% if not one_rule %}multi-matrix{% else %}single-matrix{% endif %}"><tr>

{# username cell; render as link if a manager #}
<th class="matrix-label{% if not one_rule %} matrix-multi-header{% endif %}">
{% if usr.is_manager %}
<a href="{% url 'matrix' %}?users={{ usr.id }}&rules={{ rule_ids|join:"," }}&reports=1&feedback={{ feedback }}&found_during={{ found_during }}">{{ usr.id }}</a>{% else %}{{ usr.id }}{% endif %}</th>

{# Close out the username row if there are multiple rules. #}
{% if not one_rule %}
{% if has_release_based_rules %}{# Render empty cells for release columns #}
<td>&nbsp;</td>{% for XXX in releases %}<td>&nbsp;</td>{% endfor %}{% else %}<td>&nbsp;</td>{% endif %}
</tr>{% endif %}

{% for rule in rules %}

{# If there are multiple rules, we need a different row class for the last. #}
{% if not one_rule %}{% if forloop.last %}
  <tr class="matrix-last-row">
{% else %}
  <tr class="matrix-mid-row">
{% endif %}
<th class="matrix-rule-name">{% if forloop.parentloop.first %}<a href="{% url 'rule' rule.id %}">{{ rule.name }}</a>{% else %}{{ rule.name }}{% endif %}</th>{% endif %}

<td data-matrix-edw="{% if rule.counts == 'PRS' %}true{%else%}false{%endif%}"
            data-user="{{ usr.id }}" data-rule="{{ rule.id }}" data-release="TOTAL">
    <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=Y" class='cntX'></a>
</td>

{# total for all rels #}
{% if rule.release_based %}
    {% for rel in releases %}
        <td width="{{ body_col_width }}"
            data-matrix-edw="{% if rule.counts == 'PRS' %}true{%else%}false{%endif%}"
            data-user="{{ usr.id }}" data-rule="{{ rule.id }}" data-release="{{ rel }}">
        {% if rule.counts != "PRS" %}
            {% named_rule_link rule.id usr is_mozilla rel feedback found_during %}
        {% else %}
            <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=X" class='cntX'></a>

            <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=Y" class='cntY'></a>
        {% endif %}
        </td>
    {% endfor %}
{% else %}
    {# rule not release based #}
    {% if has_release_based_rules %}{# Render empty cells for release columns #}
        {% for XXX in releases %}<td class="no-data">no&nbsp;data</td>{% endfor %}
    {% endif %}
{% endif %}

</tr>
{% endfor %}{# end rules #}
</tbody>
{% endfor %}{# end users #}
</tbody>

<div class="context-help ch-matrix"><div class="ch-content" id="matrix-context">
<ul>
<li> The numbers in the table are links to the actual records in GNATS or
Deepthought.</li>
<li>Click on a release number to see a Matrix for that release only.</li>
<li>Click on a manager or team name to see a Matrix for that user and their
reports.</li>
</ul></div></div>

</table>
<br />
<br />
{% if has_pr_rules %}
<div class="mf-results">
Quality drivers are Feature/Functional test, Production, Product delivery test,
Regression test, Qualification,Customer-specific test, Customer escalation
support, Solution test, Beta Test, Daily Sanity and DNH Tests.
</div>
<br/>
{% endif %}
<pre>
Note : When you see two values displayed, it is showing the release and all release branches. For example:
       X (Y) has the following meaning:
           * X is the number of PRs in the major.minor release only
           * Y is the number of PRs in the major.minor PLUS the number in the integration branches.
</pre>

<span class="note">
<br />
{% updated_time usr %}
</span>


<br class="clear"/>
{% endblock %}
