{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %} Detail Page {% endblock %}

{% load dash_tags %}

{% block additional_js %}
    <script src="/dashboard/inc/edw/lib/jquery.min.js"></script>
    <script src="/dashboard/inc/edw/lib/underscore.min.js"></script>
    <script src="/dashboard/inc/edw/lib/jquery.dataTables.min.js"></script>
    <script src="/dashboard/inc/edw/dash/global.js"></script>
    <script>
        var $jq = jQuery.noConflict();
        var userId = "{{ usr.id }}";
        var metricName = "{{ metric_name }}";
        var release = "{{ release }}";
        var detailType = "{{ detail_type }}";
        var foundDuring = "{{ found_during }}";
        var states = "{{ states }}";
        var countType = "{{ count_type }} ";
        countType = $.trim(countType);
    </script>
    <script src="/dashboard/inc/edw/dash/detail.comp.js"></script>
    <script src="/dashboard/inc/edw/detail-view.js"></script>
{% endblock additional_js %}

{% block additional_css %}
    <link rel="stylesheet" href="/dashboard/inc/edw/css/dataTables.css"/>
    <link rel="stylesheet" href="/dashboard/inc/edw/css/edw.css"/>
{% endblock additional_css %}

{% block content %}

<h1> {{ usr.id }}'s {{metric_name|capfirst }} PRs metrics  </h1>

<script id="detail-row-template" type="template">
</script>

<div id="detail-container" class="panel-result">
</div>

{% endblock %}
