{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
 <a name="top"></a> 

     <a name="top"></a> 
 <div id="backlogPRTab">
      <ul>
        <li><a href="#"><span><h3>{{title}} - <strong>version {{mttr_version}} </strong></h3></span></a>
        <a href="#notes" ><img class="link-alike" src="{% url 'base' %}/inc/images/help-32x32.png" /></a></li>
    </ul>
Operational MTTR dashboard using data from the i360 MTTR report.
<br/>Please note that PRs are assigned to BUs via dev-owner and via category SPOC if the dev-owner is null or invalid.  If discrepancies are seen in the data, please validate that all of the category data is accurate and consistent <a href="https://gnats.juniper.net/cgi-bin/admin?cmd=show_categories"> here </a>


</br>

<br/>
		<br style="clear:both" />
		<div class="left_backlog_table">
		

		<br style="clear:both" />
<div id="backlog_tab_one" class="container_backlog">

<span class="note" align="right">
{% if  i360_refresh_time %}
i360 data last refreshed at {% mttr_updated_time i360_refresh_time %}
{% endif %}
</span>
		    <table id="myBacklogTable" class="tablesorter">
			 <thead class="tablesorter-display-only"> 
				<tr>
                                    <th class="display-end">&nbsp;</th>
                                    <th class="display-middle" colspan="9">MTTR-2013 Defect Details</th>
                                    <th class="display-middle" colspan="4">
                                            Quality Debt Dashboard 2013 Details
                                    </th>
                                </tr> 
			</thead>
<thead>
				<tr>
					<th class="head_prfix">Business Unit / Person</th>
					{% for item in matrix %}
					<th class="small_head_prfix">
						{{ item.label.mttr_roll_mth_val }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.mttr_cur_mth_val }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.mttr_cur_roll_qtr_val }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.mttr_last_roll_qtr_val }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.target }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.cur_qtr_pr_cnt }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.cur_qtr_case_cnt }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.mttr_roll_mth_cl1_val }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.mttr_roll_mth_cl2_val }}
					</th>

					<th class="small_head_prfix">
						{{ item.label.open_cl1_cl2_pr_cnt }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.untouched_pr_wk_cnt }}
					</th>
					<th class="small_head_prfix">
						{{ item.label.pttr_val }}
					</th>					
					<th class="small_head_prfix">
						{{ item.label.open_cl1_cl2_case_cnt }}
					</th>
				
					{% endfor %}
				</tr>
			</thead>			<!--  start iterating the Data -->
			<tbody>
				{% for datum in data %}
				{% if datum.displayed %}
	                <!--  Adding separator for BG -->
	                {% if datum.bg_display %}
		                <tr name="nohover">
		                    <th colspan=14><hr /></th>
		                </tr>
	                {% endif %}
				{% if datum.mttr %}
					<tr class="{% cycle 'even' 'odd' %}" >
							<th><a href="{{datum.linkDisplayName}}">{{datum.displayName}}</a></th>
							{% for item in matrix %}
								{% for num_item in datum|getHash:item.uid%}
									<td align="right" bgcolor="{{ num_item.bgcolor|safe}}"><font color="{{ num_item.color_text|safe }}">{{ num_item.link|safe}}</font>
									   {{num_item.tool_tip|safe}}
									</td>
								{% endfor %}
							{% endfor %}
							</tr>
				{% endif %}	
				{% endif %}
				{% endfor %}
			</tbody>
			</table>
		
		</div>

    </div>
	
	
<a name="color_legend"></a>
		<div class="container_notes_backlog" >
        <br />
        <h2> Color Legend</h2>
        <table border=1>
            <tr>
                <th width="50px">Color</td>
                <th>Value</td>
            </tr>
            <tr>
                <td bgcolor="#00FF11">&nbsp</td>
                <td> Average of MTTR < 30.4 </td>
            </tr>
            <tr>
                <td bgcolor="yellow">&nbsp</td>
                <td> Average of MTTR >= 30.4 and Average of MTTR < 33.8 </td>
            </tr>
            <tr>
                <td bgcolor="red">&nbsp</td>
                <td>  Average of MTTR >= 33.8 </td>
            </tr>
            <tr>
                <td bgcolor="white">&nbsp</td>
                <td> Average of MTTR is Zero </td>
            </tr>
       </table>
       <br />
	   </div>
<br style="clear:both" /><br style="clear:both" />
<a name="notes"></a>
<h2>Assumptions / Notes:</h2>
<ul>
	<li><strong> MTTR </strong>(Mean Time to Repair) of a <strong>PR</strong> is the time difference between when the customer experience of a PR is reported to engineering (via Gnats) and the Feedback Time.</li>
	<li> Target <strong>MTTR</strong> for the Current Year is <strong> < 30.4 days</strong>.</li>
        <li><strong> Rolling 12Month MTTR</strong> Average of MTTR 2013 for Problem Level CL1 and CL2 PRs with Feedback date in last full rolling 12 months. </li>
        <li><strong> Current Month MTTR</strong> Average of MTTR 2013 for PRs with Feedback date in the current period.</li>
	<li><strong> Current Rolling Quarter MTTR</strong> Average of MTTR 2013 for PRs with Feedback date in the last full month plus the prior 2 months.</li>
	<li><strong> Last Rolling Quarter MTTR</strong> Average of MTTR 2013 for PRs with Feedback date in first 3 month period prior to the Current Rolling Quarter.</li>
	<li><strong> Number of PRs in current Quarter</strong> Number of PRs included in the current rolling quarter. </li>
	<li><strong> Number of Cases in current Quarter</strong> Number of cases include in current rolling quarter. </li>
	<li><strong> Rolling 12 Month CL1 MTTR</strong> Average of MTTR 2013 for Problem Level CL1 PRs with Feedback date in last full rolling 12 months.  </li>
	<li><strong> Rolling 12 Month CL2 MTTR </strong> Average of MTTR 2013 for Problem Level CL2 PRs with Feedback date in last full rolling 12 months. </li>
	<li><strong> MTO Predicted TTR for Open CL1 & CL2 </strong>Average of Predicted MTTR 2013 for Problem levels CL1 and CL2 PRs. </li>
	<li><strong> Number of Open CL1 & CL2 </strong>Number of Problem level CL1 and CL2 PRs with JTAC cases attached which have do not have a scope which has a resolution of fixed or not-fixed with a feedback date or which is not closed. </li>
	<li><strong> Number of Cases Attached to Open CL1 & CL2 </strong>Number of Problem level CL1 and CL2 PRs with JTAC cases attached which have do not have a scope which has a resolution of fixed or not-fixed with a feedback date or which is not closed.</li>
	<li><strong> Number of Open CL1 & CL2 untouched for 1 wk </strong>column shows total number of Open CL1 and CL2 PRs that have not been touched for 1 week or longer (based on PR Last Modified date). </li>  
	<li>Each <strong>PR</strong> is assigned to one <strong>BU/BG/User</strong>, based on this order of occurrence:
	    <ul>
	    	<li>Dev-Owner Field.</li>
	    	<li>Category SPOC, If dev-owner is an alias or empty or if dev-owner is an ex-employee then we look to the category Single Person Of Contact.</li>
	    </ul>
	</li>
        <li><a href="#top">Back to top</a></li>
</ul>

<br />
	
</div>
<br />
<br class="clear"/>
<span class="note">
{% if  edw_update_time %}
"PRs untouched for 1 week" updated {% mttr_updated_time edw_update_time %}
{% endif %}
</span>
<script>
             $("#myBacklogTable").tablesorter({
	            textExtraction: function(node) { 
	                // just return the string, no markup or link
	                return $(node).text();
	            }                           
	        });
	     
</script>
		</div>

{% endblock %}
