{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
 <a name="top"></a> 
 <div id="prFixTab">
    <ul>
        <li><a href="#{{ count_type }}"><span><h3>{{title}}</h3></span></a>
        <a href="#notes" ><img class="link-alike" src="{% url 'base' %}/inc/images/help-32x32.png" /></a></li>
    </ul>

		
		<span class="print-only">
		PR that are newly introduced in {{release_name}} 
		</span>
		<br style="clear:both" />
<table class="tablesorter" style="padding:0px;margin:0px">
<thead>
        <tr>
                <th class="head_prfix_empty">&nbsp;</th>
                {% for item in matrix %}
                <th class="small_head_prfix_empty">
                        {{ item.displayName }} <br />
                        {{ item.condition|safe }}
                </th>
                {% endfor %}
        </tr>
</thead>
</table>
	    
<table id="myTable{{count_type}}" class="tablesorter">
<thead>
        <tr>
                <th class="head_prfix">Business Unit</th>
                {% for item in matrix %}
                <th class="small_head_prfix">
                        {{ item.label.numerator }}
                </th>
                <th class="small_head_prfix">
                        {{ item.label.denominator }}
                </th>
                <th class="small_head_prfix">
                        {{ item.label.result }}
                </th>
                {% endfor %}
        </tr>
</thead>
<!--  start iterating the Data -->
<tbody>
        {% for datum in data %}
                {% if datum.displayed %}
                        <tr>
                                <th ><a href="{{datum.linkDisplayName}}">{{datum.displayName}}</a></th>
                                {% for item in matrix %}
                                        {% for num_item in datum|getHash:item.uid%}
                                                <td bgcolor="{{num_item.bgcolor|safe}}"><font color="{{ num_item.color_text|safe }}">{{ num_item.link|safe}}</font></td>
                                        {% endfor %}
                                {% endfor %}
                        </tr>
                {% endif %}
        {% endfor %}
</tbody>
	    
</table>
	    <br />

       <table border=1>
       		<tr>
       			<th>Color</td>
       			<th>Value</td>
       		</tr>
       		<tr>
       			<td bgcolor="#00FF11">&nbsp</td>
       			<td> Meet requirement</td>
       		</tr>
       		<tr>
       			<td bgcolor="yellow">&nbsp</td>
       			<td> &lt 10% from requirement</td>
       		</tr>
       		<tr>
       			<td bgcolor="red">&nbsp</td>
       			<td> &gt 10% from requirement</td>
       		</tr>
       </table>
	    <br />
	    </table>
		<br />
		<br clear="both"/>
        <a name="notes">
        <a name="notes"></a>
        <h2>Assumptions / Notes:</h2>
		<ul>
		Unique PR Fix rate by IB report counts the bug fix rate for newly introduced PRs in an IB for a given release, <br />it also includes PR's from child DEV Branches of the given IB. PR's are picked based on the Planned-Release field of the GNATS, <br />and then filtered to see if PR is newly introduced in the given IB i.e If a PR has scopes in the earlier releases it is not considered <br /> (Ex: If a PR has 2 scopes 12.3 IB and 13.1 IB this PR is considered as newly introduced only for 12.3 IB). <br />
		<li><strong>GNATS PR condition</strong> as follows:
                <ul>
                    <li>all JUNOS product PRs and </li>
                    <li><em>functional-area</em> = <em>software</em> (not hardware/documentation) </li>
                    <li>class=bug or pre-commit-bug</li>
                    <li>(problem-level != 6-IL4 and problem-level !=  "5-CL4" and Blocker == "") or  Blocker != ""</li>
                </ul>
            </li>
            <li><strong>Open</strong> column shows all PR that meet this criteria :
                <ul>
                    <li>State == 'open' OR State == 'info' OR State == 'analyzed' or state=='feedback' </li>
                    <li>class == 'bug' </li>
                </ul>
            </li>
			<li><strong>Closed</strong> column shows all PR that meet this criteria :
				<ul>
                    <li>class == 'bug' </li>
					<li>State == 'closed' </li>
				</ul>
			</li>
			<li>Each PR will be assign to User, based on their 'state':
			    <ul>
			    	<li>State == 'info', or 'feedback' Look at 'Dev-owner'</li>
			    	<li>State == 'open', 'analyzed', or 'closed' Look at 'Responsible'</li>
			    </ul>
			    IF the respected field didn't give us a valid user, then we fall back to the <strong>category SPOC</strong>
			</li>
			<li>Did not pick up any PR which has category ".*hw-.*" </li>
			<li>
			    Coloring for a cell is determined in a number of ways:
                <ul>
                    <li>
                        If the report's release is not a CDM release <strong>or</strong> if the report's release is a CDM release that has passed it's IBRG milestone: 
                        <ul>
                            <li>Green: 100%</li>
                            <li>Yellow: 85% &lt;= x &lt;= 95%</li> 
                            <li>Red: &lt; 85%.</li>
                        </ul>
                    </li>
                    <li>
                        Otherwise: 
                        <ul>
                            <li>Green: &gt; 80%</li>
                            <li>Yellow: 70% &lt;= x &lt;= 80%</li>
                            <li>Red: &lt; 70%.</li>
                        </ul>
                    </li>
                </ul>
			</li>
            <li><a href="#top">Back to top</a></li>
		</ul>
    </div>
</div>
<br />
<br class="clear"/>
<span class="note">
{% updated_time usr %}
</span>    
{% endblock %}
