{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<div id="scores-box" class="boxed">
<table style="width: 75%;">
{% for program in npis %}
{% if program.total_score %}<tr>{% else %}<tr class="greyed">{% endif %}
<td><a href="{% url 'agenda' program.id %}">{{ program.program_name }}</a></td>
<td>&nbsp;</td>
<td class="rcnum scorenum">{{ program.total_score }}</td></tr>
{% endfor %}
</table>
</div>
<br clear="all" />
{% endblock %}
