{% extends "ui/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="qirReportTab">

<a name="top"></a>
<ul>
    <li><a href="#"><span><h3><strong>{{title}} - version {{page_version}}</strong></h3></span></a> 
</ul>

<div id="qir_tab_one" class="container_backlog QIR_padded">
    <!-- draw the header for QIR Report -->
    <div class="QIR_padded" id="header_wrapper">
    <h3>1. Choose QIR graph</h3>
    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_qualityBox">
            <span class="titlebox">Quality </span>
            <ul>
                <li><a href="#graphdisplay" onclick='showEmbedTableau2("QIR_displayFrame","QIR-IBFRSVariance","IBFRSVariance")'>MTTR</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau2("QIR_displayFrame","Wow","911Calls", ":tabs=yes")'>Other Test</a></li>
            </ul>
        </div>
    </div>
    
    <br clear="all" />
    
    <!-- start creating container to display tableau graphs -->
    <a name="graphdisplay"></a>
    <h3>2. Graph Display (
        <span class="QIR_frameNotes">
            <a href="#top">back to top</a> | <a href="#top" onclick='QIR_changeFrame("")'>clear</a>
        </span> )
    </h3>
    <div class="QIR_displayBlock">
        <iframe src="" id="QIR_displayFrame" >
        </iframe>
    </div>

    <br clear="all" />
    </div>
</div>


</div>



{% endblock %}
