{% extends "ui/base.html" %}
{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="qirReportTab">

<a name="top"></a>
<ul>
    <li><a href="#"><span><h3><strong>{{title}} - version {{page_version}}</strong></h3></span></a> 
</ul>

<div id="qir_tab_one" class="container_backlog QIR_padded">
    <!-- draw the header for QIR Report -->
	<div class="QIR_padded" id="header_wrapper">
    <h3>1. Choose QIR graph</h3>
    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_qualityBox">
            <span class="titlebox">Quality</span>
            <ul>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QualityMTTR","MTTRJUNOS")'>MTTR</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","PRBacklog","PRBacklogTrend")'>PR Backlog</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","PSGPRTrendapplicable","ReleaseComparison")'>S-curve</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-ATTTimetoCertifyRelease","ATTTimetoCertifyCombined")'>ATT time to certification</a></li>
                <li>Deployability Quality Index</li>
                <li>MTTC</li>
            </ul>
        </div>
    </div>
    
    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_scheduleBox">
            <span class="titlebox">Schedule</span>
            <ul>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-IBFRSVariance","IBFRSVariance")'>IBFRS variance</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-FRSVariance","FRSVariance")'>FRS variance</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-FRSVariance","MRVariance")'>MR variance</a></li>
                <li>SR variance</li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-ATTTimetoCertifyRelease","DropstoReleaseQualification")'>ATT drop variance</a></li>
            </ul>
        </div>
    </div>  
    
    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_contentBox">
            <span class="titlebox">Content</span>
            <ul>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-RLI","RLIandChurnbyRelease" )'>RLI Churn</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-TRD","TRD")'># of TRDs</a></li>
                <li><a href="#graphdisplay" onclick='showEmbedTableau("QIR_displayFrame","QIR-Specials","Specials", ":tabs=yes")'># of specials</a></li>
                <li>Customer Enhancement Request Backlog</li>
            </ul>
        </div>
    </div>  
    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_scaleBox">
            <span class="titlebox">Scale</span>
            <ul>
                <li>Scale target </li>
                <li>Performance degradation &lt;5% per release</li>
            </ul>
        </div>
    </div>  

    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_jecBox">
            <span class="titlebox">JEC </span>
            <ul>
                <li>Static Analysis </li>
                <li>Unit Test Process & Code Coverage</li>
            </ul>
        </div>
    </div>  

    <div class="QIR_blockMenu">
        <div class="QIR_contentMenuBox QIR_dleBox">
            <span class="titlebox">DLE</span>
            <ul>
                <li>Build Time</li>
                <li>Survey</li>
            </ul>
        </div>
    </div>  

	<br clear="all" />
	
	<!-- start creating container to display tableau graphs -->
	<a name="graphdisplay"></a>
    <h3>2. Graph Display (
	    <span class="QIR_frameNotes">
	        <a href="#top">back to top</a> | <a href="#top" onclick='QIR_changeFrame("")'>clear</a>
	    </span> )
	</h3>
	<div class="QIR_displayBlock">
		<div id="QIR_titleblock"></div>
		<iframe src="" id="QIR_displayFrame" >
		</iframe>
	</div>

    <br clear="all" />
    </div>
</div>


    <br clear="all" />
</div>

{% endblock %}
