{% extends score_template %} {% load dash_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block scores %}

{% if usr.scored %}
{% if usr.is_manager and status.scores %}
{% with usr|reports_in_release:release_id as statuses %}
{% include 'parts/top-issues.html' %}
{% endwith %}
{% endif %}
{% endif %}

{% include 'parts/scores-box.html' %}

{% include 'parts/totals.html' %}

<div id="info" class="boxed left">
<h3>Release Dates</h3>
<table class="no-label-wrap">
{% if cdm_v2_release %}
{% include 'parts/cdm-v2-release.html' %}
{% endif %}
{% if cdm_release %}
{% include 'parts/cdm-release.html' %}
{% endif %}
{% if not cdm_v2_release and not cdm_release %}
{% include 'parts/npi-release.html' %}
{% endif %}

</table>

<div class="context-help"><div class="ch-content" id="release-context">
<ul>
<li> Information about the release from the Deepthought NPI database.</li>
<li> NPI Phase is a link to the Deepthought NPI record.</li>
<li> Bn and Rn names are links to the respective Deepthought Milestone records.</li>
<li> Dates in the past are rendered in grey.</li>
</ul></div></div>

</div>
<br class="clear"/>

{% endblock %}
