{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block additional_js %}
    <script src="/dashboard/inc/edw/lib/jquery.min.js"></script>
    <script src="/dashboard/inc/edw/lib/jquery.iecors.js"></script>
    <script src="/dashboard/inc/edw/lib/json3.min.js"></script>
    <script src="/dashboard/inc/edw/lib/underscore.min.js"></script>
    <script src="/dashboard/inc/edw/dash/global.js"></script>
    <script>
        var $jq = jQuery.noConflict();
    </script>
    <script src="/dashboard/inc/edw/dash/matrix.comp.js"></script>
    <script>
        var mpage;
        $jq(document).ready(function(){
            mpage = new jnpr.component.MatrixItem({
                states : "{{ feedback }}",
                foundDuring : "{{ found_during }}",
                url : EDW_ENDPOINT_URL + "/rest/v1/matrixpage",
                jqueryObj : $jq
            });
        });
    </script>
{% endblock additional_js %}

{% block additional_css %}
    <!-- borrow from junos_ops -->
    <link rel="stylesheet" href="/dashboard/junos_ops/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dashboard/inc/edw/css/edw.css" />
{% endblock additional_css %}


{% block content %}
<h1>{{ title }}</h1>

<div class="noprint" id="matrix-links">
<a href="{% url 'release-matrix' release_id %}?release_id={{ release_id }}&users={{ usernames }}&reports={{ reports }}&rules={{ rule_ids|join:"," }}&orient={{ orientation }}&feedback={{ feedback }}&found_during={{ found_during }}{% if not generated_title %}&title={{ title|urlencode }}{% endif %}">View for Bookmarking</a>
&nbsp;|&nbsp; <a href="{% url 'matrix-form' %}?release_id={{ release_id }}&users={{ usernames }}&reports={{ reports }}&rules={{ rule_ids|join:"," }}&orient={{ orientation }}&feedback={{ feedback }}&found_during={{ found_during }}{% if not generated_title %}&title={{ title|urlencode }}{% endif %}">Modify Matrix</a>
{% if not usr.pseudo_user and not usr.virtual_team and reports %}
&nbsp;|&nbsp; Matrix for {{ usr.id }}'s manager,
<a href="{% url 'release-matrix' release_id %}?users={{ usr.manager.id }}&rules={{ rule_ids|join:"," }}&feedback={{ feedback }}&found_during={{ found_during }}&reports=1">{{ usr.manager.id }}</a>
{% endif %}
&nbsp;|&nbsp; <a href="#" class="table-sel" target="matrix-table">Export to spreadsheet</a>
{% include 'parts/spreadsheet-instructions.html' %}

<div class="context-help ch-one-liner"><div class="ch-content" id="matrix-edit-context">
<ul>
<li> Right-click on "View for Bookmarking" and bookmark this Matrix, or copy
the URL and paste it into an email.</li>
<li> Click "Modify Matrix" to change the options and build a related matrix.</li>
</ul>
</div></div>

</div>
{% include "parts/matrix-fd-form.html" %}
{% include "parts/matrix-feedback-form.html" %}
<br style="clear: left;"/>

<table id="matrix-table" width="{{ table_width }}" cellspacing="0">
<!-- DRAWING HEADER -->
<thead class="matrix-head"><tr>
<th>&nbsp;</th>
{% ifequal orientation 'uxm' %}
{% for usr in users %}
<th width="{{ body_col_width }}">
    {% if usr.is_manager %}
        <a href="{% url 'release-matrix' release_id %}?users={{ usr.id }}&rules={{ rule_ids|join:"," }}&reports=1&orient={{ orientation }}&feedback={{ feedback }}&found_during={{ found_during }}">{{ usr.id }}</a>
    {% else %}
        {{ usr.id }}
    {% endif %}
</th>
{% endfor %}
</tr>
</thead>

<tbody class="{% if not one_rule %}multi-matrix{% else %}single-matrix{% endif %}">

{% for rule in rules %}
<tr>
<th class="release-matrix-rule-name" width="{{ header_col_width }}">
    <a href="{% url 'rule' rule.id %}">{{ rule.name }}</a>
</th>
{% for usr in users %}
    {% if usr.scored and rule.release_based%}
        <td width="{{ body_col_width }}"
            data-matrix-edw="{% if rule.counts == 'PRS' %}true{%else%}false{%endif%}"
            data-user="{{ usr.id }}" data-rule="{{ rule.id }}" data-release="{{ release_id }}">
        {% if rule.counts != "PRS" %}
            {% named_rule_link rule.id usr is_mozilla release_id feedback found_during %}
        {% else %}
            <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=X" class='cntX'></a>

            <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=Y" class='cntY'></a>
        {% endif %}
        </td>
    {% else %}
        <td class="no-data">no&nbsp;data</td>
    {% endif %}
{% endfor %}
{# end users #}
</tr>
{% endfor %}{# end rules #}

{% else %}{# end uxm, start mxu #}


<!-- START OF MXU -->
{% for rule in rules %}
<th width="{{ body_col_width }}"><a href="{% url 'rule' rule.id %}">{{ rule.name }}</a></th>
{% endfor %}
</tr>
</thead>

<tbody class="multi-matrix">

{% for usr in users %}
<tr>
    <th class="release-matrix-rule-name" width="{{ header_col_width }}">
        {% if usr.is_manager %}
            <a href="{% url 'release-matrix' release_id %}?users={{ usr.id }}&rules={{ rule_ids|join:"," }}&reports=1&orient={{ orientation }}&feedback={{ feedback }}&found_during={{ found_during }}">{{ usr.id }}</a>
        {% else %}
            {{ usr.id }}
        {% endif %}
    </th>

    {% for rule in rules %}
        {% if usr.scored %}
            <td width="{{ body_col_width }}"
                data-matrix-edw="{% if rule.counts == 'PRS' %}true{%else%}false{%endif%}"
                data-user="{{ usr.id }}" data-rule="{{ rule.id }}" data-release="{{ release_id }}">
            {% if rule.counts != "PRS" %}
                {% named_rule_link rule.id usr is_mozilla release_id feedback found_during %}
            {% else %}
                <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=X" class='cntX'></a>

                <a href="{% url 'metdetail' usr.id %}?detail_type=metrics&cnt_type=Y" class='cntY'></a>
            {% endif %}
            </td>
        {% else %}
            <td class="no-data">no&nbsp;data</td>
        {% endif %}
    {% endfor %}{# end users #}
</tr>
{% endfor %}{# end rules #}

{% endifequal %}{# end of uxm vs mxu #}

</tbody>

<div class="context-help ch-matrix"><div class="ch-content" id="matrix-context">
<ul>
<li> The numbers in the table are links to the actual records in GNATS or
Deepthought.</li>
<li>Click on a manager or team name to see a Matrix for that user and their
reports.</li>
</ul></div></div>

</table>
<br />
<br />
{% if has_pr_rules %}
<div class="mf-results">
Quality drivers are Feature/Functional test, Production, Product delivery test,
Regression test, Qualification,Customer-specific test, Customer escalation
support, Solution test, Beta Test, Daily Sanity and DNH Tests.
</div>
<br/>
{% endif %}
<pre>
Note : When you see two values displayed, it is showing the release and all release branches. For example:
       X (Y) has the following meaning:
           * X is the number of PRs in the major.minor release only
           * Y is the number of PRs in the major.minor PLUS the number in the integration branches.
</pre>

<span class="note">
{% updated_time usr %}
</span>

<br class="clear"/>
{% endblock %}
