{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
 <a name="top"></a> 
 <div id="prFixTab">
    <ul>
        <li><a href="#{{ count_type }}"><span><h3>{{title}}</h3></span></a>
        <a href="#notes" ><img class="link-alike" src="{% url 'base' %}/inc/images/help-32x32.png" /></a></li>
    </ul>

	<div id="{{count_type}}" class="container_prfix">
		<form id="count_type_form">
		    <div class="prfix_option_title">
				<span class='prfix_option_title'>Type </span>
				<select class="noprint" name="report_type" id="count_type" style='width:180px'>
					<option value="inreport"{% ifequal count_type "inreport" %} selected="selected"{% endifequal %}>Reported-in</option>
					<option value="total"{% ifequal count_type "total" %} selected="selected"{% endifequal %}>All PRs in Release </option>
				</select>
			</div>

			{% if is_cdm%}
            <div class="prfix_option_title">
	            <span class='prfix_option_title'>Show PR filed against </span>
	            <select class="noprint" name="report_dev_branch_type" id="dev_branch_type" style='width:280px'>
	            {% if is_tot %}
	            	<option value="yes"{% ifequal dev_branch_type "yes" %} selected="selected"{% endifequal %}>{{release_name}} and IB / Development Branches</option>
		            <option value="no"{% ifequal dev_branch_type "no" %} selected="selected"{% endifequal %}>{{release_name}} and IB Branches</option>
		            <option value="tot_"{% ifequal dev_branch_type "tot_" %} selected="selected"{% endifequal %}>only {{release_name}} </option>
		            <option value="ib_"{% ifequal dev_branch_type "ib_" %} selected="selected"{% endifequal %}>only IB Branches </option>
		            <option value="only"{% ifequal dev_branch_type "only" %} selected="selected"{% endifequal %}>Only Development Branches</option>
	            {% else %}
	            	<option value="yes"{% ifequal dev_branch_type "yes" %} selected="selected"{% endifequal %}>{{release_name}} and Development Branches</option>
		            <option value="no"{% ifequal dev_branch_type "no" %} selected="selected"{% endifequal %}>Only {{release_name}}</option>
		            <option value="only"{% ifequal dev_branch_type "only" %} selected="selected"{% endifequal %}>Only Development Branches</option>
	           	{% endif %}
	            </select>
            </div>
			{% endif %}
			
            <div class="prfix_option_title">
	            <span class='prfix_option_title'>PR Count</span>
	            <select class="noprint" name="report_pr_count" id="report_pr_count" style='width:280px'>
		            <option value="all"{% ifequal report_pr_count "all" %} selected="selected"{% endifequal %}>Show All Scopes</option>
                    <option value="unique_"{% ifequal report_pr_count "unique_" %} selected="selected"{% endifequal %}>Unique Count</option>
	            </select>
            </div>
            <input type="hidden" id="count_feedurl" value="{{feed_url}}">
		</form>
		
		<div class="print-only">
		{% ifequal count_type "inreport" %}PR that reported-in Release {{release_name}} and Exist in Releases {% endifequal %}
		{% ifequal count_type "total_pr_fix" %}All PRs in Release {{release_name}} {% endifequal %}
		</div>
		<br style="clear:both" />
	    {% include "parts/prfix_header.html" %}
	    <table id="myTable{{count_type}}" class="tablesorter">
	    {% include "parts/prfix_matrix.html" %}
	    </table>
	    <br />

       <table border=1>
       		<tr>
       			<th>Color</td>
       			<th>Value</td>
       		</tr>
       		<tr>
       			<td bgcolor="#00FF11">&nbsp</td>
       			<td> Meet requirement</td>
       		</tr>
       		<tr>
       			<td bgcolor="yellow">&nbsp</td>
       			<td> &lt 10% from requirement</td>
       		</tr>
       		<tr>
       			<td bgcolor="red">&nbsp</td>
       			<td> &gt 10% from requirement</td>
       		</tr>
       </table>
	    <br />
<pre>
Note : Open includes <strong>open, info, analyzed</strong> states of PR
       Closed includes <strong>closed, feedback</strong> states of PR
       
</pre>

		<br style="clear:both" />
		<h1> PRs needed to meet requirements</h1>
	    <table id="myCountTable{{count_type}}" class="tablesorter">
			<!--  control the sorting -->
			<thead>
				<tr>
					<th class="head_prfix">Business Unit</th>
					{% for item in matrix %}
					<th class="head_prfix_need">
						{{ item.displayName}}
					</th>
					{% endfor %}
				</tr>
			</thead>
			<!--  start iterating the Data -->
			<tbody>
				{% for datum in data %}
                    {% if datum.displayed %}    
						<tr>
							<th> <a href="{{datum.linkDisplayName}}">{{datum.displayName}}</a></th>
							{% for item in matrix %}
								{% for num_item in datum|getHash:item.displayName %}
									<td bgcolor="{{ num_item.bgcolor|safe}}"><font color="{{ num_item.color_text|safe }}">{{ num_item.link|safe}}</font></td>
								{% endfor %}
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
	    </table>
		<br />
		<div id='container_test{{count_type}}' class="container_canvas" >
		<!--  container for graph.... generated by JS -->
		</div>
		<br clear="both"/>
        <a name="notes">
        <a name="notes"></a>
        <h2>Assumptions / Notes:</h2>
		<ul>
			<li><strong>Unique Count</strong> in PR count, shows the Bug based on # of PR instead of Scopes. There are
			    condition on how we calculate the uniqueness of bug.
			    <ul>
			    	<li>If there are any Scopes of PR in 'open/info/analyzed' then it will calculated as 1 count in OPEN column</li>
			    	<li>If there are any Scopes of PR in 'closed/feedback' then it will calculated as 1 count in CLOSED column</li>
			    	<li>If there are PR which has 1 count in OPEN and CLOSED, then the OPEN count will take precedence. We will count
			    	    OPEN = 1 and CLOSED = 0 <br />
			    	    Example: PR 123-1 state = 'feedback' and PR 123-2 state='analyzed', This PR will be calculated as 0 CLOSED and 1 OPEN <br />
			    	             PR 124-1 state = 'closed'   and PR 124-2 state='feedback', This PR will be calculated as 1 CLOSED and 0 OPEN
			    	</li>
			    </ul>
			</li>
            <li><strong>Major PR</strong> column shows all PR that meet this criteria :
                <ul>
                    <li>severity == 'major' </li>
                    <li>category NOT matches ".*hw-.*" </li>
                    <li>category NOT matches ".*build.*"</li>
                </ul>
            </li>
            
            <li><strong>Regression PR</strong> column shows all PR that meet this criteria :
                <ul>
                    <li>attributes == '.*regression-pr.*' </li>
                    <li>category NOT matches ".*hw-.*" </li>
                    <li>category NOT matches ".*build.*"</li>
                </ul>
            </li>

            <li><strong>Open</strong> column shows all PR that meet this criteria :
                <ul>
                    <li>State == 'open' OR State == 'info' OR State == 'analyzed' </li>
                    <li>class == 'bug' </li>
                </ul>
            </li>
			<li><strong>Closed</strong> column shows all PR that meet this criteria :
				<ul>
                    <li>class == 'bug' </li>
					<li>State == 'closed'  & (Resolution == 'fixed' OR Resolution == 'fixed-elsewhere')</li>
					<li>State == 'feedback'</li>
				</ul>
			</li>
			<li>On each page, the PR is collected based on the Release value that follow this order:
				<ul>
					<li>Conf Committed Release</li>
					<li>Committed Release</li>
					<li>Release</li>
					<li>Reported-in</li>
				</ul>
			</li>
			<li>All Shipped release are picked from Milestone Record in Deepthought, compared then with 'actual_deploy_date' </li>
			<li>Each PR will be assign to User, based on their 'state':
			    <ul>
			    	<li>State == 'info', or 'feedback' Look on 'Dev-owner'</li>
			    	<li>State == 'open', 'analyzed', or 'closed' Look on 'Responsible'</li>
			    </ul>
			    IF the respected field didn't give us a valid user, then we fall back to the <strong>category SPOC</strong>
			</li>
			<li>Did not pick up any PR which has category ".*hw-.*" or ".*build-.*" </li>
			<li>
			    Coloring for a cell is determined in a number of ways:
                <ul>
                    <li>
                        If the report's release is not a CDM release <strong>or</strong> if the report's release is a CDM release that has passed it's IBRG milestone: 
                        <ul>
                            <li>Green: 100%</li>
                            <li>Yellow: 85% &lt;= x &lt;= 95%</li> 
                            <li>Red: &lt; 85%.</li>
                        </ul>
                    </li>
                    <li>
                        Otherwise: 
                        <ul>
                            <li>Green: &gt; 80%</li>
                            <li>Yellow: 70% &lt;= x &lt;= 80%</li>
                            <li>Red: &lt; 70%.</li>
                        </ul>
                    </li>
                    <li>
                        If the PR is a blocker, an extra 5% of "urgency" is added to the requirements.
                    </li>
                </ul>
			</li>
            <li><a href="#top">Back to top</a></li>
		</ul>
    </div>

	<script>
    	$(document).ready(function() {
	    	$("#myTable{{count_type}}, #myCountTable{{count_type}}").tablesorter({
	            textExtraction: function(node) { 
	            	// just return the string, no markup or link
	            	return $(node).text();
	        	} 			    	    	
	    	});
	    	var i=0;
	    	{% for item in matrix %}
			$("#myTable{{count_type}}").visualize({
					xShowData:[i,i+1],
					title: '{{item.displayName}}',
					width : '400px',
					colors: ['#CCFF11','#be1e2d','#666699','#92d5ea','#ee8310','#8d10ee','#5a3b16','#26a4ed','#f45a90','#e9e744','#e9e7AA',
					         '#afe7AA','#00aadd','#afe700','#1100AA','#ddAAFF','#ff00FF','#11e711','#33e7DD','#55e7BB','#99e799','#77e7e7'],
					xnewLabels:['Closed','Open'] 
					}).appendTo("#container_test{{count_type}}").css({
							margin:'50px',
							float:'left'
						});
			i+=3;
			{% endfor %}
			$("#count_type, #dev_branch_type, #report_pr_count").change(function() {
			      show_loading();
			      location.href = $("#count_feedurl").val() +"?count_type="+ $("#count_type").val()+
                                  "&dev_branch_type="+$("#dev_branch_type").val() + 
                                  "&report_pr_count=" + $("#report_pr_count").val();
			});
    	});
	</script>

</div>
<br />
<br class="clear"/>
<span class="note">
{% updated_time usr %}
</span>    
{% endblock %}
