{% load dash_tags %}{% load compressed %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <title>{{ title }}</title>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 <META HTTP-EQUIV="REFRESH" CONTENT="30">
<script type="text/javascript">
 var dash_base_url = "{% url 'base' %}";
 var page = "{{ page }}";
</script>
{% compressed_css 'main' %}
{% compressed_css 'print' %}
<!--[if lt IE 8]>
 {% compressed_css 'ie' %}
<![endif]-->
{% compressed_js 'ie' %}
{% compressed_js 'main' %}

<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
<div id="header">
 <ul class="sf-menu main-menu">
  <li><a href="{% url 'help' %}">Help &raquo;</a>
   <ul>
    <li><a href="{% url 'help' %}">Help</a>
    <li><a href="{% url 'tour' %}">Quick Tour</a>
    <li><a href="{% url 'help-rules' %}">Request a Rule</a></li>
    <li><a href="{% url 'browser-reqs' %}">Requirements</a></li>
    <li><a href="{% url 'help_bglist' %}">BU/BG List</a>
   </ul></li>
   {% if user.is_superuser %}
   <li><a href="/dashjava/admin/in.do">Admin &raquo;</a>
      <ul> <li><a href="{% url 'base' %}/admin/">Django Admin</a></li>
    </ul></li>
   {% endif %}
 </ul><br clear="both" />
 <div id="context-help-thing"><img src="{% url 'base' %}/inc/images/help-32x32.png" /></div>
 <noscript>
  <div class="boxed">
   <strong>Warning</strong>: JavaScript is disabled in your browser, or your
   browser does not support it.<br />
   Many Howdy and Dashboard features require JavaScript, so you may encounter
   decreased functionality.<br />
   Read the <a href="{% url 'browser-reqs' %}">Browser Requirements</a> for details.
  </div><br clear="all" />
 </noscript>
 <div id="loading">thinking...</div>
 {% if message %}<div id="messagebox">{{ message }}</div>{% endif %}
{% for message in messages %}
<div class="motd" id="motd-{{ message.id }}"><div class="motd-inner">
<div class="motd-message">{{ message.message|safe }}</div>
{% if message.body %}<a class="motd-more">more &raquo;</a>
<div class="motd-body" id="motd-body-{{ message.id }}">
{{ message.body|safe }}
</div>
{% endif %}
</div></div>
{% endfor %}</div>
<div id="content">


<p>&nbsp;</p>
<div class="strong boxed">
{{ error_message|safe }}
</div>
<p>&nbsp;</p>
{% ifequal title 'Dashboard Reloading' %}

This is not an error, but a normal condition of the way the system currently works.  In previous versions the Dashboard would just become unresponsive or show inconsistent data.  This new feature now protects the user from inconsistent data and gives the user some estimate as to when the load from the source data will be completed.
<p />
The data will be reloaded anywhere from every 30 minutes to possibly every two hours depending on how much data needs processing.
<p />
You may force a browser reload every so often, or the page will automatically reload every so often.
{% endifequal %} 

{{ details|safe }}

</div>
<div id="footer">
 <div class="noprint" id="footer-links">
  <a href="http://www-int.juniper.net/">Intranet Home</a> |
  <a href="https://wintermute.juniper.net/junos/">Wintermute</a> |
  <a href="http://freebase.juniper.net/">Freebase</a> |
  <a href="http://eng-in.juniper.net/cgi-bin/throttle/tp.cgi">Throttle Req</a> |
  <a href="https://deepthought.juniper.net/app/index.jsp?tableName=RLI">Deepthought</a> |
  <a href="https://gnats.juniper.net/web/default">GNATS</a> |
  <a href="https://gnats.juniper.net/cgi-bin/gnats.review?database=review">Review Tracker</a>
 </div>
 <div class="footer-left">Copyright &copy; {% now "Y" %}. Juniper Networks, Inc.</div>
 <div class="footer-mid noprint">  Dashboard {{ version }} </div>
 <div class="footer-mid print-only">Generated {% now "Y-m-d H:i" %}<br /></div>
 <div class="footer-right noprint">Please see our <a href="https://matrix.juniper.net/docs/DOC-51328">known issues page</a> if you are experiencing problems.</div>
 <div class="footer-right print-only">Juniper Confidential</div>
</div>
</body>
</html>




