{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if rule %}

<h1>Rule "{{ rule.name }}"</h1>

<p>{% autoescape off %}{{ rule.description }}{% endautoescape %}
</p>

<table>
<tr><td class="rclabel">Objective</td>
 <td class="rcvalue">{{ rule.objective.description }}</td>
</tr>

<tr><td class="rclabel">Effective</td>
 <td class="rcvalue">{% sunset_or_effective rule 0 %}</td>
</tr>

<tr><td class="rclabel">Sunset</td>
 <td class="rcvalue">{% sunset_or_effective rule 1 %}</td>
</tr>

<tr><td class="rclabel">Relative Weight</td>
 <td class="rcvalue">{{ rule.weight }}</td>
</tr>

<tr><td class="rclabel">Owner</td>
 <td class="rcvalue">
 <a href="mailto:{{ rule.owner }}@juniper.net?Subject=Rule: '{{ rule.name }}'"
 >{{ rule.owner }}</a></td>
</tr>

<tr><td class="rclabel">Last Updated</td>
 <td class="rcvalue">{{ rule.last_updated }}</td>
</tr>

</table>
<a href="#" id="adminToggle">(Administrivia ...)</a>
<div id="adminInfo">
<table>
<tr><td class="rclabel">Active</td>
 <td class="rcvalue">{{ rule.active }}</td>
</tr>

<tr><td class="rclabel">Milestone</td>
 <td class="rcvalue">{{ rule.milestone.name }}</td>
</tr>

<tr><td class="rclabel">Horizon</td>
 <td class="rcvalue">{{ rule.horizon }}</td>
</tr>

<tr><td class="rclabel">Identifier</td>
 <td class="rcvalue">{{ rule.id }}</td>
</tr>

<tr><td class="rclabel">Counts</td>
 <td class="rcvalue">{{ rule.counts }}</td>
</tr>
</table>
</div>
<p></p>
<h3>Rule Definition</h3>
<pre class="boxed">
{{ rule.lhs }}
</pre><br clear="all"/>
<div class="note">(In a future version of the Dashboard, the definitions will be
more human-readable.)</div>

{% if user.is_superuser %}
[<a href="/dashjava/admin/show-rule-edit.do?ruleid={{ rule.id }}">edit rule</a>]{% endif %}

<p><br /></p>

{% endif %}

<h1>Dashboard Rules</h1>  
<div class="noprint" id="matrix-links"><a href="{% url 'rule-summary' %}">Summary of Weights, Horizons, Sunsets & Multipliers</a></div>
{% with 1 as as_links %}
{% include "parts/rule-list.html" %}
{% endwith %}
{% endblock %}
