{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<div class="noprint" id="matrix-links">
<ul>
<li>Rule Name: The issue the rule tracks (clicking on the name will bring you to the full description of the rule).</li>
<li>Effective: At what time durring development does this rule start being counted.</li>
<li>Sunset: At what time durring development does this rule stop being counted.</li>
<li>Weight: Some rules are more important then others, the weight is multiplied by their score to make this more obvious</li>
<li>Multiplier: Increasing weights to move important issues to the top of the agenda.
<ul><li>N/A: Always a constant weight.</li>
    <li>Positive: The weight starts increasing the closer time gets to the Milestone.</li>
    <li>Negative: The weight starts increasing after the Milestone has past.</li>
</ul>
<li>Objective: The reasoning behind the rule.</li>
</ul>
<a href="{% url help %}#rules">More detailed information on how the Rules work</a>
</div><br />
<table id="summary-table" cellspacing="0">
<thead class="matrix-head"><tr>
<th>Rule Name</th><th>Effective</th><th>Sunset</th><th>Weight</th><th>Multipler</th><th>Objective</th>
</tr></thead>
<tbody>
{% for rule in rules %}{% if rule.active %}
<tr class="{% cycle 'odd-rows' 'even-rows' %}">
<td><a href="{% url rule rule.id %}">{{ rule.name }}</a></td>
<td>{% sunset_or_effective rule 0 %}</td>
<td>{% sunset_or_effective rule 1 %}</td>
<td>{{ rule.weight }}</td>
<td>{% multiplier rule %}</td>
<td>{{ rule.objective.description }}</td>
</tr>
{% endif %}{% endfor %}

</tbody>
</table>

{% endblock %}