{% extends "ui/base.html" %}{% load dash_tags %}
{% block content %}
<div id="scores-content">
<ul class="sf-menu sub-menu">
<li><a href="{% url 'prs-user' usr.id %}">PRs</a></li>
<li><a href="{% url 'agenda' usr.id %}">Agenda :: {{ usr.total_score }}</a></li>
{% for rel in in_flight_releases %}
<li><a href="{% url 'release' rel usr.id %}">{{ rel }} :: {% release_score usr rel %}
	{% show_cdm_branch 'release' rel usr.id %}
</li>
{% endfor %}
<li><a>More &raquo;</a>
<ul>
{% for rel in grounded_releases %}
<li><a href="{% url 'release' rel usr.id %}">{{ rel }} :: {% release_score usr rel %}
	{% show_cdm_branch 'release' rel usr.id %}
</li>
{% endfor %}
</ul>
</li>
</ul>

<div id="upcoming-holder">
<div id="upcoming">
<h4>Upcoming Events  &raquo;</h4>
<table>
{% for event in schedule %}
{% ifequal forloop.counter 4 %}
</table>
<div id="more-upcoming">
<table>{% endifequal %}
<tr><td class="up1">{{ event.days }}</td><td class="up2">{% ifequal event.source 'release' %}
<a href="{% url 'release' event.name usr.id %}">{{ event.name }}</a>{% else %}
<a href="{% url 'agenda' event.name|formatify:"npi-%s" %}"
title="{{ event.details }}">NPI {{ event.name }}</a>{% endifequal %}
{{ event.event }}</td><td class="up3">{{ event.date }}</td></tr>
{% endfor %}
</table>
</div>
<div class="context-help ch-one-liner"><div class="ch-content" id="upcoming-ctx">
<ul>
<li> Release and NPI events in the near future.</li>
<li> Hover to see more events.</li>
</ul></div></div>
</div>
</div>

<br clear="left"/>
<h1 id="agenda-title">Agenda
{% if not usr.is_junos %}::
{% if usr.virtual_team %}Virtual Team: {% endif %}
{% if usr.is_npi %}NPI {{ usr.program_name }}{% else %}
{{ usr.id }}{% endif %}{% endif %} :: {% if release_id %}<a href="{% url 'release' tot_release usr.id%}">{{ tot_release }}</a>
									  {% if rel_type %} {{rel_type}} {% endif %} ::
{% release_score usr release_id %}{% else %}{{ usr.total_score }}{% endif %}</h1>

<br clear="all" />

{% show_cdm_branch_menu tot_release usr.id  %}

<div id="scores-box">
{% block scores %}
This is where the scores go
{% endblock %}
</div>

<p class="note">
{% updated_time usr %}
</p>
</div>
{% endblock %}
