{% extends "ui/base.html" %}{% load dash_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form action="{{gnatsurl}}" method="post" name="gnatsForm">
    <input type="hidden" name="prs"/>
    <input type="hidden" name="columns" value= "{{gnatscols}}"/>
    <input type="hidden" name="queryname"/>
    <input type="hidden" name="sortfld1dir" value="{{gnatssortby}}"/>
</form>

<script language="javascript">
    function submitGnatsForm(prs, qname) {
        if (!prs || (/^\s*$/).test(prs) || prs == "None") {
            return;
        }
        document.gnatsForm.prs.value=prs;
        document.gnatsForm.queryname.value=qname;
        document.gnatsForm.submit();
    }
</script>

 <a name="top"></a> 
 <div id="backlogPRTab" class="container_backlog">
    <ul>
        <li><a href="#all"><span><h3>{{title}} - <strong>Version {{page_version}}</strong></h3></span></a>
      <a href="#notes" ><img class="link-alike" src="{% url 'base' %}inc/images/help-32x32.png" /></a></li>
       
    </ul>
   <br style="clear:both" /> 
       You can read <a href="https://matrix.juniper.net/docs/DOC-96764">overview</a> and more <a href="https://matrix.juniper.net/docs/DOC-97242">details</a> here.
   <br/> 
   <br/> 
   <table id="SLATab" style="width:100%" class="tablesorter" >
	<thead>
        	<tr>
          		<th class="head_prfix">Business Unit / Person</th>
                        <th class="small_head_prfix" colspan=2>Time To Acknowledge (days)</th>
                        <th class="small_head_prfix" colspan=2>Time To Assign (days)</th>
                        <th class="small_head_prfix" colspan=2>% Info States PRs</th>       
                        <th class="small_head_prfix" colspan=2>Info Time (days)</th>
                        <th class="small_head_prfix" colspan=2>Number Of Info States</th>
                        <th class="small_head_prfix" colspan=3>Verification Time (days)</th>
                </tr>
        </thead>
        <!--  start iterating the Data -->
        <tbody>
                {% for datum in data %}
                   <!--  Adding separator for BG -->
                   {% ifequal datum.is_BG "True" %}
                        <tr name="nohover">
                          <td colspan=15><hr /></th>
                        </tr>
                   {% endifequal %}
                   <tr>   
                         <td><a href="{{datum.uid_link}}">{{datum.uid}}</a></th>
                         <td colspan=2><a href='#' onclick='submitGnatsForm("{{datum.acktimeprs}}", "{{datum.acktimeqname}}"); return false;'>{{datum.acktime}}</a></td>
                         <td colspan=2><a href='#' onclick='submitGnatsForm("{{datum.astimeprs}}", "{{datum.astimeqname}}"); return false;'>{{datum.astime}}</a></td>
                         <td colspan=2><a href='#' onclick='submitGnatsForm("{{datum.pctinfostatprs}}", "{{datum.pctinfostatqname}}"); return false;'>{{datum.pctinfostat}}</a></td>
                         <td colspan=2><a href='#' onclick='submitGnatsForm("{{datum.infotimeprs}}", "{{datum.infotimeqname}}"); return false;'>{{datum.infotime}}</td>
                         <td colspan=2><a href='#' onclick='submitGnatsForm("{{datum.infostatprs}}", "{{datum.infostatqname}}"); return false;'>{{datum.infostat}}</td>
                         <td colspan=3><a href='#' onclick='submitGnatsForm("{{datum.verifytimeprs}}", "{{datum.verifytimeqname}}"); return false;'>{{datum.verifytime}}</td>
                    </tr>
                 {% endfor %}
          </tbody>
   </table>
   <br />
 </div>

<br style="clear:both" /><br style="clear:both" />
<table id="SLAChart" style="width:100%" >
        <thead>
                <tr>
                        <th>
        <div>
                <iframe 
				    src="" id="SLA_displayFrame" width="58%" height="300px" frameborder="0">
                </iframe>
        </div>
                  </th>
               </tr>
         </thead>
</table>
<br/>
<br/>
<br/>
<a name="notes"></a>
<h2>Assumptions / Notes:</h2>
<ul>
       <li><strong>MTTC</strong> (Mean time to customer) <strong>KPIs</strong> (Key performance indicators) is an operational view to enable drilldown into key performance indicators which can influence MTTC.</li> 
       <li><strong>Time to Acknowledge</strong> indicates the average length of time (in days) between when PRs arrive and when they are first assigned to individuals (individual alias from a category or group alias) in engineering. Includes PRs of all states.</li>
       <li><strong>Time to Assign</strong> indicates the average length of time (in days) between when a <strong>Customer-Encountered Defect(CED)</strong> PR arrives and when it is assigned to the person in engineering responsible for resolving it. Assignment is measured using the Dev-Owner field. Includes PRs of all states.</li>
       <li><strong>% Info States PRs</strong> indicates the percentage of CED PRs which need extra information (as evidenced by a transition into the <strong>info state</strong>) to be resolved. Includes PRs with at least one closed scope.</li>
       <li><strong>Info Time</strong> indicates the average amount of time (in days) CED PRs spent in the info state.Includes PRs with at least one closed scope.</li>
       <li><strong>Number Of Info States</strong> indicates the average number of times a CED PR goes into the info state. Includes PRs with at least one closed scope.</li>
       <li><strong>Verification Time</strong> indicates the average length of time (in days) taken for CED PRs fix to be verified by TAC.</li>
            <ul>
                <li>PRs with <strong>class = bug|duplicate and resolution = fixed|fixed-elsewhere</strong> are considered for calculation.</li>
                <li>Formula used is (<strong>Closed Date - Feedback Date</strong>)</li>
                <li>State == closed</li>
            </ul>
       </li>
       <li>The rows with all 0 data are not shown in the grid. When you see a row with all 0 data, then at least one of them on this row actually is not 0 because <strong>two digits after the decimal point are considered</strong>.</li>
       <li>Each PR is assigned to one BG/BU/Person, based on this order of occurrence:
            <ul>
                <li><strong>Dev-Owner</strong> field.</li>
                <li>Category <strong>SPOC</strong>, If dev-owner is an alias or empty or if dev-owner is an ex-employee then we look to the category <strong>Single Person Of Contact</strong>.</li>
            </ul>
       </li>
        <li>Junos software PRs whose arrival-date > July 01 2010 and with <strong>Problem-Level: CL1, CL2, CL3</strong> are only considered.</li>

       <li>All the calculations are per <strong>Year-To-Date</strong> and based on data from <strong>PR-Age/PR-Orphan-Age</strong> information.</li>

</ul>
        <a href="#top">Back to top</a></li>
    </div>
</div>
<br />
<br class="clear"/>
<span class="note">
</span>    


<script>
	$(document).ready(function(){
		showEmbedTableau("SLA_displayFrame","DashboardSLA","SLA", "&ORG_ID={{org_list}}&:toolbar=no&:tabs=no");
	})
	

</script>
{% endblock %}
