.COMPONENT_blockMenu{
    float:left;
    margin: 10px 20px 20px 10px;
	padding-left:10px;
    /* Rounded box */
    background-color: #D4DDF1;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #A5A5A5;
}

.COMPONENT_frameNotes {
	font-size:smaller;
}

/** Display CSS **/
.COMPONENT_displayBlock {
	display:block;
    margin: 10px 20px 20px 10px;
	width : 100%;
	height : 700px;
}

#COMPONENT_displayFrame{
	width : 99%;
	height: 99%;
	border: 2px solid #A5A5A5;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius: 8px 8px 8px 8px;
}
