/* page structure */
body, html, form {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    padding: 0px 0px 0px 0px;
    margin: 2px;
    width: 98%;
}
#header {
	margin-top: 0px;
}
#content {
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
}
#footer {
	font-size: 10px;
	padding: 30px 0px 0px 0px;
	clear: both;
}
#footer-links {
  text-align: center;
  margin-bottom: 1em;
}
.footer-right {
	position: absolute;
	right: 3%;
	width: 30%;
	text-align: right;
}
.footer-left {
	position: absolute;
	left: 3%;
	width: 30%;
	text-align: left;
}
.footer-mid {
	position: absolute;
	left: 35%;
	width: 30%;
	text-align: center;
    padding: 0 10px 10px;
}

#sidebar {
	float: right;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
	font-weight: bold;
	text-align: center;
}
#sidebar a {
	text-decoration: none;
}

#messagebox {
  background-color: #F6D5C2;
  border: 1px solid #A5A5A5;
  width: 70%;
  padding: 0.5em 1em;
  margin: 1em 15%;
  position: relative;
}
.motd {
  position: relative;
  height: 1em;
  margin: 0 15% 1.7em 15%;
  width: 70%;
}
.motd-inner {
  width: 100%;
  padding: 0.5em 1em;
  background-color: #FFF2AC;
  border: 1px solid #A5A5A5;
  position: absolute;
  z-index: 80;
  top: -0.2em;
}
.motd-more {
  position: absolute;
  bottom: 2px;
  right: 2px;
  cursor: pointer;
}
.motd-message {
  font-weight: bold;
  text-align: center;
}
.motd-body {
  padding: 1em 0 1em 0;
  display: none;
}
.motd-body-notes {
  margin-top: 0.2em;
  font-weight: lighter;
  font-size: smaller;
  text-align: center;
  display: none;
}

#loading {
    display: none;
    z-index: 100;
    position: absolute;
    left: 20%;
    height: 2em;
    line-height: 2em;
    width: 60%;
    margin-top: 2.5em;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #FFFFFF;
    background-color: #9D9D28;
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 35% center;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
#spreadsheet-instructions {
    display: none;
    z-index: 100;
    position: fixed;
    left: 25%;
    top: 40%;
    width: 50%;
    padding: 1em;
    margin-top: 2.5em;
    border-top: 3px solid #DDDDDD;
    border-right: 3px solid #DDDDDD;
    border-bottom: 3px solid #DDDDDD;
    border-left: 3px solid #DDDDDD;
    background-color: #5979b4;
    color: #FFFFFF;
}
#dialog {
  display: none;
}

/* elements */
a,
a:link {
    color: #0069AF;
    color: blue;
}
a:visited {
    color: #34279F;
}
a:hover,
a:active {
    color: blue;
}
h1, h2, h3, h4 {
	margin: 0.1em;
}
form {
  display: inline;
}
pre {
  margin-top: 0;
  margin-bottom: 0;
}
input, select, button {
	font-size: 11px;
}

/* minor classes */
.print-only {
	display: none;
}
.hidden {
	display: none;
}
.no-data {
  color: #CFCFCF;
  font-weight: lighter;
  font-size: x-small;
}
.tooltip {
    display: none;        /* required */
    position: absolute;   /* required */
}
.rt {
	text-align: right;
}
.clear {
	clear: both;
}
.note {
	font-size: smaller;
}
.hand {
	cursor: pointer;
	color: blue;
}
.imgfloat {
	float: right;
	border: 1px solid #E0E0E0;
	margin: 2px;
	padding: 2px;
}
.greyed {
	color: #CCCCCC;
}
.greyed a:link {
	color: #AAAAD0;
}
.greyed a:visited {
	color: #93899D;
}
.strong {
	font-weight: bold;
}
.qtip-content h4 {
  margin-top: 0.75em;
}

/* Content in boxes -- mostly on the scores pages, but widely used */
.boxed {
	margin: 10px 0px 10px 0px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #A5A5A5;
	position: relative; /* needed for positioning of context-help */
}
.boxed td {
	margin-left: 5px;
	margin-right: 5px;
}
.boxed th {
	text-align: left;
}
.left {
	float: left;
	width: 44%;
	margin-right: 3%;
}

/* Label - value pairs in tables and lists */
.rclabel {
    text-align: left;
	vertical-align: top;
	padding-right: 1em;
}
.no-label-wrap .rclabel {
  white-space: nowrap;
}
.rcvalue {
	text-align: left;
	vertical-align: top;
}
.rcnum {
	text-align: right;
	vertical-align: top;
	padding-right: 3em;
}
.indented {
	padding-left: 4em;
}

/* Matrix form */
#matrix-form {
  margin-top: 5px;
  clear: both;
}
#matrix-form img {
  border: 1px solid #CDCDCD;
}
.mf-row {
  clear: both;
  width: 100%;
  float: left;
  border-bottom: 1px solid #CDCDCD;
  padding: 3px 0 3px 0;
  position: relative;
}
.mf-title, .mf-top-title {
  font-weight: bold;
  font-size: larger;
  padding: 0 5px 0 5px;;
}
.mf-title {
  float: left;
  width: 20%;
}
.mf-instructions {
  font-weight: normal;
  font-size: smaller;
  color: #3F3F3F;
  margin-top: 0.5em;
}
.mf-results {
  font-weight: normal;
  font-size: 90%;
  margin-top: 0.5em;
}
.mf-val {
  float: left;
  padding: 5px 5px 5px 10px;
  width: 75%;
}
.mf-lft {
  float: left;
  margin-left: 10px;
}
.mf-mid {
  float: left;
  text-align: center;
  width: 10%;
}
#selected-contain {
  float: left;
  width: 30%;
  margin-left: 5px;
}
#metrics-contain {
  float: left;
  margin-left: 5px;
  width: 68%;
}
#matrix-form #rules-by-type div {
  width: 30%;
}
#matrix-form #rules-by-type li {
  text-indent: -0.3em;
  padding-left: 0.3em;
}
#matrix-form #rules-by-type a:hover {
  color: #FFFFFF;
  background-color: #6884BD;
}
#matrix-form label {
  font-weight: bold;
}
#id_rules {
  list-style-type: none;
  padding: 0.2em;
  margin: 10px 0 0 0;
  min-height: 15em;
  border: 1px solid #CDCDCD;
}
#id_rules li {
  margin: 0 3px 3px 3px;
  padding: 0.2em;
  padding-left: 0.5em;
  cursor: move;
  border: 1px solid #CDCDCD;
  background-color: #D4DDF1;
}
#id_rules li span {
  float: right;
  cursor: pointer;
  font-weight: bold;
}
.selected-metric {
  background: #D4DDF1;
}
ul.errorlist {
  display: inline;
  list-style-type: none;
  color: red;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* The rules list on the matrix form and the rule list page. */
#rules-by-type div {
  float: left;
  margin-right: 5px;
}
#rules-by-type ul {
  list-style-type: none;
  margin: 0.1em 0 0.2em 0.2em;
  padding-left: 0;
}
#rules-by-type ul li {
  margin-bottom: 0.1em;
}
#rules-by-type a {
  text-decoration: none;
}
#rules-by-type a.rule-name {
  color: #000000;
  cursor: pointer;
}

/* The complex table classes for the matrix page */
#matrix-links {
  position: relative;
  float: left;
  width: 800px;
}
#matrix-table {
  position: relative;
}
#matrix-table a {
	text-decoration: none;
}
#matrix-table a:hover {
	text-decoration: underline;
}
#matrix-table td {
  text-align: right;
  padding-right: 1em;
  border-right: 1px solid #EDEDED;
}
.matrix-head th {
  background: #0C479D;
  color: #FFFFFF;
  padding-bottom: 5px;
  border-right: 1px solid #CDCDCD;
  border-bottom: 1px solid #ADADAD;
  white-space: nowrap;
}
.matrix-head th a{
  color: #FFFFFF;
}
.single-matrix td {
  padding-left: 2em;
  text-align: left;
}
.single-matrix td, .single-matrix th {
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #ADADAD;
}
.matrix-label {
  text-align: left;
  white-space: nowrap;
}
.matrix-multi-header {
  padding-top: 5px;
  border-right: 1px solid #EDEDED;
}
.release-matrix-rule-name {
  font-weight: normal;
  text-align: left;
  border-right: 1px solid #EDEDED;
}
.matrix-rule-name {
  font-weight: normal;
  text-align: left;
  padding-left: 2em;
  border-right: 1px solid #EDEDED;
}
.matrix-mid-row td, .matrix-mid-row th {
  border-right: 1px solid #EDEDED;
}
.matrix-last-row td, .matrix-last-row th {
  padding-bottom: 5px;
  border-bottom: 1px solid #CDCDCD;
}
#summary-table {
	position: relative;
}
#summary-table a {
	text-decoration: none;
}
#summary-table a:hover {
	text-decoration: underline;
}
#summary-table td {
  text-align: left;
  border-right: 1px solid #EDEDED;
  border-left: 1px solid #EDEDED;
  border-bottom: 1px solid #CDCDCD;
}
.even-rows {
  background-color: #FFFFFF;
}
.odd-rows {
  background-color: #CCCCFF;
}

#feedform-holder {
  float: left;
  width: 100px;
  margin-bottom: 0.4em;
}
#feedform {
  position: relative;
}

#fdform-holder {
  float: left;
  width: 300px;
  margin-bottom: 0.2em;
}

#fdform {
  position: relative;
}
/* Agenda and releases pages */
#high-scorers {
  position: relative;
  max-width: 80%;
}
#scores-box {
  padding: 0 5px 0 5px;
}
#scores-box a, #upcoming a {
  text-decoration: none;
}
#scores-box a:hover, #upcoming a:hover {
  text-decoration: underline;
}
#upcoming-holder {
  float: right;
  height: 7em;
  width: 25em;
}
#upcoming {
  position: absolute;
  z-index: 50;
  width: 23em;
  padding: 1px 5px;
  border: 1px solid #CDCDCD;
  background-color: white;
}
#upcoming table {
  width: 100%;
}
#more-upcoming {
  display: none;
}
.up1 {
  width: 20%;
  white-space: nowrap;
  vertical-align: top;
}
.up2 {
  width: 50%;
}
.up3 {
  width: 30%;
  white-space: nowrap;
  vertical-align: top;
}
#scores-box table {
  width: 100%;
  border-spacing: 0.2em;
}
#scores-box tbody:FIRST-CHILD th {
	border-top: 0;
}
#scores-box th {
	border-top: 10px solid white;
  padding: 0.4em 0 0.1em 0.2em;
  margin: 2em;
  background: #D4DDF1;
    background-color: #D4DDF1;
    background-repeat: no-repeat;
    background-position: 4px 50%;
    border-bottom: 1px solid #878787;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
}
#scores-box h3 {
  background: #0C479D;
  color: #FFFFFF;
  padding-left: 10px;
  margin: -5px -5px 0 -5px;
  display: block;
}

#scores-box table.group_rule {
	border-left:solid gray;
}

.group_rule .rcnum {
	padding-right :0;
}

/* the name and description inside the TH elements */
.section-name {
  margin-left: 0.1em;
  float: left;
  width: 35%;
}
.section-desc {
  margin-right: 1em;
  float: right;
  width: 55%;
  text-align: right;
  font-size: smaller;
  font-weight: normal;
  color: grey;
}
.scorenum {
  color: grey;
  font-weight: lighter;
}
.brokenrule {
	margin-bottom: 10px;
}
.ruledetails {
	margin: 4px 2px 4px 0px;
	padding: 0px;
	list-style: none;
}
.ruledetails li {
	margin-left: 2px;
	padding-left: 2px;
}

/* Used on the jsp admin pages */
#extra-nav div {
  display: none;
}
#rule-buttons table {
  float: left;
}
.warning {
  font-weight: bold;
  color: red;
}

/* context help classes */
#context-help-thing {
  position: absolute;
  top: 5px;
  right: 0;
}
#context-help-thing a {
  text-decoration: none;
}
.ch-content {
  border: 8px solid #FFF2AC;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: white;
}
.context-help ul {
  padding: 0 0 0 1.2em;
  margin: 2px;
}
.context-help {
  display: none;
  position: absolute;
  top: 4em;
  left: 10%;
  width: 77%;
  z-index: 900;
  border: 1px solid #ADADAD;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.ch-one-liner {
  top: 0.8em;
}
.ch-matrix {
  top: 20em;
}

/** RLI Report CSS **/
.container_rlireport {
	width : auto;
}
.container_rlireport td{
	padding-left:10px;
}
th.head_rlireport_empty,
th.head_rlireport{
	width : 200px ;
}
th.small_head_rlireport{
	width : 70px;
	border: solid 1px blue;
	text-align: center;
}

th.small_head_rlireport_empty{
	width : 222px;
	border: none;
	text-align: center;
}
th.head_rlireport_empty {
	background:white;
	border: none;
}
th.head_rlireport{
	border: solid 1px blue;
	text-align: left;
}

/** PR-Fix page CSS **/
/* container */
.container_prfix {
	height : auto; /* if BU/user is increasing.. then it needs to change */
	width : 100%;
}
/* Header Table */
th.head_prfix_empty,
th.head_prfix{
	width : 250px ;
}

th.head_prfix_need{
	width : 170px ;
}

th.small_head_prfix_empty{
	width : 278px;
	border: none;
	text-align: center;
}

div.prfix_option_title{
	width:800px;
	*width:880px;
}
span.prfix_option_title {
	display:inline-block;
	width : 190px;
	font-weight: bold;
	text-align: right;
}

/** SAME style for Backlog/PR-fix **/
th.small_head_prfix,
th.medium_head_backlog
{
	width : 90px;
	text-align: left;
}

/**     BACKLOG PR STYLE      **/
/** added style on backlog PR **/
.container_backlog {
	height : auto;
	width : auto;
	*width:1200px;
}

th.large_head_backlog
{
	width : 110px;
	text-align: left;
}

th.small_head_backlog
{
	width : 60px;
	text-align: left;
}

th.head_backlog_empty,
th.head_backlog{
	width : 220px ;
}

th.small_head_backlog_empty{
	width : 475px;
	border: none;
	text-align: center;
}
.container_canvas_backlog{
	float:left;
	height:auto;
}

.container_notes_backlog{
    padding:8px;
	float:left;
    width:30%;
    *width:auto;
}

.left_backlog_table{
	float:left;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
}

.link-alike{
	text-decoration: underline;
    color: #00F;
    cursor: pointer;
    padding-left:10px;
    border:none;
}

/** TableSorter CSS **/
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:0px;
	padding:0px;
	text-align: left;
}

table.tablesorter thead tr th, 
table.tablesorter tfoot tr th
 {
	background-color: #e6EEEE;
}

table.tablesorter tbody tr.odd{
    background-color: #e6EEEE;
}

table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead th.display-end {
    background-color: #FFF;
    
}

table.tablesorter thead th.display-middle {
    background-color: #D6EEEE;
    text-align:center;
    
}

table.tablesorter tbody tr  {
	vertical-align: top;
	padding:2px;
	background:#FFF;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

.container_canvas {
	width:100%;
	height:800px;
}


.printbutton{
	border:1px solid #0C479D;
	cursor:pointer;
	padding:2px;
}

/** help link **/
.help_link{
	background-color: #e6EEEF;
	font-size: small;
}

/** important display **/
.important_value{
	font-weight: bolder;
}

/** menu link esp. branches need more spaces **/
.sf-menu ul li.wide_size {
    width:20em;
}

