/* Rules to compensate for IE6's brokenness */
.ui-dialog-content {
	padding: 1.5em 0em;
}
/* IE doesn't support min-height, but treats height as min-height. */
#id_rules {
  height: 15em;
}
/* Box-model fix? */
#upcoming-holder {
  margin-right: 1em;
}
/* Setting height to 1em, to get the dwim box to line up, makes each menu */
/* item render as a full-page-width box. */
.sf-menu a {
  height: auto;
}
/* Fix menu stacking */
.main-menu, .main-menu * {
	z-index: 900;
}
.sub-menu, .sub-menu * {
	z-index: 800;
}
.motd, .motd * {
	z-index: 850;
}
/* Pixel font scaling bug */
input, select {
	font-size: smaller;
}
.tablesorter form.viewform {
	display:none;
}
