#pr_date_table th.small_width{
	width : 100px ;	
}

#pr_date_table th.medium_width{
	width : 180px ;	
}

#pr_date_table th.normal_width{
	width : 220px ;	
}

#pr_date_table th.separator,
#pr_date_table td.separator
{
    width : 1px ;
    background-color: #000000; 
}

#pr_date_table tbody tr td{
    padding-left:10px;
    padding-right:10px;
}
