body, html, form {
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    font-family: "Lucida grande", Verdana;
	font-size: 11px;
    background: white;
    width: 100%;
}
#header {
    display: none;
	height: 0px;
}
#footer {
	height: auto;
	font-size: 9px;
	padding: 30px 0px 0px 0px;
    clear: both;
}
#content {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

a {
	text-decoration: none;
}
#matrix-table a,
#scores-box a {
  color: black;
}

.note {
	font-size: 9px;
}

.noprint, .context-help, .sf-menu, .tooltip {
	display: none;
}
#dialog,
#upcoming-holder,
#upcoming,
#matrix-controls,
#spreadsheet-instructions,
#context-help-thing,
#feedform,
#loading {
	display: none;
}
.print-only {
	display: block;
}

#matrix-table td,
table.tablesorter td,
table.tablesorter th,
.matrix-head th,
.single-matrix td,
.single-matrix th,
.matrix-multi-header,
.release-matrix-rule-name,
.matrix-rule-name,
.matrix-mid-row td,
.matrix-mid-row th {
  border-right: 1px solid grey;
}
table.tablesorter th,
.matrix-head th,
.single-matrix td,
.single-matrix th,
.matrix-last-row td,
.matrix-last-row th {
  border-bottom: 1px solid grey;
}

/** keeping it for better printing **/
/** PR-Fix page CSS **/
/* Header Table */
th.head_prfix_empty,
th.head_prfix{
	width : 120px ;
}
th.small_head_prfix_empty{
	width : 222px;
	border: none;
	text-align: center;
}

th.head_prfix_empty {
	background:white;
	border: none;
}
th.head_prfix {
	text-align: left;
}
th.small_head_prfix{
	width : 70px;
	text-align: left;
}
.container_canvas {
	width:100%;
	height:800px;
}
