.QIR_padded {
	margin-left : 10px;
	margin-top : 10px;
}

.QIR_blockMenu{
    float:left;
    margin: 10px 20px 20px 10px;
	padding-left:10px;
    /* rounded box */
    background-color: #D4DDF1;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #A5A5A5;
}

.QIR_contentMenuBox {
    width:170px;
    min-height: 250px;
}

.QIR_contentMenuBox .titlebox {
	font-weight : bold;
	font-size : larger;
	padding-bottom : 10px;
	border-bottom : double;
	text-align : center;
	display: block;
	margin : 5px 0px;
	margin-left : -10px;
}

.QIR_contentMenuBox ul {
	padding-left : 45px;
	list-style: decimal;
}

.QIR_contentMenuBox ul li {
	padding : 4px 5px;
}

.QIR_qualityBox {
	background-image : url(images/qir_quality.png);
	background-position: top left;
	background-repeat : no-repeat;
}

.QIR_scheduleBox {
    background-image : url(images/qir_schedule.png);
    background-position: top left;
    background-repeat : no-repeat;
}

.QIR_contentBox {
    background-image : url(images/qir_content.png);
    background-position: top left;
    background-repeat : no-repeat;
}

.QIR_scaleBox {
    background-image : url(images/qir_scale.png);
    background-position: top left;
    background-repeat : no-repeat;
}

.QIR_jecBox {
    background-image : url(images/help-32x32.png);
    background-position: top left;
    background-repeat : no-repeat;
}

.QIR_dleBox {
    background-image : url(images/help-32x32.png);
    background-position: top left;
    background-repeat : no-repeat;
}

.QIR_frameNotes {
	font-size:smaller;
}

/** display CSS **/
.QIR_displayBlock {
	display:block;
    margin: 10px 20px 20px 10px;
	width : 95%;
	height : 600px;
}

#QIR_displayFrame{
	width : 99%;
	height: 99%;
	border: 2px solid #A5A5A5;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius: 8px 8px 8px 8px;
}
