/** css for rating app begin**/ 	 
 fieldset 	 
                 { 	 
                   margin: 0; 	 
                   padding: 0; 	 
                   border: 0; 	 
                 } 	 
  	 
  	 
           hr{ 	 
                   color: white; 	 
                   background-color: white; 	 
                 } 	 
  	 
  	 
  	 
     #frm{ 	 
                   position: absolute; 	 
                   background: #6884BD; 	 
                   color: white; 	 
                   width: 200px; 	 
                 } 	 
  	 
 #inputs input{ 	 
  	 
                   margin: 10px 10px 10px 40px; 	 
  	 
  	 
                           } 	 
  	 
 #rate label{ 	 
                   float: left; 	 
                   line-height: 30px; 	 
                         } 	 
  	 
 #rate label input{ 	 
                   position: right; 	 
                   top: 2px; 	 
                   right: 2px; 	 
            } 	 
  	 
 .rating div{ 	 
                   display:inline-block; 	 
                   width:25px; 	 
                   height:25px; 	 
                   margin:15px 0 3px 3px; 	 
                   background-image : url(../styles/images/empty-star.png); 	 
                     } 	 
 .selected{ 	 
                   background-image: url(../styles/images/full-star.png) !important; 	 
                  } 	 
  	 
 .highlighted{ 	 
           background-image: url(../styles/images/full-star.png) !important; 	 
                   } 	 
  	 
 #actions a{ 	 
                  font-size: 10px; 	 
                  margin: 0 0 0 96px; 	 
                  border:none; 	 
  	 
                         } 	 
  	 
 #inputs #heading{ 	 
                  font-size: 14px; 	 
                  display: block; 	 
                  margin: 10px 0 0 -2px; 	 
                   } 	 
  	 
 #inputs #divider{ 	 
                  border-bottom: 1px solid #D7DFE4; 	 
                  overflow: hidden; 	 
                  padding: 10px 0; 	 
                  vertical-align: top; 	 
                  margin: 0 0 -1px; 	 
                         } 	 
  	 
 #monthyear{ 	 
                  margin:10px 0 0 20px; 	 
           } 	 
  	 
 #vote_submit{ 	 
                  margin:0 0 0 50px; 	 
        } 	 
  	 
 .rating{ 	 
          display:inline-block; padding:0px; 	 
        } 	 
  	 
 #votebutton{ 	 
                  margin:0 0 0 65px; 	 
         } 	 
  	 
 #hoverstars{ 	 
                 margin:10px 0 0 7px; 	 
                 } 	 
  	 
  	 
 .jquery-ratings-star { 	 
                  width: 36px; 	 
                  height: 36px; 	 
                  background-image: url(../styles/images/empty-star.png) !important; 	 
                  position: relative; 	 
                  float: left; 	 
                  margin-right: 0 0 0 0; 	 
                 } 	 
  	 
 .jquery-ratings-full { 	 
                  background-image: url(../styles/images/full-star.png) !important; 	 
                  } 	 
  	 
  	 
 #starimages{ 	 
                  margin: -10px 0 0 2px; 	 
                  } 	 
  	 
 span.stars, span.stars span { 	 
                  display: block; 	 
                  background:url(../styles/images/stars.png) 0 -16px repeat-x; 	 
                  width: 80px; 	 
                  height: 16px; 	
                  vertical-align: middle; 
                 } 	 
  	 
  	 
 span.stars span { 	 
                background-position: 0 0; 	 
    } 	 
  	 
 #icon{ 	 
                  margin-left:0px; 	 
      } 	 
  	 
 #usericon{ 	 
                   display: block; 	 
                   background:url(../styles/images/user.png); 	 
                   width:18px; 	 
                   height:16px; 	 
                   margin:9px 0 0 20px; 	 
                   float: left; 	 
                 } 	 
  	 
 #opportunity{ 	 
           margin:0px 0 0 15px; 	 
         } 	 
 #avgrateingtext{ 	 
           margin:10px 0 0 10px; 	 
         } 	 
  	 
 #avgstars{ 	 
           margin:-17px 0 0 82px; 	 
         } 	 
  	 
 #finaltotal{ 	 
            margin:12px 0 0 30px; 	 
           } 	 
  	 
 .bargraph { 	 
            width:130px; 	 
           } 	 
  	 
 div.bargraph div { 	 
                         height: 11px; 	 
  	 
                         font-style: italic; 	 
  	 
                         font-size: 10px; 	 
  	 
  	 
                         } 	 
  	 
 div.bargraph div.green { 	 
                          background: #97B546; 	 
                          margin:-63px 0 0 35px; 	 
                         } 	 
  	 
 div.bargraph div.orange { 	 
              background: #F99C1C; 	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraph div.blue { 	 
                          background: #00AEEF; 	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraph div.pink { 	 
                          background: #E55A6B; 	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraph div.reddeep { 	 
                          background: #ED1C24; 	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraphval div { 	 
                         height: 11px; 	 
  	 
                         font-style: italic; 	 
  	 
                         font-size: 11px; 	 
  	 
  	 
                         } 	 
 div.bargraphval div.greenval { 	 
  	 
                          margin:-63px 0 0 35px; 	 
                         } 	 
  	 
 div.bargraphval div.orangeval { 	 
  	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraphval div.blueval { 	 
  	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraphval div.pinkval { 	 
  	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 div.bargraphval div.reddeepval { 	 
  	 
                          margin:2px 0 0 35px; 	 
             } 	 
  	 
 #reason 	 
 { 	 
         color:#514223; 	 
         margin:10px 0 0 15px; 	 
 } 	 
 /** css for rating app end**/
