/ * Guided Tour styles */
body, html, form {
  font-size: 16px;
}
#footer {
  height: 20px;
}
#prevnext {
  font-weight: bold;
  font-family: Arial;
  padding: 10px 0px 15px 0px;
}

.screenshot {
  vertical-align: top;
  margin: 5px 0px 5px 0px;
  border: 1px solid #AEAEAE;
}

#content li {
  margin-bottom: 1em;
}

.boxed {
  padding: 5px 15px 5px 15px;
}
.no-tour {
  display: none;
}
